/* FONT FAMILY -------------------------------------------------- FONT FAMILY */
/* Custom  - blue hsl(245, 60%    red hsl(350, 90%    base hsl(240, 5%        */
/* proportional font family   */
body { color: hsl(240, 5%, 14%);
  font-family: 'Lucida Sans', 'Lucida Sans Unicode',
    Verdana, Arial, Helvetica, sans-serif;
}

/* monospace font family */
div.discussion a, ul.see a,
#y_measure_50pre code,
pre, code, tt, xmp, plaintext, listing,
h3.signature   , p.signature,
h3.inherited a , p.inherited a,
h3.signature .aliases .names,
 p.signature .aliases .names,
td span.summary_signature,
ul.summary.compact,
dl.summary.compact,
ul.summary span.summary_signature,
div.tags span.type, div.tags span.name,
ul.param em.default,
.tags .overload .signature,
.summary .note.title.event,
dl.constants dt, dl.constants dd pre,
.tags .callback .callback_item .signature,
ul.fullTree, .source_code 
{ font-family: 'Roboto Mono',
  Menlo, 'Lucida Console', 'Courier New', monospace; }

nav.y_nav a,
h3.signature .extras           , p.signature .extras,
h3.signature .aliases          , p.signature .aliases,
h3.signature a.permalink       , p.signature a.permalink,
h3.signature .not_defined_here , p.signature .not_defined_here,
div.index a { font-family: 'Lucida Sans', 'Lucida Sans Unicode',
  Verdana, Arial, Helvetica, sans-serif; }

/* FONT WEIGHT -------------------------------------------------- FONT WEIGHT */

/* proportional font weights - headings, tag titles */
#toc_header div, #list_title,
dt, h1, h2, h3, h4, h5, h6, strong,
.tags .examples .tag_title,
.tags .examples .inline p,
.tags p.tag_title,
ul.multi > li,
.rdoc-term { font-weight: 600; }

 p.signature .extras,
h3.signature .extras { font-weight: 400; }

/* monospace font weights */

div.discussion a, ul.see a,
 p.signature strong,  p.signature .aliases .names,
h3.signature strong, h3.signature .aliases .names,
span.summary_signature strong,
span.signature strong,
.tags span.name,
.tags p.tag_title tt,
strong > code,
h1 code, h2 code,
h3 code, h4 code,
h5 code, h6 code,
dl.rdoc-list dt code,
dl.summary.compact dt,
dl.summary.full dt,
ul.summary.compact li strong { font-weight: 500; }




/* ANCHOR COLOR ------------------------------------------------ ANCHOR COLOR */

a, a:hover, a:visited, a.permalink { color: hsl(245, 60%, 30%);
  text-decoration: none; }

a:hover { background: hsl(240, 5%, 85%); border-radius: 0.3333em; }

span.summary_desc a,
div.discussion a {       background: hsl(270, 15%, 95%); border-radius: 0.3333em; }
span.summary_desc a:hover,
div.discussion a:hover { background: hsl(240, 5%, 85%); }

a.inheritanceTree:hover,
a.toggleDefines:hover,
nav a:hover { border-radius: 0; }

/* HEADER SHADING -------------------------------------------- HEADER SHADING */

#list_header, #list_header:hover {
  background: rgb(248,248,248);
  background: linear-gradient( rgb(248,248,248), rgb(225,226,229) );
  } /* 5.4000em */

  #y_header,   #y_header:hover,
#toc_header, #toc_header:hover {
  background: rgb(248,248,248);
  background: linear-gradient( rgb(248,248,248), rgb(232,233,236) );
} /* 3.5333em */

/* HEADER BUTTONS -------------------------------------------- HEADER BUTTONS */

#hdr_button button { background: hsl(240, 5%, 100%);
                          color: hsl(240, 5%, 30%); }

#hdr_button button svg { fill: hsl(240, 5%, 30%); }

#hdr_button button:disabled { color: #ddd;
  background: transparent;
}

#hdr_button button.vis {
  background: hsl(240, 5%, 100%);
}

#hdr_button button.h {
  background: linear-gradient( rgb(232,233,234), rgb(248,248,246) );
}

/* HEADINGS -------------------------------------------------------- HEADINGS */
/*  h1 25   h2 21   h3 19   h4 17   h5 16   h6 15 */
h1 { font-size: 1.6667em; margin: 1.0000em -0.5200em 0.4400em;
  padding: 0 0.5200em 0; line-height: 1.3600em; min-height: 1.3333em; }
h2 { font-size: 1.4000em; margin: 1.0000em -0.6190em 0.3810em;
  padding: 0 0.6190em 0; line-height: 1.1905em;
  border-top-width: 4px; }
h3 { font-size: 1.2667em; margin: 1.0000em -0.6842em 0.3158em;
  padding: 0 0.6842em 0; line-height: 1.3684em;
  border-top-width: 3px; }
h4 { font-size: 1.1333em; margin: 1.0000em -0.7647em 0.2353em;
  padding: 0 0.7647em 0; line-height: 1.3529em; min-height: 1.7059em;
  border-top-width: 2px; }
h5 { font-size: 1.0667em; margin: 1.0000em -0.8125em 0.1875em;
  padding: 0 0.8125em 0; line-height: 1.3750em; min-height: 1.8126em;
  border-top-width: 1px; }
h6 { font-size: 1.0000em; margin: 0.3333em 0 0.1333em;
  padding: 0; line-height: 1.4667em; 
  border-top-width: 0; }

h2, h3, h4, h5, h6 { border-top-color: hsl(240, 5%, 65%);
  border-top-style: solid; }

/* relative needed for expand / collapse */
h2 { border-bottom: 0; position: relative; }

/* content clicked class background */
h1.clicked, h2.clicked, h3.clicked,
h4.clicked, h5.clicked, h6.clicked {
  color: hsl(240, 5%, 10%);
  background: linear-gradient(to right, hsl(240, 5%, 80%), hsl(240, 5%, 85%));
}

/* SUMMARY SIGNATURES ------------------------------------ SUMMARY SIGNATURES */

ul.index_inline_list a,
td         span.summary_signature,
ul.summary.compact a,
dl.summary.compact a,
ul.summary span.summary_signature {
    padding: 0 0.6000em;
  line-height: 1.8000em;
   min-height: 1.8667em;
  background: linear-gradient(hsl(240, 5%, 94%), hsl(240, 5%, 92%));
  border: 0;
  display: inline-block;
  cursor: pointer;
}

dl.summary.compact a { padding-top: 0.0667em; }

dl.summary.compact a:hover { background: hsl(240, 5%, 85%); }


/* SIGNATURE ------------------------------------------------------ SIGNATURE */

 p.signature,
h3.signature {
       font-size: 1.000em; /* back down from h3 */
     font-weight: normal;
     line-height: 1.33333em;
      min-height: 1.9334em;
         padding: 0.1333em  0.8667em 0.1333em;
          margin: 1.0000em -0.8667em 0.4000em;
      border-top: 2px solid hsl(240, 5%, 67%);
   border-bottom: 2px solid hsl(240, 5%, 67%);
      background: hsl(240, 5%, 96%);
}

 p.signature tt,
h3.signature tt { font-size: 1.0000em; }

 p.signature.clicked,
h3.signature.clicked {
  color: hsl(240, 5%, 10%);
  border-color: hsl(240, 5%, 30%);
  background: linear-gradient(to right, hsl(240, 5%, 83%), hsl(240, 5%, 88%));
}

/* h3.signature.clicked span.object_link a { color: hsl(245, 60%, 30%); } */
h3.signature.clicked a { color: hsl(245, 60%, 30%); }
 p.signature .extras,
h3.signature .extras { color: hsl(240, 5%, 25%); } /* font-weight: 600; */

/* LIST BACKGROUND ------------------------------------------ LIST BACKGROUND */

/* LIST Odd Shading */
nav.l_nav li.odd {
  background: linear-gradient(hsl(240, 5%, 97%), hsl(240, 5%, 100%));
}

nav.l_nav .class li.odd > div,
nav.l_nav .class li.odd > a {
  background: linear-gradient(hsl(240, 5%, 98%), hsl(240, 5%, 100%)); }

/* LIST Even Shading */
nav.l_nav li.even {
  background: linear-gradient(hsl(240, 5%, 94%), hsl(240, 5%, 91%)); }

nav.l_nav .class li.even > div,
nav.l_nav .class li.even > a {
  background: linear-gradient(hsl(240, 5%, 94%), hsl(240, 5%, 92%)); }


/* TOC List Background */
nav.t_nav li > a, nav.t_nav div {
  border-bottom: 1px solid hsl(240, 5%, 80%);
     background: linear-gradient(hsl(240, 5%, 100%), hsl(240, 5%, 98%)); }

/* Panes hover */
nav.y_nav .class li:hover {background: transparent; }
nav.y_nav li:hover,
nav.y_nav .class li > a:hover,
nav.y_nav .class li > div:hover { background: hsl(240, 5%, 86%); }

/* Panes clicked class background */
nav.y_nav .class li.clicked { background: transparent; }

nav.y_nav .class li.clicked > div,
nav.y_nav .class li.clicked > a {
  background: linear-gradient(hsl(240, 5%, 81%), hsl(240, 5%, 84%));
  color: hsl(245, 60%, 25%);
}

nav.y_nav .class li.clicked div > a:hover { background: transparent; }

nav.y_nav li.clicked,
nav.t_nav li.clicked > a
nav.t_nav li.clicked > a:hover {
  background: linear-gradient(hsl(240, 5%, 81%), hsl(240, 5%, 84%)); }

/* LIST COLORS -------------------------------------------------- LIST COLORS */

#list_menu a:hover { background: hsl(240, 5%, 85%); border-radius: 0.3333em; }

nav.l_nav small,
nav.l_nav span { color: hsl(240, 5%, 45%); }

nav.y_nav button  {
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%27%23999%27%20viewBox%3D%270%200%2015%2012%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Crect%20x%3D%273%27%20y%3D%275%27%20width%3D%2712%27%20height%3D%272%27%2F%3E%3C%2Fsvg%3E");
}
/* <svg fill='#999' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'><rect x='3' y='5' width='12' height='2'/></svg> */

nav.y_nav li.yl_closed > div button  {
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%27%23999%27%20viewBox%3D%270%200%2015%2012%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Crect%20x%3D%273%27%20y%3D%275%27%20width%3D%2712%27%20height%3D%272%27%2F%3E%3Crect%20x%3D%278%27%20y%3D%270%27%20width%3D%272%27%20height%3D%2712%27%2F%3E%3C%2Fsvg%3E");
}
/* <svg fill='#999' viewBox='0 0 15 12' xmlns='http://www.w3.org/2000/svg'><rect x='3' y='5' width='12' height='2'/><rect x='8' y='0' width='2' height='12'/></svg> */

/* Panes clicked class color */
nav.l_nav li.clicked small,
nav.l_nav li.clicked span { color: hsl(240, 5%, 32%); }

nav.l_nav li.clicked:hover small,
nav.l_nav li.clicked:hover span { color: hsl(240, 5%, 32%); }

/* 656 fill darken svg */
nav.y_nav li.clicked > div button  {
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%27%23656%27%20viewBox%3D%270%200%2015%2012%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Crect%20x%3D%273%27%20y%3D%275%27%20width%3D%2712%27%20height%3D%272%27%2F%3E%3C%2Fsvg%3E");
}

nav.y_nav li.clicked.yl_closed > div > button  {
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%27%23656%27%20viewBox%3D%270%200%2015%2012%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Crect%20x%3D%273%27%20y%3D%275%27%20width%3D%2712%27%20height%3D%272%27%2F%3E%3Crect%20x%3D%278%27%20y%3D%270%27%20width%3D%272%27%20height%3D%2712%27%2F%3E%3C%2Fsvg%3E");
}

/* MISC UI ELEMENTS ---------------------------------------- MISC UI ELEMENTS */

ul.summary .summary_signature:hover,
dl.constants.compact dt:hover { background: hsl(240, 5%, 85%); }

dl { border: 0; }
dt {
  background: linear-gradient(hsl(240, 5%, 94%), hsl(240, 5%, 92%));
  display: inline-block;
  padding: 0.2000em 0.6000em;
}
dd { margin-left: 2.000em; }

.index_inline_list li:hover,
.index_inline_list li:hover a,
#content .index_inline_list li a:hover { background: hsl(240, 5%, 85%); }

/* Red paragraph monospace text, markup with ++ */
p > code, .docstring p > tt, .tags p > tt {
  color: hsl(0, 80%, 20%); padding: 0; }

pre.code, .tags pre.example { border-radius: 0; min-height: 1.8667em; }


/* anchors in description text, markup with {} */
/* .summary_desc .object_link a, .docstring .object_link a { */
.summary_desc a, .docstring a {
     padding: 0.0667em 0.0667em;
}

div.showSource a { color: hsl(240, 5%, 25%); }

/* expand collapse Summary sections */
h2 small  {
     position: absolute;
  font-weight: normal;
    font-size: 0.6667em;
        right: 0.6429em;
       bottom: 0.2000em;
        width: 4.6429em;
   text-align: center;
}

h2 small a.summary_toggle { color: hsl(240, 5%, 20%); line-height: 1.500em; }

/* yard-js css */
.tags .callback .callback_item .signature {
     padding: 0.0667em 0.8em 0.1333em;
      margin: 0.2000em 0 0.4667em -1.0em;
  min-height: 1.9334em;
  background: hsl(240, 5%, 97%);
      border: 1px solid hsl(240, 5%, 65%);
  display: block;
}

.signature .permalink { float: right; font-size: 0.8667em; }

div.t2_2 {
  display: inline-block;
  max-width: 50%;
  min-width: 40%;
  padding-right: 0;
}

div.t2_2.t2_l { padding-right: 2.0em; }

table.t2_tbl_1 {
  border: 0 none;
}

table.t2_tbl_1 thead {
  border-bottom: 0.1333em solid  hsl(240, 5%, 65%);
  font-weight: 600;
}

table.t2_tbl_1 tbody tr {
  box-sizing: border-box;
  background: transparent !important;
  border-top: 0.0667em solid  transparent;
}

table.t2_tbl_1 tbody tr.t2_div {
  border-top: 0.0667em solid  hsl(240, 5%, 65%);
}

tr.t2_b span.summary_signature { padding: 0; }

tr.t2_b span.summary_signature:hover {
  background: hsl(240, 5%, 85%); }

ul.summary #t2_rc {
  font-family: 'Lucida Sans', 'Lucida Sans Unicode',
    Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: 500; }

tr.t2_b h6 { display: inherit; min-height: inherit; line-height: 1.8000em;
  padding: 0 0.6000em; margin: 0; font-weight: 500; }

table.t2_tbl_1 tbody tr.t2_b    { font-weight: 600; }

table.t2_tbl_1 tbody tr.t2_b td { padding: 0.2000em 0.4667em 0; }

table.t2_tbl_1 tbody tr.t2_s {
   border-bottom: 0.0667em solid  hsl(240, 5%, 65%);;
}

table.t2_tbl_1 tbody tr.t2_s td { padding: 0 0.4667em 0.2000em; }

table.t2_tbl_1 thead td { vertical-align: bottom; }

table.t2_tbl_1 thead td.t2_csa { column-span: all; }

table.t2_tbl_1 td { border: 0 none; padding: 0.2000em 0.4667em; }

table.t2_tbl_1 td.t2_c { text-align: center; }
table.t2_tbl_1 td.t2_r { text-align: right;  }

div.t2_cols_2 {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 50%;
     -moz-column-width: 50%;
          column-width: 50%;
}

div.t2_cols_3 {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-width: 33%;
     -moz-column-width: 33%;
          column-width: 33%;
}