@font-face {
  font-family: 'Roboto Mono';
   font-style: normal;
  font-weight: 400; 
  src: local('Roboto Mono'),
       local('RobotoMono-Regular'),
       url(//brick.a.ssl.fastly.net/fonts/robotomono/400.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
   font-style: italic;
  font-weight:400;
  src: local('Roboto Mono Italic'),
       local('RobotoMono-Italic'),
       url(//brick.a.ssl.fastly.net/fonts/robotomono/400i.woff) format('woff');
  }
  
@font-face {
  font-family: 'Roboto Mono';
   font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Medium'),
       local('RobotoMono-Medium'),
       url(//brick.a.ssl.fastly.net/fonts/robotomono/500.woff) format('woff');
}

@font-face{
  font-family: 'Roboto Mono';
   font-style: italic;
  font-weight: 500;
  src: local('Roboto Mono Medium Italic'),
       local('RobotoMono-MediumItalic'),
       url(//brick.a.ssl.fastly.net/fonts/robotomono/500i.woff) format('woff');
}