:focus { outline: none; }
::-moz-focus-inner {border: 0 none; }

#hdr_button, #toc_header, #list_header, #y_debug {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#y_list { min-width: 18em; max-width: 40em; background: rgb(253,253,253); }
#y_toc  { min-width: 17em; max-width: 30em; background: rgb(253,253,253); }

/* d = docked   f = floating   h = hidden   t = touch  */
#y_list.d,   #y_toc.d   { display: table-cell;
  z-index: 500;
  position: relative;
  height: 100vh;
  border-right: 0.0667em solid #e0e0e0;
}

#y_list.f,   #y_toc.f   { top: 4.0em;
     right: 2.0em;
   display: block;
   z-index: 500;
  position: absolute;
    border: 0.0667em solid #aaa;
  border-radius: 0.4em;
  box-shadow: -0.4667em 0.3333em 1.0em rgba(128,128,128,0.5);
}

#y_list.h, #y_list.h button.y_sizer,
 #y_toc.h,  #y_toc.h button.y_sizer { z-index: -500; }

#y_list.d.h, #y_toc.d.h { display: none; }

#y_list.f.h, #y_toc.f.h { visibility: hidden; }

#y_list.f.t, #y_toc.f.t { right: 0.5em; }

#list_header { height: 5.400em;
  padding-left: 0.4em;
   padding-top: 0.1333em;
  position: relative;
}

#list_header button, #toc_header button {
  position: absolute;
   height: 1.6000em;
    width: 1.6000em;
  padding: 0;
   margin: 0;
   border: 0 none transparent;
   bottom: 0.3333em;
  border-radius: 0.2667em;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
    background-size: 0.9334em;
  background-position: center center;
}

#list_header button:hover, #toc_header button:hover { background-color: #fff; }

button.y_minus { right: 2.2em;
  background-image: url("data:image/svg+xml,%3Csvg%20class%3D%27plus_minus%27%20fill%3D%27%23999%27%20viewBox%3D%270%200%2014%2014%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Crect%20x%3D%270%27%20y%3D%276%27%20width%3D%2714%27%20height%3D%272%27%2F%3E%3C%2Fsvg%3E");
}
/* <svg fill='#999' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'><rect x='0' y='6' width='14' height='2'/></svg> */

button.y_plus  { right: 0.3333em;
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%27%23999%27%20viewBox%3D%270%200%2014%2014%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Crect%20x%3D%270%27%20y%3D%276%27%20width%3D%2714%27%20height%3D%272%27%2F%3E%3Crect%20x%3D%276%27%20y%3D%270%27%20width%3D%272%27%20height%3D%2714%27%2F%3E%3C%2Fsvg%3E");
}
/* <svg fill='#999' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'><rect x='0' y='6' width='14' height='2'/><rect x='6' y='0' width='2' height='14'/></svg> */

button.y_minus:disabled, button.y_plus:disabled { visibility: hidden; }

#toc_header { padding-top: 0.1333em; position: relative; }

/* List Titles */
#list_title, #toc_header div { font-size: 1.13333em; }

#list_title {
  padding: 0em;
  text-align: right;
  width: 9.0em;
  text-transform: capitalize; }

#toc_header div { margin-left: 2.3529em; }


button.y_sizer {
  position: absolute;
       top: 0.2em;
   padding: 0 0 0.4667em;
     width: 2.4em;
    height: 1.2em;
    cursor: col-resize;
   z-index: 500;
  border: 0 none transparent;
  border-radius: 0.2667em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.80em;
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%27%23999%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2041%2020%27%3E%3Cpath%20d%3D%27M18%200%20L0%2010%2018%2020%27%2F%3E%3Cpath%20d%3D%27M23%200%20L41%2010%2023%2020%27%2F%3E%3C%2Fsvg%3E");
}
/* <svg fill='#999' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 41 20'><path d='M18 0 L0 10 18 20'/><path d='M23 0 L41 10 23 20'/></svg> */

button.y_sizer:hover { background-color: #fff; }

div.d button.y_sizer { left: auto;  right: 0.2em; }
div.f button.y_sizer { left: 0.2em; right: auto;  }

#list_header a, #list_header a:visited { text-decoration: none; }

#list_menu {
  font-size: 0.8667em;
  display: block;
  color: #aaa;
  padding: 0.167em 0.0em 0.50em;
  overflow: hidden;
}

#list_search_text {
  box-sizing: border-box;
  background-color: #fff;
  border: 0.1em solid #ccc;
  border-radius: 0.2em;
  font-size: 1.0em;
  height: 1.6em;
  width: 10.0em;
  margin: 0em;
  padding-left: 0.2em;
  -webkit-appearance: none;
}

#list_search_text,
#list_search_items em {
  font-style: normal;
  color: rgb(160,16,120);
  letter-spacing: 0;
}

#list_search_items em { padding-left: 0; padding-right: 0; }

#list_search_icon {
  vertical-align: top;
   width: 2.0em;
  height: 1.6em;
  margin: 0em;
}

#list_search_icon path.s_clear { fill: rgb(160,16,120); display: none; }

#list_search_icon.s_clr { cursor: pointer; }
#list_search_icon.s_clr path.s_clear { display: block; }

#list_search_icon path.s_main       { fill: rgb(136,136,136); }
#list_search_icon.s_clr path.s_main { fill: rgb(142,142,142); }

#list_menu span {line-height: 1.6667em; }
#list_menu span:after { content: ' | '; }
#list_menu span:last-child:after { content: ''; }

#y_list.d #list_nav,
 #y_toc.d #toc_nav  {
  position: absolute;
   right: 0;
  bottom: 0;
    left: 0;
}

/* 4.0 + 5.4 + 0.5 = 9.9 */
#y_list.f #list_nav { max-height: calc(100vh - 9.9em); }

/* 4.0 + 3.5334 + 0.5 = 8.0334 */
#y_toc.f #toc_nav { max-height: calc(100vh - 8.0334em); }

#y_list.d #list_nav { top: 5.4em; overflow-x: hidden; }
 #y_toc.d #toc_nav { top: 3.5334em; }

#list_search_list li.clicked em { color: rgb(240,72,176); }

#list_items li, #toc_items li { display: block; }

#list_items li.yl_closed > ul,
#toc_items  li.yl_closed > ol { display: none; }

/* below for Firefox - scrollbar issue */
nav.y_nav > ul, nav.y_nav > ol { padding-bottom: 1px; } 

nav.y_nav ul, nav.y_nav ol {
  width: 100%;
  list-style: none;
  overflow-x: hidden;
  cursor: pointer;
  padding-left: 0;
}

nav.y_nav li > a, nav.y_nav li div  {
  min-height: 1.8667em;
     display: block;
}

nav.l_nav li > a, nav.l_nav li div  { padding-top: 0.2667em; }
nav.t_nav li > a, nav.t_nav li div  { padding-top: 0.2000em; }

nav.y_nav div.item span,
nav.y_nav div.item span a { display: block; }

nav.y_nav ul.exception a,
nav.y_nav ul.file a,
nav.y_nav div.item span a { padding-left: 0.80em; }

nav.l_nav { white-space: nowrap; }

nav.l_nav ul.method   li,
nav.l_nav ul.property li {
  height: 2.6667em;
  padding-left: 0.80em;
   padding-top: 0.1333em;
}

nav.l_nav ul.method   a,
nav.l_nav ul.property a {
  padding: 0;
  min-height: 0;
  height: 1.2667em;
}

nav.l_nav ul.method   small,
nav.l_nav ul.property small { display: block; font-size: 0.8667em; }

nav.l_nav ul.method   li:hover a,
nav.l_nav ul.property li:hover a   { background: transparent;  }

nav.l_nav li.deprecated { text-decoration: line-through;
  font-style: italic; letter-spacing: 0.6667px; }

#list_items.class small { display: none; }

nav.l_nav li small.search_info { display: none; }

nav.l_nav ul.class li.odd, nav.l_nav .class li.even { background: none; }

nav.y_nav button  {
  margin-top: -0.2667em;
  height: 1.8667em;
  vertical-align: top;
  display: inline-block;
  border: 0 none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 0.2667em top 0.4667em;
  background-size: 1.00em 0.80em;
  cursor: pointer;
  padding: 0em;
  outline: 0;
}

nav.y_nav button:hover { background-color: transparent; }

nav.y_nav button:active { outline: 0; }

#y_toc div > a, #list_items div > a { display: inline-block; padding-bottom: 0.2em; }

nav.t_nav a { padding-bottom: 0.2em; padding-right: 0.4em; } /* TOC word wrap */

/* need all of the descendant selectors or all will match */
ol.lvl0 > li > a, ul.lvl0 > li > a { padding-left:  1.6em; }
ol.lvl1 > li > a, ul.lvl1 > li > a { padding-left:  2.6em; }
ol.lvl2 > li > a, ul.lvl2 > li > a { padding-left:  3.6em; }
ol.lvl3 > li > a, ul.lvl3 > li > a { padding-left:  4.6em; }
ol.lvl4 > li > a, ul.lvl4 > li > a { padding-left:  5.6em; }
ol.lvl5 > li > a, ul.lvl5 > li > a { padding-left:  6.6em; }
ol.lvl6 > li > a, ul.lvl6 > li > a { padding-left:  7.6em; }
ol.lvl7 > li > a, ul.lvl7 > li > a { padding-left:  8.6em; }
ol.lvl8 > li > a, ul.lvl8 > li > a { padding-left:  9.6em; }
ol.lvl9 > li > a, ul.lvl9 > li > a { padding-left: 10.6em; }

/* below needed for word wrap in TOC */
ol.lvl0 > li > div > a { width: calc(100% -  2.0em); }
ol.lvl1 > li > div > a { width: calc(100% -  3.0em); }
ol.lvl2 > li > div > a { width: calc(100% -  4.0em); }
ol.lvl3 > li > div > a { width: calc(100% -  5.0em); }
ol.lvl4 > li > div > a { width: calc(100% -  6.0em); }
ol.lvl5 > li > div > a { width: calc(100% -  7.0em); }
ol.lvl6 > li > div > a { width: calc(100% -  8.0em); }
ol.lvl7 > li > div > a { width: calc(100% -  9.0em); }
ol.lvl8 > li > div > a { width: calc(100% - 10.0em); }
ol.lvl9 > li > div > a { width: calc(100% - 11.0em); }

ol.lvl0 > li > div > button, ul.lvl0 > li > div > button { width:  1.6em; }
ol.lvl1 > li > div > button, ul.lvl1 > li > div > button { width:  2.6em; }
ol.lvl2 > li > div > button, ul.lvl2 > li > div > button { width:  3.6em; }
ol.lvl3 > li > div > button, ul.lvl3 > li > div > button { width:  4.6em; }
ol.lvl4 > li > div > button, ul.lvl4 > li > div > button { width:  5.6em; }
ol.lvl5 > li > div > button, ul.lvl5 > li > div > button { width:  6.6em; }
ol.lvl6 > li > div > button, ul.lvl6 > li > div > button { width:  7.6em; }
ol.lvl7 > li > div > button, ul.lvl7 > li > div > button { width:  8.6em; }
ol.lvl8 > li > div > button, ul.lvl8 > li > div > button { width:  9.6em; }
ol.lvl9 > li > div > button, ul.lvl9 > li > div > button { width: 10.6em; }
