html, body, #tbl_cont {
 box-sizing: border-box;
    border: 0 none;
    margin: 0;
   padding: 0;
     width: 100vw;
    height: 100vh;
   outline: transparent none 0;
  overflow: hidden;
}

html { font-size: 15px; }

body { font-size: 15px; line-height: 1.3333em;}

a, button, div, dd, dl, dt, header, li, ol, p, pre, span, ul,
h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.0em;
}

em { font-style: italic; letter-spacing: 0.6667px; }

#tbl_cont {  display: table; position: relative; border-collapse: separate; }

nav { border-collapse: collapse; }

#content, #list_nav, #toc_nav {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
/*  overflow-scrolling: touch; */
  overflow-y: auto;
}

#y_header, #list_header, #toc_header {
  -webkit-tap-highlight-color: transparent; }

p { margin: 0.3333em 0.0em 0.4000em; }

ol { padding-left: 2.2em; }
ul { padding-left: 1.33em; }

dl { border: 1px solid #ccc; }
dt { background: #e4e4e4; padding: 0.2em 0.33em; }
dd { padding: 0.20em 0em; margin-left: 1.2em; }

pre.code, .tags pre.example, .note {
  margin: 0.7333em 0 0.6667em;
}

#y_main, #content, #y_list, #y_toc {
  box-sizing: border-box;
  border: 0 none;
  cursor: auto;
  margin:  0em;
  padding: 0em;
  overflow: hidden;
  outline: transparent none 0;
  vertical-align: top;
}

#y_main { display: table-cell; height: 100vh; }

#y_main, #content { max-width: 100vw; }

div.y_table { overflow-x: auto; }

#content {
  font-size: 1.0em;
  line-height: 1.4667em;
  width: 100%;
  height: calc(100vh - 3.5334em);
  overflow-x: auto;
  overflow-y: scroll;
  padding: 0em 1.0em;
  background: #fff;
}

#y_header, #toc_header { height: 3.5334em; }

#hdr_button {
  top: 0.7333em;
  position: absolute;
  right: 0.7161em;
  text-align: right;
}

#hdr_button button {
  border: 0 none;
  border-radius: 0.3158em;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.2667em;
  line-height: 1.4737em;
  height: 1.4737em;
  text-align: center;
}

#list_vis, #toc_vis       { min-width: 2.8421em; }
#list_loc, #toc_loc, #src { min-width: 2.2632em; }

#list_loc, #list_vis { margin-left: 0.5263em; }
#toc_loc, #toc_vis { margin-left: 0.2632em; }

#hdr_button button svg { height: 0.7368em; width: 0.9474em; }

#hdr_button button:disabled svg { fill: #ccc; }

#hdr_button button.d svg.f { display: none; }
#hdr_button button.f svg.d { display: none; }

#hdr_button button.o svg.c { display: none; }
#hdr_button button.c svg.o { display: none; }

#hdr_button button:focus {outline: 0;}

#list_href {visibility: hidden; display: none; }

form.search { display: none; }

.y_measure {
  visibility: hidden;
  color: transparent;
  background: transparent;
  margin: 0; padding: 0; height: 0; line-height: 0;
  display: inline-block;
}

#y_measure_em { width: 30em; }
#y_measure_vh { width: 25vh; }

#search { display: none; }
#search_frame { display: none; }

#y_main img { max-width: 100%; overflow-x: hidden; }

h1:first-of-type { margin-top: 0.20em; }
h1.noborder { border-top: 0; margin-top: 0; padding-top: 0.24em; }
h1.title { margin-bottom: 0.40em; }
h1.alphaindex { margin-top: 0; font-size: 1.4667em; }

/* expand collapse Summary sections */
h2 small a { display: block; }


.clear { clear: both; }
.inline { display: inline; }
.inline p:first-child { display: inline; }

pre, pre > code { margin: 0; padding: 0; }

/* Code Listing ------------------------------------------------ Code Listing */
pre.code, .tags pre.example {
  padding: 0.2em 0.8em;
  border: 1px solid hsl(240,  13%,  88%);
  background:       hsl(240,  14%,  98%);
  overflow-x: auto;
  line-height: 1.3333em;
}

div.source_code {
  overflow-x: hidden;
  overflow-y: hidden;
  border-left: 0.4667em solid #ccc;
  padding-top: 0.2667em;
   margin-top: 0.1333em;
  line-height: 1.3333em;
  width: 100%;
  vertical-align: top;
}

/* code elements *not* in source listings or examples */
p > code, p > span.note > code, p > strong > code, li > code {
  padding: 0em 0.1333em;
  line-height: 1.3333em;
}

.tags pre.example { margin: 0.3333em 0 1.2000em; }

table { border-collapse: collapse; margin: 1.20em 0em; }

table th, table td {
  border: 1px solid #ccc;
  padding: 0.3333em 0.4667em;
}

table tbody tr:nth-child(odd)  { background: hsl(240, 5%,  93%); }
table tbody tr:nth-child(even) { background: hsl(240, 5%, 100%); }

p.note, div.note {
   margin-top: 0.4667em;
   min-height: 1.9334em;
       border: 2px solid #ddd;
  border-left: 0.4667em solid #ccc;
      padding: 0.0667em 0.40em 0;
}

h1 .note.title { font-size: 0.5600em;
  font-weight: normal;
  position: relative; top: -0.2em; text-transform: capitalize; }

.note.title {
  font-size: 0.9333em;
    padding: 0 0.4286em 0.0714em;
     margin: 0;
    display: inline-block;
}

.note.title a { margin-left: 0.2857em; }

.note.title { margin: 0 0 0 0.2143em; padding: 0 0.4286em 0.1429em;
  line-height: 1.3571em;
  border: 2px solid transparent;
  border-radius: 3px;
}

.note.abstract    { border-color: hsl(  0, 65%, 50%); }

.note.constructor { border-color: hsl(221,  80%, 40%); }

.note.deprecated  { border-color: hsl( 60, 100%, 50%); }
                        
.note.writeonly   { border-color: hsl( 85, 100%, 35%); }

.note.readonly    { border-color: hsl( 85, 100%, 35%); }

.note.private     { border-color: hsl(  0, 100%, 45%); }

.note.protected   { border-color: hsl( 22, 100%, 50%); }

.note.mod_func    { border-color: hsl( 30,  30%, 40%); }

.note.not_defined_here a { font-style: normal; }
                               
div.note.returns_void    { background: hsl(240,   5%, 97%); }

div.note.todo            { border-color: hsl(120,  75%, 80%); }

div.discussion div.note  { background: transparent; }

 p.signature .aliases, span.not_defined_here,
h3.signature .aliases, span.not_defined_here { color: hsl(240, 5%, 25%);
    font-size: 0.9333em;
  line-height: 1.4286em;
  display: block;
  padding-left: 2.2143em; }

span.note.title.not_defined_here { background: transparent;
  font-style: italic; letter-spacing: 0.6667px;
  border: 0 none;
  display: inline;
  color: hsl(240, 5%, 15%); }


span.extras span.only { color: hsl( 85, 100%, 25%); }
span.extras span.priv { color: hsl(  0, 100%, 40%); }
span.extras span.prot { color: hsl( 22, 100%, 45%); }

  
h3.inherited {
   font-size: 1.0em;
  font-style: italic; letter-spacing: 0.6667px;
  font-weight: normal;
     line-height: 1.3333em;
          margin: 0.6em 0 0 0;
  padding-bottom: 0.06667em;
}

p.inherited {
  padding: 0;
  margin: 0;
  margin-left: 1.6667em;
}

p.inherited a, h3.inherited a { font-style: normal; }

ul.toplevel { list-style: none; padding-left: 0; font-size: 1.1em; }

dl.summary.h { display: none; }

/* rdoc specific */

.rdoc-term { padding-right: 1.667em; }
.rdoc-list p { margin: 0; padding: 0; margin-bottom: 0.2667em; }

div.docstring dl.rdoc-list.note-list {
  border-left: 0.2667em solid #ccc;
  margin-left: 1em;
}

div.docstring dl.rdoc-list.note-list dt {
  background: transparent;
  padding-bottom: 0;
}

div.docstring dl.rdoc-list.note-list  dd {
  padding-top: 0;
}

/* dl.constants */

dl.constants {
  border: 0 none;
  max-width: 100%;
}

dl.constants > dt {
  background: linear-gradient(hsl(240, 5%, 94%), hsl(240, 5%, 92%));
  display: inline-block;
  border: 0 none;
  vertical-align: top;
}

dl.constants.summary.full > dt {
  padding: 0.2000em 0.6000em;
  margin: 0;
}

dl.constants > dd {
  display: block;
  border: 0 none;
  max-width: 100%;
  margin: 0 0 0.4667em;
  padding: 0;
  padding-left: 1.4667em;
}

dl.constants dd pre.code {
  background: transparent;
  border: 0 none;
  margin: 0.4em 0 0;
  padding: 0;
  white-space: normal;
}

dl.constants .docstring { margin-top: 0.20em; }

dl.constants .docstring .note:first-child { margin-top: 5px; }

dl.constants .docstring { font-weight: normal; }

dl.constants .tags:blank { margin-bottom: 0.2em; background: red; }

dl.constants .discussion *:first-child {    margin-top: 0; }
dl.constants .discussion *:last-child  { margin-bottom: 0; }

.method_details { margin-top: 1.40em; padding-top: 0; }
.method_details.first { margin-top: 1.00em; }

.summary_desc {
  display: block;
    margin-left: 2.00em;
     margin-top: 0.1333em;
  margin-bottom: 0.4667em;
}
.summary_desc tt { font-size: 1.0em; }

 p.signature .overload,
h3.signature .overload { display: block; }

.tags p.tag_title { margin-bottom: 0; }
.tags ul { padding-left: 2.0em; list-style: square; }

.tags ul.overload { margin-top: 0.4em; }

.tags ul .note { padding: 0.2em 0.4em; }

.tags ul li { margin-bottom: 0.1333em; }

/* extra space in constant summary GJL */
.tags { margin-bottom: 0.2000em;  }
.tags:empty { margin-bottom: 0;  }

.tags .examples .tag_title { margin-bottom: 0.6667em; }
.tags .examples .inline p { padding: 0; margin: 0; }

/* \25b6  \25b8  \25ba */


.tags .examples .inline p:before {
  content: "\25b8";
  font-size: 1em;
  margin-right: 0.3333em;
  background: transparent;
}

.tags .overload .overload_item { list-style: none; margin-bottom: 1.0em; }
.tags .overload .overload_item .signature {
    padding: 2px 8px;
    background: hsl(240, 5%, 98%);
    border: 1px solid hsl(245, 30%, 80%);
}
.tags .overload .signature { margin-left: -1.0em; display: block; }
.tags .overload .docstring { margin-top: 1.0em; }

.defines { display: none; }

#method_missing_details .notice.this { padding: 0; margin: 0;
  position: relative;
  top: -0.5em;
  color: #888; }

span.link_repo, span.showSource { font-size: 0.9333em; }

span.link_repo  { min-width: 0; }

span.showSource { margin-right:0.4000em; }

ul.since li { font-weight: normal; }

ul.summary { list-style: none; padding-left: 0.0em; }

ul.summary.compact,
ul.summary.full    { min-height: 2.4667em; }

ul.summary.h { display:none; }

ul.index_inline_list { padding-left: 0; font-size: 1.0667em; }

ul.index_inline_list li,
ul.summary.compact li,
dl.summary.compact dt {
  display: inline-block;
  padding: 0;
  margin-bottom: 0.4667em;
   margin-right: 0.4667em;
}

ul.index_inline_list li { margin-right: 0.0667em }

ul.summary li.deprecated .summary_signature a,
ul.summary li.deprecated .summary_signature a:visited {
  text-decoration: line-through;
  font-style: italic; letter-spacing: 0.6667px;
}

#content ul.summary .summary_signature a:hover { background: transparent; }

sup {
  vertical-align: 0em;
  position: relative;
  top: -0.5em;
}

p.inherited { word-spacing: 0.33em; }

ul.fullTree { display: none; padding-left: 0; list-style: none;
  margin: 0 5.0000em 0.1333em 0; }

ul.fullTree li {
  text-align: center;
     padding-top: 1.0667em;
  padding-bottom: 0.4000em;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 0.667em;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20fill%3D%27%23aaa%27%20viewBox%3D%270%200%2015%2015%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M7.5%200%20L0%2015%2015%2015%27%2F%3E%3C%2Fsvg%3E");
}
/* <svg fill='#aaa' viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'><path d='M7.5 0 L0 15 15 15'/></svg> */

ul.fullTree li:first-child { padding-top: 0; background: transparent; }
ul.fullTree li:last-child { padding-bottom: 0; }
.showAll ul.fullTree { display: block; }
.showAll .inheritName { display: none; }

#y_menu {
  box-sizing: border-box;
  color: #bbb;
  height: 3.4em;
  padding-left: 1em;
  padding-top: 0.2em;
  width: calc(100% - 22.0em);
}

#y_menu { font-size: 0.9333em; }
#y_menu .title { color: #555; }

#footer { margin-top: 1.0em; border-top: 1px solid #ccc; text-align: center; padding: 7px 0; color: #999; }

#listing table tbody tr { background: transparent; }
#listing td {border: 0 none; }

#listing ul.alpha {
  margin: 0; padding: 0;
  list-style: none;
}
#listing ul.alpha li.letter { padding: 0.6667em 0 0.3334em; }
#listing ul.alpha li.letter > span {
  font-size: 1.4em;
  line-height: 1.3810em;
  padding-left: 0.4762em; }
#listing ul.alpha ul { margin: 0; padding-left: 0.66em; line-height: 1.400em; }
#listing ul.alpha ul li { min-height: 1.4667em; }

#listing ul small { color: #666; font-size: 0.80em; }

li.r1 { background: #f0f0f0; }
li.r2 { background: #fafafa; }

a.toggleSource {
  line-height: 1.3572em;
  padding: 0 0.1428em 0;
  min-width: 6.0em;
  display: inline-block;
  text-align: right;
}

pre.code {
  color: #000;
  tab-size: 2;
}

#content pre.code span { font-weight: normal !important; }

pre.code .info.file, pre.code .info.file * { color: #555; }


pre.code .string,
pre.code .dstring,
pre.code .tstring,
pre.code .tstring_content,
pre.code .heredoc_beg,
pre.code .heredoc_end,
pre.code .qwords_beg,
pre.code .qwords_end        { color: hsl(122, 94%, 21%); }

pre.code .float,
pre.code .int,
pre.code .val               { color: hsl(122, 94%, 10%); }

pre.code .fid,
pre.code .rubyid_each,
pre.code .rubyid_new,
pre.code .rubyid_to_s,
pre.code .rubyid_to_sym,
pre.code .rubyid_to_f,
pre.code .rubyid_to_i,
pre.code .dot + pre.code .id { color: hsl(209, 100%, 35%); }

pre.code .comment  { color: hsl(216,  60%, 30%); }

pre.code .const,
pre.code .constant { color: hsl(238,  90%, 35%); }

pre.code.ruby .label,
pre.code .symbol   { color: hsl(350,  94%, 31%); }

pre.code .ivar     { color: hsl(190,  51%, 30%); }

pre.code .gvar,
pre.code .rubyid_backref,
pre.code .rubyid_nth_ref {   color: hsl(234, 63%, 65%); }
pre.code .regexp, .dregexp { color: hsl(122, 94%, 21%); }

pre.code code a { font-weight: normal; border-bottom: 1px solid hsl(270, 15%, 90%); padding: 0; }

pre.code .kw,
pre.code .literal,
pre.code .rubyid_require,
pre.code .rubyid_extend,
pre.code .rubyid_include { color: hsl(240, 100%, 42%); font-weight: normal; }

/* below are grouped together, as these are needed to override
   highlight.github.css changes */
pre.code .hljs-keyword,
pre.code .keyword      { color: hsl(240, 100%, 42%) ; font-weight: normal; }
pre.code .hljs-id      { color: hsl(  0,   0%,  0%) ; font-weight: normal; }
pre.code .hljs-comment { color: hsl(216,  60%, 30%) ; font-style:  normal; }
pre.code .hljs-number,
pre.code .number       { color: hsl(122,  94%, 10%)  ; }
pre.code .hljs-string  { color: hsl(122, 94%, 21%); }

#y_debug {
  position: absolute;
  font-size: 0.7333em;
  top: 3.4000em;
  width: 25.0em;
  right:  1.0em;
  text-align: right;
}

/* Method Source Code */

div.source_code.h { display: none; }

pre.code > code {
  padding: 0;
  max-width: 30em;
  overflow-x: visible;
  display: block;
}

pre.lines_num, div.lines_code {
  vertical-align: top;
  display: inline-block;
}

pre.lines_num {
          width: 3.5334em;
  padding-right: 0.4000em;
  text-align: right;
  color: #484848;
}

div.lines_code {
  width: calc(100% - 4.2000em);
  overflow-x: auto;
}

div.lines_code pre {
  background: transparent;
  border: 0 none;
  padding: 0 0 0.375em;
  margin: 0;
  max-width: 10em;
  overflow-x: visible;
}

ul.multi { list-style: circle inside none; padding: 0; }
ul.multi > li {
  padding-left: 0.8em;
        margin: 0;
        cursor: pointer;
}

ul.multi > li a {
  font-size: 1.2em;
  line-height: 1.6667em;
  display: inline-block;
  width: calc(100% - 3.5em);
}

#content ul.multi > li a:hover,
#content ul.multi > li:hover { background: #ccc; }

#content.index #listing { position: relative; }

div.class_module_list {
  position: absolute;
   left: 0;
  right: 0;
  overflow-x: auto;
 }

div.class_module_list table { width: 100%; }
div.class_module_list td    { width: 32%; vertical-align: top; }

/* yard-js css */
.tags .callback .callback_item { list-style: none; margin-bottom: 1.6em; }

#y_wait {
   position: absolute;
     fill: #606060;
    color: #606060;
  display: none;
  z-index: -1000;
  animation-play-state: paused;
  animation-iteration-count: 0;
}

#y_wait.run {
  display: initial;
  z-index: 2000;
   height: 6em;
    width: 6em;
  animation-name: spin;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-duration: 800ms;
  animation-timing-function: steps(16);
}

#y_wait.text {
  display: initial;
   height: 3.0em;
    width: 9.0em;
  z-index: 2000;
  background-color: rgba(208, 208, 208, 0.50);
  border-radius: 0.80em;
}

#y_wait.text text {
  fill: #595959;
  font-weight: 600;
  font-size: 22px;
}

@keyframes spin {
    from { transform:rotate3D(0,0,1, 0deg  ) ; }
    to   { transform:rotate3D(0,0,1, 360deg) ; }
}

@keyframes spin1 {
    from { transform:rotate(0deg)  ; }
    to   { transform:rotate(360deg); }
}

table.y_box {
  border: 0 none;
  border-left : 0.4667em solid hsl(240, 5%, 81%);
  border-right: 0.4667em solid hsl(240, 5%, 81%);
  border-top  : 0.0667em solid hsl(240, 5%, 83%);
}

table.y_box td {
  border-bottom: 0.0667em solid hsl(240, 5%, 83%);
}  
  
table.y_box tbody tr:nth-child(odd)  { background: hsl(240, 5%, 100%); }
table.y_box tbody tr:nth-child(even) { background: hsl(240, 5%, 100%); }

table.y_box div.children { padding-left:  1.4em; }
table.y_box div.children {  text-indent: -1.4em; }

table.y_box col.box_1 { width: 11.5em; }
table.y_box div.box_min { min-width: 24.5em; margin-right: 5.5em; }
table.y_box div.box_max { min-width: 30.0em; }

table.y_box td {
  vertical-align: top;
  padding: 0.2000em 0.4667em 0.2000em 0.2000em;
  border-left  : none;
  border-right : none;
}

td.box_1 { font-weight: bold; text-align: right; }
td.box_rel { position: relative; }
td.box_c { text-align: center; }

/*
  border-left : 0.0667em solid hsl(240, 5%, 65%);
  border-right: 0.0667em solid hsl(240, 5%, 65%);
*/

.inheritanceTree, .toggleDefines {
  border-left : 0.0667em solid hsl(240, 5%, 83%);
  position: absolute;
     right: 0;
       top: 0;
    height: 100%;
  padding-top: 0.2667em;
    min-width: 5.0em;
   text-align: center;
   background: hsl(240, 5%, 97%);
   color: inherit;
}
