<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen'       content='yes'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: ActionView::Template::Types &mdash; Rails 6.1.7.10</title>

<link rel='stylesheet'  type='text/css' href='../../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "ActionView::Template::Types",
    relpath = '../../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../../'>Rails 6.1.7.10</a> &raquo; 
      <a href='../../_index.html#alpha_T'>Index (T)</a> &raquo; 
        <a href="../../ActionView.html" title="ActionView (module)">ActionView</a> &raquo; 
        <a href="../Template.html" title="ActionView::Template (class)">Template</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>Types&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: ActionView::Template::Types</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships & Source Files</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Namespace Children</td></tr>
    <tr><td colspan='2'>
      <div class='box_1'>Classes:</div>
      <div class='box_11'>
          <a href="Types/Type.html" title="ActionView::Template::Types::Type (class)"><code>Type</code></a>      </div>
    </td></tr>
    <tr>
      <td id='t2_inherits' class='box_2'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'><a href="../../Object.html" title="Object (class)">Object</a></span>
      </td>
    </tr>
    <tr class='single'>
      <td id='t2_defined_in' class='box_2'>Defined in:</td>
      <td class='box_rel'><a class='repo' href='https://github.com/rails/rails/blob/v6.1.7.10/actionview/lib/action_view/template/types.rb#L7'>actionview/lib/action_view/template/types.rb</a>      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 class='h2_sum' id='class_attribute_summary'>Class Attribute Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature rw'>
      <a href="#type_klass-class_method" title=".type_klass (class method)">.<strong>type_klass</strong>  </a>
      (also: #type_klass)
    </span>
    <span class='note title rw'>rw</span>
  </li>
</ul>
</div>  <!-- class_attribute_summary -->

<h2 class='h2_sum' id='class_method_summary'>Class Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#[]-class_method" title=".[] (class method)">.<strong>[]</strong>(type)  </a>
    </span>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#delegate_to-class_method" title=".delegate_to (class method)">.<strong>delegate_to</strong>(klass)  </a>
    </span>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#symbols-class_method" title=".symbols (class method)">.<strong>symbols</strong>  </a>
    </span>
  </li>
</ul>
</div>  <!-- class_method_summary -->

<h2 class='h2_sum' id='instance_attribute_summary'>Instance Attribute Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature rw'>
      <a href="#type_klass-instance_method" title="#type_klass (instance method)">#<strong>type_klass</strong>  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
</ul>
</div>  <!-- instance_attribute_summary -->
<h2 class='y_details'>Class Attribute Details</h2>
<section class='method_details first' id="type_klass-class_method">
  <h3 class='signature rw first'>
    .<strong>type_klass</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
    <span class='aliases'>Also known as: <span class='names'>#type_klass</span></span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v6.1.7.10/actionview/lib/action_view/template/types.rb#L40-L40'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='40' data-end='40'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/types.rb', line 40</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_cattr_accessor'>cattr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_type_klass'>type_klass</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Class Method Details</h2>
<section class='method_details first' id="[]-class_method">
  <h3 class='signature  first'>
    .<strong>[]</strong>(type)  
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v6.1.7.10/actionview/lib/action_view/template/types.rb#L48-L50'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='48' data-end='50'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/types.rb', line 48</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='kw'>self</span>.<span class='op'>[]</span>(<span class='id identifier rubyid_type'><a href="../Template.html#type-instance_method" title="ActionView::Template#type (method)">type</a></span>)
  <span class='id identifier rubyid_type_klass'><a href="#type_klass-class_method" title="ActionView::Template::Types.type_klass (method)">type_klass</a></span>[<span class='id identifier rubyid_type'><a href="../Template.html#type-instance_method" title="ActionView::Template#type (method)">type</a></span>]
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="delegate_to-class_method">
  <h3 class='signature '>
    .<strong>delegate_to</strong>(klass)  
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v6.1.7.10/actionview/lib/action_view/template/types.rb#L42-L44'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='42' data-end='44'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/types.rb', line 42</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='kw'>self</span>.<span class='id identifier rubyid_delegate_to'>delegate_to</span>(<span class='id identifier rubyid_klass'>klass</span>)
  <span class='kw'>self</span>.<span class='id identifier rubyid_type_klass'><a href="#type_klass-class_method" title="ActionView::Template::Types.type_klass (method)">type_klass</a></span> <span class='op'>=</span> <span class='id identifier rubyid_klass'>klass</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="symbols-class_method">
  <h3 class='signature '>
    .<strong>symbols</strong>  
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v6.1.7.10/actionview/lib/action_view/template/types.rb#L52-L54'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='52' data-end='54'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/types.rb', line 52</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='kw'>self</span>.<span class='id identifier rubyid_symbols'>symbols</span>
  <span class='id identifier rubyid_type_klass'><a href="#type_klass-class_method" title="ActionView::Template::Types.type_klass (method)">type_klass</a></span><span class='op'>::</span><span class='const'>SET</span>.<span class='id identifier rubyid_symbols'>symbols</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Attribute Details</h2>
<section class='method_details first' id="type_klass-instance_method">
  <h3 class='signature rw first'>
    #<strong>type_klass</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v6.1.7.10/actionview/lib/action_view/template/types.rb#L40-L40'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='40' data-end='40'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/types.rb', line 40</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_cattr_accessor'>cattr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_type_klass'>type_klass</span>
</pre>
  </div>
</div>
</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>