<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen' content='yes'>
<meta name='mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: ActionView::Template::Inline &mdash; Rails main</title>

<link rel='stylesheet'  type='text/css' href='../../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "ActionView::Template::Inline",
    relpath = '../../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../../'>Rails main</a> &raquo; 
      <a href='../../_index.html#alpha_I'>Index (I)</a> &raquo; 
        <a href="../../ActionView.html" title="ActionView (module)">ActionView</a> &raquo; 
        <a href="../Template.html" title="ActionView::Template (class)">Template</a> &raquo; 
      <span class='title'><a class='nodoc' id='t2_doc_top' href='#'>Inline&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: ActionView::Template::Inline</h1>
  <div class='note nodoc inline-block'>
    <strong>Do not use.  This class is for internal use only.</strong>
  </div>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships & Source Files</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Super Chains via Extension / Inclusion / Inheritance</td></tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Class Chain:</div>
        <div class='box_22'>
          self,
          <a href="../Template.html" title="ActionView::Template (class)"><code>::ActionView::Template</code></a>,
          <a class='nodoc' href="Handlers.html" title="ActionView::Template::Handlers (module)"><code>Handlers</code></a>,
          <a href="../../ActiveSupport/Autoload.html" title="ActiveSupport::Autoload (module)"><code>::ActiveSupport::Autoload</code></a>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Instance Chain:</div>
        <div class='box_22'>
          self,
          <a href="../Template.html" title="ActionView::Template (class)"><code>::ActionView::Template</code></a>
        </div>
      </td>
    </tr>
    <tr>
      <td id='t2_inherits' class='box_2 o'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'><a href="../Template.html" title="ActionView::Template (class)">ActionView::Template</a></span>
        <ul class='fullTree'>
          <li><a href="../../Object.html" title="Object (class)"><code>::Object</code></a></li>
          <li class='next'><a href="../Template.html" title="ActionView::Template (class)">ActionView::Template</a></li>
          <li class='next'>ActionView::Template::Inline</li>
        </ul>
      </td>
    </tr>
    <tr class='single'>
      <td id='t2_defined_in' class='box_2'>Defined in:</td>
      <td class='box_rel'><a class='repo' href='https://github.com/rails/rails/blob/main/actionview/lib/action_view/template/inline.rb#L5'>actionview/lib/action_view/template/inline.rb</a>      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='t2_cnst' class='h2_sum'>Constant Summary</h2>
<div>
<ul class='constants summary full nodoc'>
  <li>
    <span id='Finalizer-constant' class='summary_signature nodoc'>Finalizer =</span>
    <div class='docstring'>
  <div class='discussion'>
    
<p>This finalizer is needed (and exactly with a proc inside another proc) otherwise templates leak in development.</p>

  </div>
</div>
    <a class='repo' href='https://github.com/rails/rails/blob/main/actionview/lib/action_view/template/inline.rb#L8-L14'># File 'actionview/lib/action_view/template/inline.rb', line 8</a>    <pre class='code ruby'><span class='id identifier rubyid_proc'>proc</span> <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_method_name'><a href="../Template.html#method_name-instance_method" title="ActionView::Template#method_name (method)">method_name</a></span><span class='comma'>,</span> <span class='id identifier rubyid_mod'>mod</span><span class='op'>|</span> <span class='comment'># :nodoc:
</span>  <span class='id identifier rubyid_proc'>proc</span> <span class='kw'>do</span>
    <span class='id identifier rubyid_mod'>mod</span>.<span class='id identifier rubyid_module_eval'>module_eval</span> <span class='kw'>do</span>
      <span class='id identifier rubyid_remove_possible_method'>remove_possible_method</span> <span class='id identifier rubyid_method_name'><a href="../Template.html#method_name-instance_method" title="ActionView::Template#method_name (method)">method_name</a></span>
    <span class='kw'>end</span>
  <span class='kw'>end</span>
<span class='kw'>end</span></pre>
  </li>
</ul>
  <h3 class='inherited'><a href="../Template.html" title="ActionView::Template (class)"><code>::ActionView::Template</code></a> - Inherited</h3>
  <p  class='inherited'>
    <a class='priv ' href="../Template.html#LEADING_ENCODING_REGEXP-constant" title="ActionView::Template::LEADING_ENCODING_REGEXP (constant)">LEADING_ENCODING_REGEXP</a>, 
    <a href="../Template.html#NONE-constant" title="ActionView::Template::NONE (constant)">NONE</a>, 
    <a class='priv ' href="../Template.html#RUBY_RESERVED_KEYWORDS-constant" title="ActionView::Template::RUBY_RESERVED_KEYWORDS (constant)">RUBY_RESERVED_KEYWORDS</a>, 
    <a href="../Template.html#STRICT_LOCALS_REGEX-constant" title="ActionView::Template::STRICT_LOCALS_REGEX (constant)">STRICT_LOCALS_REGEX</a>, 
    <a class='nodoc' href="../Template.html#Types-constant" title="ActionView::Template::Types (constant)">Types</a>
  </p>
</div>

<h2 class='h2_sum' id='class_Attribute_summary'>Class Attribute Summary</h2>
<div class='div_sum'>

<h3 class='inherited'><a href="../Template.html" title="ActionView::Template (class)"><code>::ActionView::Template</code></a> - Inherited</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr>
      <td colspan='2'>
        <a class='i_m wo' href="../Template.html#mime_types_implementation=-class_method" title="ActionView::Template.mime_types_implementation= (method)">.mime_types_implementation=</a>
      </td>
    </tr>
  </tbody>
</table></div>
</div>  <!-- class_attribute_summary -->

<h2 class='h2_sum' id='class_Method_summary'>Class Method Summary</h2>
<div class='div_sum'>

<h3 class='inherited'><a href="../Template.html" title="ActionView::Template (class)"><code>::ActionView::Template</code></a> - Inherited</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr>
      <td colspan='2'>
        <a class='i_m ' href="../Template.html#new-class_method" title="ActionView::Template.new (method)">.new</a>
      </td>
    </tr>
  </tbody>
</table></div>

<h3 class='inherited nodoc'><a href="Handlers.html" title="ActionView::Template::Handlers (module)"><code>Handlers</code></a> - Extended</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr>
      <td colspan='2'>
        <a class='i_m nodoc' href="Handlers.html#handler_for_extension-instance_method" title="ActionView::Template::Handlers#handler_for_extension (method)">handler_for_extension</a>,
        <a class='i_m nodoc' href="Handlers.html#register_default_template_handler-instance_method" title="ActionView::Template::Handlers#register_default_template_handler (method)">register_default_template_handler</a>,
      </td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m nodoc' href="Handlers.html#register_template_handler-instance_method" title="ActionView::Template::Handlers#register_template_handler (method)">register_template_handler</a></td>
      <td><div class='inline'><p>Register an object that knows how to handle template files with the given extensions.</p></div></td>
    </tr>
    <tr>
      <td colspan='2'>
        <a class='i_m nodoc' href="Handlers.html#registered_template_handler-instance_method" title="ActionView::Template::Handlers#registered_template_handler (method)">registered_template_handler</a>,
        <a class='i_m nodoc' href="Handlers.html#template_handler_extensions-instance_method" title="ActionView::Template::Handlers#template_handler_extensions (method)">template_handler_extensions</a>,
      </td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m nodoc' href="Handlers.html#unregister_template_handler-instance_method" title="ActionView::Template::Handlers#unregister_template_handler (method)">unregister_template_handler</a></td>
      <td><div class='inline'><p>Opposite to register_template_handler.</p></div></td>
    </tr>
  </tbody>
</table></div>

<h3 class='inherited'><a href="../../ActiveSupport/Autoload.html" title="ActiveSupport::Autoload (module)"><code>::ActiveSupport::Autoload</code></a> - Extended</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr>
      <td colspan='2'>
        <a class='i_m ' href="../../ActiveSupport/Autoload.html#autoload-instance_method" title="ActiveSupport::Autoload#autoload (method)">autoload</a>,
        <a class='i_m ' href="../../ActiveSupport/Autoload.html#autoload_at-instance_method" title="ActiveSupport::Autoload#autoload_at (method)">autoload_at</a>,
        <a class='i_m ' href="../../ActiveSupport/Autoload.html#autoload_under-instance_method" title="ActiveSupport::Autoload#autoload_under (method)">autoload_under</a>,
        <a class='i_m ' href="../../ActiveSupport/Autoload.html#eager_autoload-instance_method" title="ActiveSupport::Autoload#eager_autoload (method)">eager_autoload</a>,
        <a class='i_m ' href="../../ActiveSupport/Autoload.html#eager_load!-instance_method" title="ActiveSupport::Autoload#eager_load! (method)">eager_load!</a>
      </td>
    </tr>
  </tbody>
</table></div>
</div>  <!-- class_method_summary -->

<h2 class='h2_sum' id='instance_Attribute_summary'>Instance Attribute Summary</h2>
<div class='div_sum'>

<h3 class='inherited'><a href="../Template.html" title="ActionView::Template (class)"><code>::ActionView::Template</code></a> - Inherited</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr>
      <td colspan='2'>
        <a class='i_m ro' href="../Template.html#format-instance_method" title="ActionView::Template#format (method)">#format</a>,
        <a class='i_m rw' href="../Template.html#frozen_string_literal-instance_method" title="ActionView::Template#frozen_string_literal (method)">#frozen_string_literal</a>,
        <a class='i_m ro' href="../Template.html#handler-instance_method" title="ActionView::Template#handler (method)">#handler</a>,
        <a class='i_m ro' href="../Template.html#identifier-instance_method" title="ActionView::Template#identifier (method)">#identifier</a>,
      </td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ro' href="../Template.html#strict_locals%3F-instance_method" title="ActionView::Template#strict_locals? (method)">#strict_locals?</a></td>
      <td><div class='inline'><p>Returns whether a template is using strict locals.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ro' href="../Template.html#supports_streaming%3F-instance_method" title="ActionView::Template#supports_streaming? (method)">#supports_streaming?</a></td>
      <td><div class='inline'><p>Returns whether the underlying handler supports streaming.</p></div></td>
    </tr>
    <tr>
      <td colspan='2'>
        <a class='i_m ro' href="../Template.html#variable-instance_method" title="ActionView::Template#variable (method)">#variable</a>,
        <a class='i_m ro' href="../Template.html#variant-instance_method" title="ActionView::Template#variant (method)">#variant</a>,
        <a class='i_m ro' href="../Template.html#virtual_path-instance_method" title="ActionView::Template#virtual_path (method)">#virtual_path</a>
      </td>
    </tr>
  </tbody>
</table></div>
</div>  <!-- instance_attribute_summary -->

<h2 class='h2_sum' id='instance_method_summary'>Instance Method Summary</h2>
<div class='div_sum'>
<ul class='summary full nodoc'>
  <li>
    <span class='summary_signature nodoc'>
      <a href="#compile-instance_method" title="#compile (instance method)">#<strong>compile</strong>(mod)  </a>
    </span>
  </li>
</ul>

<h3 class='inherited'><a href="../Template.html" title="ActionView::Template (class)"><code>::ActionView::Template</code></a> - Inherited</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Template.html#encode!-instance_method" title="ActionView::Template#encode! (method)">#encode!</a></td>
      <td><div class='inline'><p>This method is responsible for properly setting the encoding of the source.</p></div></td>
    </tr>
    <tr>
      <td colspan='2'>
        <a class='i_m ' href="../Template.html#inspect-instance_method" title="ActionView::Template#inspect (method)">#inspect</a>,
      </td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Template.html#local_assigns-instance_method" title="ActionView::Template#local_assigns (method)">#local_assigns</a></td>
      <td><div class='inline'><p>Returns a hash with the defined local variables.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Template.html#locals-instance_method" title="ActionView::Template#locals (method)">#locals</a></td>
      <td><div class='inline'><p>The locals this template has been or will be compiled for, or nil if this is a strict locals template.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Template.html#render-instance_method" title="ActionView::Template#render (method)">#render</a></td>
      <td><div class='inline'><p>Render a template.</p></div></td>
    </tr>
    <tr>
      <td colspan='2'>
        <a class='i_m ' href="../Template.html#short_identifier-instance_method" title="ActionView::Template#short_identifier (method)">#short_identifier</a>,
        <a class='i_m ' href="../Template.html#source-instance_method" title="ActionView::Template#source (method)">#source</a>,
      </td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Template.html#strict_locals!-instance_method" title="ActionView::Template#strict_locals! (method)">#strict_locals!</a></td>
      <td><div class='inline'><p>This method is responsible for marking a template as having strict locals which means the template can only accept the locals defined in a magic comment.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Template.html#translate_location-instance_method" title="ActionView::Template#translate_location (method)">#translate_location</a></td>
      <td><div class='inline'><p>Translate an error location returned by ErrorHighlight to the correct source location inside the template.</p></div></td>
    </tr>
    <tr>
      <td colspan='2'>
        <a class='i_m ' href="../Template.html#type-instance_method" title="ActionView::Template#type (method)">#type</a>,
      </td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m priv' href="../Template.html#compile-instance_method" title="ActionView::Template#compile (method)">#compile</a></td>
      <td><div class='inline'><p>Among other things, this method is responsible for properly setting the encoding of the compiled template.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m priv' href="../Template.html#compile!-instance_method" title="ActionView::Template#compile! (method)">#compile!</a></td>
      <td><div class='inline'><p>Compile a template.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m priv' href="../Template.html#compiled_source-instance_method" title="ActionView::Template#compiled_source (method)">#compiled_source</a></td>
      <td><div class='inline'><p>This method compiles the source of the template.</p></div></td>
    </tr>
    <tr>
      <td colspan='2'>
        <a class='i_m priv' href="../Template.html#find_node_by_id-instance_method" title="ActionView::Template#find_node_by_id (method)">#find_node_by_id</a>,
        <a class='i_m priv' href="../Template.html#handle_render_error-instance_method" title="ActionView::Template#handle_render_error (method)">#handle_render_error</a>,
        <a class='i_m priv' href="../Template.html#identifier_method_name-instance_method" title="ActionView::Template#identifier_method_name (method)">#identifier_method_name</a>,
        <a class='i_m priv' href="../Template.html#instrument-instance_method" title="ActionView::Template#instrument (method)">#instrument</a>,
        <a class='i_m priv' href="../Template.html#instrument_payload-instance_method" title="ActionView::Template#instrument_payload (method)">#instrument_payload</a>,
        <a class='i_m priv' href="../Template.html#instrument_render_template-instance_method" title="ActionView::Template#instrument_render_template (method)">#instrument_render_template</a>,
        <a class='i_m priv' href="../Template.html#locals_code-instance_method" title="ActionView::Template#locals_code (method)">#locals_code</a>,
        <a class='i_m priv' href="../Template.html#offset-instance_method" title="ActionView::Template#offset (method)">#offset</a>,
      </td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m nodoc' href="../Template.html#marshal_dump-instance_method" title="ActionView::Template#marshal_dump (method)">#marshal_dump</a></td>
      <td><div class='inline'><p>Exceptions are marshalled when using the parallel test runner with DRb, so we need to ensure that references to the template object can be marshalled as well.</p></div></td>
    </tr>
    <tr>
      <td colspan='2'>
        <a class='i_m nodoc' href="../Template.html#marshal_load-instance_method" title="ActionView::Template#marshal_load (method)">#marshal_load</a>,
        <a class='i_m nodoc' href="../Template.html#method_name-instance_method" title="ActionView::Template#method_name (method)">#method_name</a>,
        <a class='i_m nodoc' href="../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">#spot</a>
      </td>
    </tr>
  </tbody>
</table></div>
</div>  <!-- instance_method_summary -->
<h2 id='Constructor_Details' class='y_details'>Constructor Details</h2>

  <p class='notice'>This class inherits a constructor from <a href="../Template.html#new-class_method" title="ActionView::Template.new (method)">ActionView::Template</a></p>
<h2 class='y_details'>Instance Method Details</h2>
<section class='method_details first' id="compile-instance_method">
  <h3 class='signature nodoc first'>
    #<strong>compile</strong>(mod)  
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/main/actionview/lib/action_view/template/inline.rb#L16-L19'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='16' data-end='19'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/inline.rb', line 16</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_compile'>compile</span>(<span class='id identifier rubyid_mod'>mod</span>)
  <span class='kw'>super</span>
  <span class='const'>ObjectSpace</span>.<span class='id identifier rubyid_define_finalizer'>define_finalizer</span>(<span class='kw'>self</span><span class='comma'>,</span> <span class='const'><a href="#Finalizer-constant" title="ActionView::Template::Inline::Finalizer (constant)">Finalizer</a></span>[<span class='id identifier rubyid_method_name'><a href="../Template.html#method_name-instance_method" title="ActionView::Template#method_name (method)">method_name</a></span><span class='comma'>,</span> <span class='id identifier rubyid_mod'>mod</span>])
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>