<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen'       content='yes'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: YARD::Templates::TemplateOptions &mdash; YARD main</title>

<link rel='stylesheet'  type='text/css' href='../../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "YARD::Templates::TemplateOptions",
    relpath = '../../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../../'>YARD main</a> &raquo; 
      <a href='../../_index.html#alpha_T'>Index (T)</a> &raquo; 
        <a href="../../YARD.html" title="YARD (module)">YARD</a> &raquo; 
        <a href="../Templates.html" title="YARD::Templates (module)">Templates</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>TemplateOptions&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: YARD::Templates::TemplateOptions</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships & Source Files</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Extension / Inclusion / Inheritance Descendants</td></tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Subclasses:</div>
        <div class='box_22'>
          <a href="../CLI/GraphOptions.html" title="YARD::CLI::GraphOptions (class)">CLI::GraphOptions</a>, <a href="../CLI/YardocOptions.html" title="YARD::CLI::YardocOptions (class)">CLI::YardocOptions</a>, <a href="../Server/Commands/LibraryIndexOptions.html" title="YARD::Server::Commands::LibraryIndexOptions (class)">Server::Commands::LibraryIndexOptions</a>, <a href="../Server/Commands/LibraryOptions.html" title="YARD::Server::Commands::LibraryOptions (class)">Server::Commands::LibraryOptions</a>
        </div>
      </td>
    </tr>
    <tr><td class='box_h' colspan='2'>Super Chains via Extension / Inclusion / Inheritance</td></tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Class Chain:</div>
        <div class='box_22'>
          self,
          <a href="../Options.html" title="YARD::Options (class)"><code>::YARD::Options</code></a>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Instance Chain:</div>
        <div class='box_22'>
          self,
          <a href="../Options.html" title="YARD::Options (class)"><code>::YARD::Options</code></a>
        </div>
      </td>
    </tr>
    <tr>
      <td id='t2_inherits' class='box_2 o'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'><a href="../Options.html" title="YARD::Options (class)">YARD::Options</a></span>
        <ul class='fullTree'>
          <li>Object</li>
          <li class='next'><a href="../Options.html" title="YARD::Options (class)">YARD::Options</a></li>
          <li class='next'>YARD::Templates::TemplateOptions</li>
        </ul>
      </td>
    </tr>
    <tr class='single'>
      <td id='t2_defined_in' class='box_2'>Defined in:</td>
      <td class='box_rel'><a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L9'>lib/yard/templates/template_options.rb</a>      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='h2_overview'>Overview</h2>
<div id='overview_ds'>
<div class='docstring'>
  <div class='discussion'>
    <p>An Options class containing default options for base template rendering. For
options specific to generation of HTML output, see <a href="../CLI/YardocOptions.html" title="YARD::CLI::YardocOptions (class)"><code>::YARD::CLI::YardocOptions</code></a>.</p>

  </div>
</div>
<div class='tags'>
    <p class='tag_title'>See Also:</p>
  <ul class='see'>
      <li><a href="../CLI/YardocOptions.html" title="YARD::CLI::YardocOptions (class)"><code>::YARD::CLI::YardocOptions</code></a></li>
      </ul>

</div>
</div>
<h2 class='h2_sum' id='class_Method_summary'>Class Method Summary</h2>
<div class='div_sum'>

<h3 class='inherited'><a href="../Options.html" title="YARD::Options (class)"><code>::YARD::Options</code></a> - Inherited</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#default_attr-class_method" title="YARD::Options.default_attr (method)">.default_attr</a></td>
      <td><div class='inline'><p>Defines an attribute named <code>key</code> and sets a default value for it.</p></div></td>
    </tr>
  </tbody>
</table></div>
</div>  <!-- class_method_summary -->

<h2 class='h2_sum' id='instance_attribute_summary'>Instance Attribute Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature ro'>
      <a href="#__globals-instance_method" title="#__globals (instance method)">#<strong>__globals</strong>  </a>
    </span>
    <span class='note title readonly'>readonly</span>
    <div class='summary_desc'>
      <div class='inline'><p>Alias for <a href="#globals-instance_method" title="YARD::Templates::TemplateOptions#globals (method)">#globals</a>.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#default_return-instance_method" title="#default_return (instance method)">#<strong>default_return</strong>  &#x21d2; String </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#embed_mixins-instance_method" title="#embed_mixins (instance method)">#<strong>embed_mixins</strong>  &#x21d2; Array&lt;String&gt; </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#format-instance_method" title="#format (instance method)">#<strong>format</strong>  &#x21d2; Symbol </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#globals-instance_method" title="#globals (instance method)">#<strong>globals</strong>  &#x21d2; OpenStruct </a>
      (also: #__globals)
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#hide_void_return-instance_method" title="#hide_void_return (instance method)">#<strong>hide_void_return</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#highlight-instance_method" title="#highlight (instance method)">#<strong>highlight</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#index-instance_method" title="#index (instance method)">#<strong>index</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#markup-instance_method" title="#markup (instance method)">#<strong>markup</strong>  &#x21d2; Symbol </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#markup_provider-instance_method" title="#markup_provider (instance method)">#<strong>markup_provider</strong>  &#x21d2; Class </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li class='deprecated'>
    <span class='summary_signature rw deprecated'>
      <a href="#no_highlight-instance_method" title="#no_highlight (instance method)">#<strong>no_highlight</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
    <span class='deprecated note title'>deprecated</span>
    <span class='summary_desc'><strong>Deprecated.</strong>
      <div class='inline'><p>use <a href="#highlight-instance_method" title="YARD::Templates::TemplateOptions#highlight (method)">#highlight</a> instead.</p>
</div>    </span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#no_highlight=-instance_method" title="#no_highlight= (instance method)">#<strong>no_highlight=</strong>(value)  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#object-instance_method" title="#object (instance method)">#<strong>object</strong>  &#x21d2; CodeObjects::Base </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#owner-instance_method" title="#owner (instance method)">#<strong>owner</strong>  &#x21d2; CodeObjects::Base </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#page_title-instance_method" title="#page_title (instance method)">#<strong>page_title</strong>  &#x21d2; String </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#serialize-instance_method" title="#serialize (instance method)">#<strong>serialize</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#serializer-instance_method" title="#serializer (instance method)">#<strong>serializer</strong>  &#x21d2; Serializers::Base </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#template-instance_method" title="#template (instance method)">#<strong>template</strong>  &#x21d2; Symbol </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#type-instance_method" title="#type (instance method)">#<strong>type</strong>  &#x21d2; Symbol </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#verifier-instance_method" title="#verifier (instance method)">#<strong>verifier</strong>  &#x21d2; Verifier </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
</ul>
</div>  <!-- instance_attribute_summary -->

<h2 class='h2_sum' id='instance_method_summary'>Instance Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#embed_mixins_match%3F-instance_method" title="#embed_mixins_match? (instance method)">#<strong>embed_mixins_match?</strong>(mixin)  &#x21d2; Boolean<sup>?</sup> </a>
    </span>
  </li>
</ul>

<h3 class='inherited'><a href="../Options.html" title="YARD::Options (class)"><code>::YARD::Options</code></a> - Inherited</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr>
      <td colspan='2'>
        <a class='i_m ' href="../Options.html#==-instance_method" title="YARD::Options#== (method)">#==</a>,
      </td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#[]-instance_method" title="YARD::Options#[] (method)">#[]</a></td>
      <td><div class='inline'><p>Delegates calls with <a href="../../Hash.html" title="Hash (class)"><code>::Hash</code></a> syntax to actual method with key name.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#[]=-instance_method" title="YARD::Options#[]= (method)">#[]=</a></td>
      <td><div class='inline'><p>Delegates setter calls with <a href="../../Hash.html" title="Hash (class)"><code>::Hash</code></a> syntax to the attribute setter with the key name.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#delete-instance_method" title="YARD::Options#delete (method)">#delete</a></td>
      <td><div class='inline'><p>Deletes an option value for <code>key</code></p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#each-instance_method" title="YARD::Options#each (method)">#each</a></td>
      <td><div class='inline'><p>Yields over every option key and value.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#inspect-instance_method" title="YARD::Options#inspect (method)">#inspect</a></td>
      <td><div class='inline'><p>Inspects the object.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#merge-instance_method" title="YARD::Options#merge (method)">#merge</a></td>
      <td><div class='inline'><p>Creates a new options object and sets options hash or object value onto that object.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#method_missing-instance_method" title="YARD::Options#method_missing (method)">#method_missing</a></td>
      <td><div class='inline'><p>Handles setting and accessing of unregistered keys similar to an <a href="../OpenStruct.html" title="YARD::OpenStruct (class)"><code>::YARD::OpenStruct</code></a> object.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#reset_defaults-instance_method" title="YARD::Options#reset_defaults (method)">#reset_defaults</a></td>
      <td><div class='inline'><p>Resets all values to their defaults.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#tap-instance_method" title="YARD::Options#tap (method)">#tap</a></td>
      <td><div class='inline'><p>only for 1.8.6.</p></div></td>
    </tr>
    <tr>
      <td colspan='2'>
        <a class='i_m ' href="../Options.html#to_hash-instance_method" title="YARD::Options#to_hash (method)">#to_hash</a>,
      </td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="../Options.html#update-instance_method" title="YARD::Options#update (method)">#update</a></td>
      <td><div class='inline'><p>Updates values from an options hash or options object on this object.</p></div></td>
    </tr>
  </tbody>
</table></div>
</div>  <!-- instance_method_summary -->
<h2 id='method_missing_details' class='y_details'>Dynamic Method Handling</h2>
  <p class='notice super'>
    This class handles dynamic methods through the <tt>method_missing</tt> method
      in the class <a href="../Options.html#method_missing-instance_method" title="YARD::Options#method_missing (method)">YARD::Options</a></p>
<h2 class='y_details'>Instance Attribute Details</h2>
<section class='method_details first' id="__globals-instance_method">
  <h3 class='signature ro first'>
    #<strong>__globals</strong>   <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    <p>Alias for <a href="#globals-instance_method" title="YARD::Templates::TemplateOptions#globals (method)">#globals</a>.</p>

  </div>
</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L34-L34'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='34' data-end='34'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 34</span></pre>
<pre class='code ruby'>

<span class='kw'>alias</span> <span class='id identifier rubyid___globals'>__globals</span> <span class='id identifier rubyid_globals'><a href="#globals-instance_method" title="YARD::Templates::TemplateOptions#globals (method)">globals</a></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="default_return-instance_method">
  <h3 class='signature rw'>
    #<strong>default_return</strong>  &#x21d2; <a href="../../String.html" title="String (class)">String</a>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'><p>the default return type for a method with no return tags</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L20-L20'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='20' data-end='20'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 20</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_default_attr'>default_attr</span> <span class='symbeg'>:</span><span class='id identifier rubyid_default_return'>default_return</span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>Object</span><span class='tstring_end'>&quot;</span></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="embed_mixins-instance_method">
  <h3 class='signature rw'>
    #<strong>embed_mixins</strong>  &#x21d2; <a href="../../Array.html" title="Array (class)">Array</a>&lt;<a href="../../String.html" title="String (class)">String</a>&gt;  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
        <p class='example_title'><div class='inline'><p>A list of mixin path names (including wildcards)</p>
</div></p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_opts'>opts</span>.<span class='id identifier rubyid_embed_mixins'>embed_mixins</span> <span class='comment'>#=&gt; [&#39;ClassMethods&#39;, &#39;*Helper&#39;, &#39;YARD::*&#39;]</span></code></pre>
  </div>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../../Array.html" title="Array (class)">Array</a>&lt;<a href="../../String.html" title="String (class)">String</a>&gt;)</span>
&mdash;    <div class='inline'><p>an array of module name wildcards to embed into
class documentation as if their methods were defined directly in the class.
Useful for modules like ClassMethods. If the name contains &#39;::&#39;, the module
is matched against the full mixin path, otherwise only the module name is used.</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L71-L71'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='71' data-end='71'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 71</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_default_attr'>default_attr</span> <span class='symbeg'>:</span><span class='id identifier rubyid_embed_mixins'>embed_mixins</span><span class='comma'>,</span> <span class='id identifier rubyid_lambda'>lambda</span> { [] }
</pre>
  </div>
</div>
</section>

<section class='method_details' id="format-instance_method">
  <h3 class='signature rw'>
    #<strong>format</strong>  &#x21d2; <code>Symbol</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Symbol</code>)</span>
&mdash;    <div class='inline'><p>the template output format</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L11-L11'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='11' data-end='11'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 11</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_default_attr'>default_attr</span> <span class='symbeg'>:</span><span class='id identifier rubyid_format'>format</span><span class='comma'>,</span> <span class='symbeg'>:</span><span class='id identifier rubyid_text'>text</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="globals-instance_method">
  <h3 class='signature rw'>
    #<strong>globals</strong>  &#x21d2; <a href="../OpenStruct.html" title="YARD::OpenStruct (class)">OpenStruct</a>  <span class="extras">(<span class='rw'>rw</span>)</span>
    <span class='aliases'>Also known as: <span class='names'>#__globals</span></span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../OpenStruct.html" title="YARD::OpenStruct (class)">OpenStruct</a>)</span>
&mdash;    <div class='inline'><p>an open struct containing any global state across all
generated objects in a template.</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L33-L33'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='33' data-end='33'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 33</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_default_attr'>default_attr</span> <span class='symbeg'>:</span><span class='id identifier rubyid_globals'>globals</span><span class='comma'>,</span> <span class='id identifier rubyid_lambda'>lambda</span> { <span class='const'><a href="../OpenStruct.html" title="YARD::OpenStruct (class)">OpenStruct</a></span>.<span class='id identifier rubyid_new'><a href="../OpenStruct.html#new-class_method" title="YARD::OpenStruct.new (method)">new</a></span> }
</pre>
  </div>
</div>
</section>

<section class='method_details' id="hide_void_return-instance_method">
  <h3 class='signature rw'>
    #<strong>hide_void_return</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Boolean</code>)</span>
&mdash;    <div class='inline'><p>whether void methods should show &quot;void&quot; in their signature</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L23-L23'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='23' data-end='23'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 23</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_default_attr'>default_attr</span> <span class='symbeg'>:</span><span class='id identifier rubyid_hide_void_return'>hide_void_return</span><span class='comma'>,</span> <span class='kw'>false</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="highlight-instance_method">
  <h3 class='signature rw'>
    #<strong>highlight</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Boolean</code>)</span>
&mdash;    <div class='inline'><p>whether code blocks should be syntax highlighted</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L26-L26'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='26' data-end='26'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 26</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_default_attr'>default_attr</span> <span class='symbeg'>:</span><span class='id identifier rubyid_highlight'>highlight</span><span class='comma'>,</span> <span class='kw'>true</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="index-instance_method">
  <h3 class='signature rw'>
    #<strong>index</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Boolean</code>)</span>
&mdash;    <div class='inline'><p>whether the page is the &quot;index&quot;</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L63-L63'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='63' data-end='63'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 63</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_accessor'>attr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_index'>index</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="markup-instance_method">
  <h3 class='signature rw'>
    #<strong>markup</strong>  &#x21d2; <code>Symbol</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Symbol</code>)</span>
&mdash;    <div class='inline'><p>the markup format to use when parsing docstrings</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L17-L17'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='17' data-end='17'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 17</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_default_attr'>default_attr</span> <span class='symbeg'>:</span><span class='id identifier rubyid_markup'>markup</span><span class='comma'>,</span> <span class='symbeg'>:</span><span class='id identifier rubyid_rdoc'>rdoc</span> <span class='comment'># default is :rdoc but falls back on :none</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="markup_provider-instance_method">
  <h3 class='signature rw'>
    #<strong>markup_provider</strong>  &#x21d2; <code>Class</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Class</code>)</span>
&mdash;    <div class='inline'><p>the markup provider class for the markup format</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L29-L29'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='29' data-end='29'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 29</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_accessor'>attr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_markup_provider'>markup_provider</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="no_highlight-instance_method">
  <h3 class='signature rw  deprecated'>
    #<strong>no_highlight</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    <div class="note deprecated"><strong>Deprecated.</strong> <div class='inline'><p>use <a href="#highlight-instance_method" title="YARD::Templates::TemplateOptions#highlight (method)">#highlight</a> instead.</p>
</div></div>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Boolean</code>)</span>
&mdash;    <div class='inline'><p>whether highlighting should be ignored</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L56-L56'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='56' data-end='56'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 56</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_reader'>attr_reader</span> <span class='symbeg'>:</span><span class='id identifier rubyid_no_highlight'>no_highlight</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="no_highlight=-instance_method">
  <h3 class='signature rw'>
    #<strong>no_highlight=</strong>(value)   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L57-L57'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='57' data-end='57'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 57</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_no_highlight='>no_highlight=</span>(<span class='id identifier rubyid_value'>value</span>) <span class='kw'>self</span>.<span class='id identifier rubyid_highlight'><a href="#highlight-instance_method" title="YARD::Templates::TemplateOptions#highlight (method)">highlight</a></span> <span class='op'>=</span> <span class='op'>!</span><span class='id identifier rubyid_value'>value</span> <span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="object-instance_method">
  <h3 class='signature rw'>
    #<strong>object</strong>  &#x21d2; <a href="../CodeObjects/Base.html" title="YARD::CodeObjects::Base (class)">CodeObjects::Base</a>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../CodeObjects/Base.html" title="YARD::CodeObjects::Base (class)">CodeObjects::Base</a>)</span>
&mdash;    <div class='inline'><p>the main object being generated in the template</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L37-L37'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='37' data-end='37'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 37</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_accessor'>attr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_object'>object</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="owner-instance_method">
  <h3 class='signature rw'>
    #<strong>owner</strong>  &#x21d2; <a href="../CodeObjects/Base.html" title="YARD::CodeObjects::Base (class)">CodeObjects::Base</a>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../CodeObjects/Base.html" title="YARD::CodeObjects::Base (class)">CodeObjects::Base</a>)</span>
&mdash;    <div class='inline'><p>the owner of the generated object</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L40-L40'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='40' data-end='40'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 40</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_accessor'>attr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_owner'>owner</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="page_title-instance_method">
  <h3 class='signature rw'>
    #<strong>page_title</strong>  &#x21d2; <a href="../../String.html" title="String (class)">String</a>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'><p>the title of a given page</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L60-L60'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='60' data-end='60'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 60</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_accessor'>attr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_page_title'>page_title</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="serialize-instance_method">
  <h3 class='signature rw'>
    #<strong>serialize</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Boolean</code>)</span>
&mdash;    <div class='inline'><p>whether serialization should be performed</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L46-L46'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='46' data-end='46'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 46</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_default_attr'>default_attr</span> <span class='symbeg'>:</span><span class='id identifier rubyid_serialize'>serialize</span><span class='comma'>,</span> <span class='kw'>true</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="serializer-instance_method">
  <h3 class='signature rw'>
    #<strong>serializer</strong>  &#x21d2; <a href="../Serializers/Base.html" title="YARD::Serializers::Base (class)">Serializers::Base</a>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../Serializers/Base.html" title="YARD::Serializers::Base (class)">Serializers::Base</a>)</span>
&mdash;    <div class='inline'><p>the serializer used to generate links and serialize
output. Serialization output only occurs if <a href="#serialize-instance_method" title="YARD::Templates::TemplateOptions#serialize (method)">#serialize</a> is <code>true</code>.</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L50-L50'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='50' data-end='50'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 50</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_accessor'>attr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_serializer'>serializer</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="template-instance_method">
  <h3 class='signature rw'>
    #<strong>template</strong>  &#x21d2; <code>Symbol</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Symbol</code>)</span>
&mdash;    <div class='inline'><p>the template name used to render output</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L14-L14'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='14' data-end='14'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 14</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_default_attr'>default_attr</span> <span class='symbeg'>:</span><span class='id identifier rubyid_template'>template</span><span class='comma'>,</span> <span class='symbeg'>:</span><span class='id identifier rubyid_default'>default</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="type-instance_method">
  <h3 class='signature rw'>
    #<strong>type</strong>  &#x21d2; <code>Symbol</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Symbol</code>)</span>
&mdash;    <div class='inline'><p>the template type used to generate output</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L43-L43'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='43' data-end='43'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 43</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_accessor'>attr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_type'>type</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="verifier-instance_method">
  <h3 class='signature rw'>
    #<strong>verifier</strong>  &#x21d2; <a href="../Verifier.html" title="YARD::Verifier (class)">Verifier</a>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../Verifier.html" title="YARD::Verifier (class)">Verifier</a>)</span>
&mdash;    <div class='inline'><p>the verifier object</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L88-L88'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='88' data-end='88'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 88</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_accessor'>attr_accessor</span> <span class='symbeg'>:</span><span class='id identifier rubyid_verifier'>verifier</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Method Details</h2>
<section class='method_details first' id="embed_mixins_match?-instance_method">
  <h3 class='signature  first'>
    #<strong>embed_mixins_match?</strong>(mixin)  &#x21d2; <code>Boolean</code><sup>?</sup> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>mixin</span>
    <span class='type'>(<a href="../CodeObjects/Base.html" title="YARD::CodeObjects::Base (class)">CodeObjects::Base</a>)</span>
&mdash;    <div class='inline'><p>accepts any code object, but returns
nil unless the object is a module.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Boolean</code>)</span>
&mdash;    <div class='inline'><p>whether a mixin matches the embed_mixins list</p>
</div>
  </li>
  <li>
    <span class='type'>(<code>nil</code>)</span>
&mdash;    <div class='inline'><p>if the mixin is not a module object</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/template_options.rb#L77-L85'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='77' data-end='85'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/template_options.rb', line 77</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_embed_mixins_match?'>embed_mixins_match?</span>(<span class='id identifier rubyid_mixin'>mixin</span>)
  <span class='kw'>return</span> <span class='kw'>true</span> <span class='kw'>if</span> <span class='id identifier rubyid_mixin'>mixin</span> <span class='op'>==</span> <span class='id identifier rubyid_object'><a href="#object-instance_method" title="YARD::Templates::TemplateOptions#object (method)">object</a></span> <span class='comment'># the method is not inherited
</span>  <span class='kw'>return</span> <span class='kw'>nil</span> <span class='kw'>unless</span> <span class='id identifier rubyid_mixin'>mixin</span>.<span class='id identifier rubyid_is_a?'>is_a?</span>(<span class='const'><a href="../CodeObjects.html" title="YARD::CodeObjects (module)">CodeObjects</a></span><span class='op'>::</span><span class='const'><a href="../CodeObjects/ModuleObject.html" title="YARD::CodeObjects::ModuleObject (class)">ModuleObject</a></span>)
  <span class='id identifier rubyid_embed_mixins'><a href="#embed_mixins-instance_method" title="YARD::Templates::TemplateOptions#embed_mixins (method)">embed_mixins</a></span>.<span class='id identifier rubyid_any?'>any?</span> <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_embed_mixin'>embed_mixin</span><span class='op'>|</span>
    <span class='id identifier rubyid_re'>re</span> <span class='op'>=</span> <span class='tstring'><span class='regexp_beg'>/</span><span class='tstring_content'>\A</span><span class='embexpr_beg'>#{</span><span class='const'>Regexp</span>.<span class='id identifier rubyid_quote'>quote</span>(<span class='id identifier rubyid_embed_mixin'>embed_mixin</span>).<span class='id identifier rubyid_gsub'>gsub</span>(<span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>\*</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>.*</span><span class='tstring_end'>&#39;</span></span>)<span class='embexpr_end'>}</span><span class='tstring_content'>\Z</span><span class='regexp_end'>/</span></span>
    <span class='id identifier rubyid_matchstr'>matchstr</span> <span class='op'>=</span> <span class='id identifier rubyid_embed_mixin'>embed_mixin</span>.<span class='id identifier rubyid_include?'>include?</span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>::</span><span class='tstring_end'>&quot;</span></span>) <span class='op'>?</span> <span class='id identifier rubyid_mixin'>mixin</span>.<span class='id identifier rubyid_path'>path</span> <span class='op'>:</span> <span class='id identifier rubyid_mixin'>mixin</span>.<span class='id identifier rubyid_name'>name</span>
    <span class='id identifier rubyid_re'>re</span>.<span class='id identifier rubyid_match'>match</span>(<span class='id identifier rubyid_matchstr'>matchstr</span>.<span class='id identifier rubyid_to_s'>to_s</span>)
  <span class='kw'>end</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>