<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen' content='yes'>
<meta name='mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: ActionView::Template::Handlers::ERB &mdash; Rails 7.2.3</title>

<link rel='stylesheet'  type='text/css' href='../../../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "ActionView::Template::Handlers::ERB",
    relpath = '../../../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../../../'>Rails 7.2.3</a> &raquo; 
      <a href='../../../_index.html#alpha_E'>Index (E)</a> &raquo; 
        <a href="../../../ActionView.html" title="ActionView (module)">ActionView</a> &raquo; 
        <a href="../../Template.html" title="ActionView::Template (class)">Template</a> &raquo; 
        <a class='nodoc' href="../Handlers.html" title="ActionView::Template::Handlers (module)">Handlers</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>ERB&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../../../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: ActionView::Template::Handlers::ERB</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships & Source Files</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Namespace Children</td></tr>
    <tr><td colspan='2'>
      <div class='box_1'>Classes:</div>
      <div class='box_11'>
          <a href="ERB/Erubi.html" title="ActionView::Template::Handlers::ERB::Erubi (class)"><code>Erubi</code></a>      </div>
    </td></tr>
    <tr>
      <td id='t2_inherits' class='box_2'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'><a href="../../../Object.html" title="Object (class)">Object</a></span>
      </td>
    </tr>
    <tr class='single'>
      <td id='t2_defined_in' class='box_2 o'>Defined in:</td>
      <td class='box_rel'><a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L9'>actionview/lib/action_view/template/handlers/erb.rb</a><span class='defines'>,<br /><a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb/erubi.rb#L8'>actionview/lib/action_view/template/handlers/erb/erubi.rb</a></span>
      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='t2_cnst' class='h2_sum'>Constant Summary</h2>
<div>
<ul class='constants summary full'>
  <li>
    <span id='ENCODING_TAG-constant' class='summary_signature'>ENCODING_TAG =</span>
    <br/>
    <a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L25-L25'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 25</a>    <pre class='code ruby'><span class='const'><a href="../../../Regexp.html" title="Regexp (class)">Regexp</a></span>.<span class='id identifier rubyid_new'><a href="../../Template.html#new-class_method" title="ActionView::Template.new (method)">new</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>\\A(&lt;%</span><span class='embexpr_beg'>#{</span><span class='const'><a href="../../../ActionView.html#ENCODING_FLAG-constant" title="ActionView::ENCODING_FLAG (constant)">ENCODING_FLAG</a></span><span class='embexpr_end'>}</span><span class='tstring_content'>-?%&gt;)[ \\t]*</span><span class='tstring_end'>&quot;</span></span>)</pre>
  </li>
</ul>
</div>

<h2 class='h2_sum' id='class_attribute_summary'>Class Attribute Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature rw'>
      <a href="#erb_implementation-class_method" title=".erb_implementation (class method)">.<strong>erb_implementation</strong>  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#erb_implementation%3F-class_method" title=".erb_implementation? (class method)">.<strong>erb_implementation?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#erb_trim_mode-class_method" title=".erb_trim_mode (class method)">.<strong>erb_trim_mode</strong>  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#erb_trim_mode%3F-class_method" title=".erb_trim_mode? (class method)">.<strong>erb_trim_mode?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#escape_ignore_list-class_method" title=".escape_ignore_list (class method)">.<strong>escape_ignore_list</strong>  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#escape_ignore_list%3F-class_method" title=".escape_ignore_list? (class method)">.<strong>escape_ignore_list?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#strip_trailing_newlines-class_method" title=".strip_trailing_newlines (class method)">.<strong>strip_trailing_newlines</strong>  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#strip_trailing_newlines%3F-class_method" title=".strip_trailing_newlines? (class method)">.<strong>strip_trailing_newlines?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
</ul>
</div>  <!-- class_attribute_summary -->

<h2 class='h2_sum' id='class_method_summary'>Class Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#call-class_method" title=".call (class method)">.<strong>call</strong>(template, source)  </a>
    </span>
  </li>
</ul>
</div>  <!-- class_method_summary -->

<h2 class='h2_sum' id='instance_attribute_summary'>Instance Attribute Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature rw'>
      <a href="#erb_implementation-instance_method" title="#erb_implementation (instance method)">#<strong>erb_implementation</strong>  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#erb_implementation%3F-instance_method" title="#erb_implementation? (instance method)">#<strong>erb_implementation?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#erb_trim_mode-instance_method" title="#erb_trim_mode (instance method)">#<strong>erb_trim_mode</strong>  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#erb_trim_mode%3F-instance_method" title="#erb_trim_mode? (instance method)">#<strong>erb_trim_mode?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#escape_ignore_list-instance_method" title="#escape_ignore_list (instance method)">#<strong>escape_ignore_list</strong>  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#escape_ignore_list%3F-instance_method" title="#escape_ignore_list? (instance method)">#<strong>escape_ignore_list?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature ro'>
      <a href="#handles_encoding%3F-instance_method" title="#handles_encoding? (instance method)">#<strong>handles_encoding?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#strip_trailing_newlines-instance_method" title="#strip_trailing_newlines (instance method)">#<strong>strip_trailing_newlines</strong>  </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature rw'>
      <a href="#strip_trailing_newlines%3F-instance_method" title="#strip_trailing_newlines? (instance method)">#<strong>strip_trailing_newlines?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title rw'>rw</span>
  </li>
  <li>
    <span class='summary_signature ro'>
      <a href="#supports_streaming%3F-instance_method" title="#supports_streaming? (instance method)">#<strong>supports_streaming?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
</ul>
</div>  <!-- instance_attribute_summary -->

<h2 class='h2_sum' id='instance_method_summary'>Instance Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#call-instance_method" title="#call (instance method)">#<strong>call</strong>(template, source)  </a>
    </span>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#translate_location-instance_method" title="#translate_location (instance method)">#<strong>translate_location</strong>(spot, backtrace_location, source)  </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Translate an error location returned by ErrorHighlight to the correct source location inside the template.</p></div>
    </div>
  </li>
</ul>
</div>  <!-- instance_method_summary -->
<h2 class='y_details'>Class Attribute Details</h2>
<section class='method_details first' id="erb_implementation-class_method">
  <h3 class='signature rw first'>
    .<strong>erb_implementation</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L17-L17'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='17' data-end='17'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 17</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_erb_implementation'>erb_implementation</span><span class='comma'>,</span> <span class='label'>default:</span> <span class='const'><a href="ERB/Erubi.html" title="ActionView::Template::Handlers::ERB::Erubi (class)">Erubi</a></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="erb_implementation?-class_method">
  <h3 class='signature rw'>
    .<strong>erb_implementation?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L17-L17'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='17' data-end='17'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 17</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_erb_implementation'><a href="#erb_implementation-class_method" title="ActionView::Template::Handlers::ERB.erb_implementation (method)">erb_implementation</a></span><span class='comma'>,</span> <span class='label'>default:</span> <span class='const'><a href="ERB/Erubi.html" title="ActionView::Template::Handlers::ERB::Erubi (class)">Erubi</a></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="erb_trim_mode-class_method">
  <h3 class='signature rw'>
    .<strong>erb_trim_mode</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L14-L14'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='14' data-end='14'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 14</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_erb_trim_mode'>erb_trim_mode</span><span class='comma'>,</span> <span class='label'>default:</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>-</span><span class='tstring_end'>&quot;</span></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="erb_trim_mode?-class_method">
  <h3 class='signature rw'>
    .<strong>erb_trim_mode?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L14-L14'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='14' data-end='14'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 14</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_erb_trim_mode'><a href="#erb_trim_mode-class_method" title="ActionView::Template::Handlers::ERB.erb_trim_mode (method)">erb_trim_mode</a></span><span class='comma'>,</span> <span class='label'>default:</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>-</span><span class='tstring_end'>&quot;</span></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="escape_ignore_list-class_method">
  <h3 class='signature rw'>
    .<strong>escape_ignore_list</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L20-L20'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='20' data-end='20'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 20</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_escape_ignore_list'>escape_ignore_list</span><span class='comma'>,</span> <span class='label'>default:</span> [<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>text/plain</span><span class='tstring_end'>&quot;</span></span>]
</pre>
  </div>
</div>
</section>

<section class='method_details' id="escape_ignore_list?-class_method">
  <h3 class='signature rw'>
    .<strong>escape_ignore_list?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L20-L20'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='20' data-end='20'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 20</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_escape_ignore_list'><a href="#escape_ignore_list-class_method" title="ActionView::Template::Handlers::ERB.escape_ignore_list (method)">escape_ignore_list</a></span><span class='comma'>,</span> <span class='label'>default:</span> [<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>text/plain</span><span class='tstring_end'>&quot;</span></span>]
</pre>
  </div>
</div>
</section>

<section class='method_details' id="strip_trailing_newlines-class_method">
  <h3 class='signature rw'>
    .<strong>strip_trailing_newlines</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L23-L23'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='23' data-end='23'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 23</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_strip_trailing_newlines'>strip_trailing_newlines</span><span class='comma'>,</span> <span class='label'>default:</span> <span class='kw'>false</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="strip_trailing_newlines?-class_method">
  <h3 class='signature rw'>
    .<strong>strip_trailing_newlines?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L23-L23'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='23' data-end='23'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 23</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_strip_trailing_newlines'><a href="#strip_trailing_newlines-class_method" title="ActionView::Template::Handlers::ERB.strip_trailing_newlines (method)">strip_trailing_newlines</a></span><span class='comma'>,</span> <span class='label'>default:</span> <span class='kw'>false</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Class Method Details</h2>
<section class='method_details first' id="call-class_method">
  <h3 class='signature  first'>
    .<strong>call</strong>(template, source)  
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L29-L31'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='29' data-end='31'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 29</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='kw'>self</span>.<span class='id identifier rubyid_call'>call</span>(<span class='id identifier rubyid_template'>template</span><span class='comma'>,</span> <span class='id identifier rubyid_source'><a href="../../Template.html#source-instance_method" title="ActionView::Template#source (method)">source</a></span>)
  <span class='id identifier rubyid_new'><a href="../../Template.html#new-class_method" title="ActionView::Template.new (method)">new</a></span>.<span class='id identifier rubyid_call'>call</span>(<span class='id identifier rubyid_template'>template</span><span class='comma'>,</span> <span class='id identifier rubyid_source'><a href="../../Template.html#source-instance_method" title="ActionView::Template#source (method)">source</a></span>)
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Attribute Details</h2>
<section class='method_details first' id="erb_implementation-instance_method">
  <h3 class='signature rw first'>
    #<strong>erb_implementation</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L17-L17'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='17' data-end='17'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 17</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_erb_implementation'>erb_implementation</span><span class='comma'>,</span> <span class='label'>default:</span> <span class='const'><a href="ERB/Erubi.html" title="ActionView::Template::Handlers::ERB::Erubi (class)">Erubi</a></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="erb_implementation?-instance_method">
  <h3 class='signature rw'>
    #<strong>erb_implementation?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L17-L17'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='17' data-end='17'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 17</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_erb_implementation'><a href="#erb_implementation-class_method" title="ActionView::Template::Handlers::ERB.erb_implementation (method)">erb_implementation</a></span><span class='comma'>,</span> <span class='label'>default:</span> <span class='const'><a href="ERB/Erubi.html" title="ActionView::Template::Handlers::ERB::Erubi (class)">Erubi</a></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="erb_trim_mode-instance_method">
  <h3 class='signature rw'>
    #<strong>erb_trim_mode</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L14-L14'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='14' data-end='14'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 14</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_erb_trim_mode'>erb_trim_mode</span><span class='comma'>,</span> <span class='label'>default:</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>-</span><span class='tstring_end'>&quot;</span></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="erb_trim_mode?-instance_method">
  <h3 class='signature rw'>
    #<strong>erb_trim_mode?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L14-L14'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='14' data-end='14'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 14</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_erb_trim_mode'><a href="#erb_trim_mode-class_method" title="ActionView::Template::Handlers::ERB.erb_trim_mode (method)">erb_trim_mode</a></span><span class='comma'>,</span> <span class='label'>default:</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>-</span><span class='tstring_end'>&quot;</span></span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="escape_ignore_list-instance_method">
  <h3 class='signature rw'>
    #<strong>escape_ignore_list</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L20-L20'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='20' data-end='20'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 20</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_escape_ignore_list'>escape_ignore_list</span><span class='comma'>,</span> <span class='label'>default:</span> [<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>text/plain</span><span class='tstring_end'>&quot;</span></span>]
</pre>
  </div>
</div>
</section>

<section class='method_details' id="escape_ignore_list?-instance_method">
  <h3 class='signature rw'>
    #<strong>escape_ignore_list?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L20-L20'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='20' data-end='20'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 20</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_escape_ignore_list'><a href="#escape_ignore_list-class_method" title="ActionView::Template::Handlers::ERB.escape_ignore_list (method)">escape_ignore_list</a></span><span class='comma'>,</span> <span class='label'>default:</span> [<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>text/plain</span><span class='tstring_end'>&quot;</span></span>]
</pre>
  </div>
</div>
</section>

<section class='method_details' id="handles_encoding?-instance_method">
  <h3 class='signature ro'>
    #<strong>handles_encoding?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L37-L39'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='37' data-end='39'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 37</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_handles_encoding?'>handles_encoding?</span>
  <span class='kw'>true</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="strip_trailing_newlines-instance_method">
  <h3 class='signature rw'>
    #<strong>strip_trailing_newlines</strong>   <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L23-L23'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='23' data-end='23'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 23</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_strip_trailing_newlines'>strip_trailing_newlines</span><span class='comma'>,</span> <span class='label'>default:</span> <span class='kw'>false</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="strip_trailing_newlines?-instance_method">
  <h3 class='signature rw'>
    #<strong>strip_trailing_newlines?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='rw'>rw</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L23-L23'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='23' data-end='23'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 23</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_class_attribute'>class_attribute</span> <span class='symbeg'>:</span><span class='id identifier rubyid_strip_trailing_newlines'><a href="#strip_trailing_newlines-class_method" title="ActionView::Template::Handlers::ERB.strip_trailing_newlines (method)">strip_trailing_newlines</a></span><span class='comma'>,</span> <span class='label'>default:</span> <span class='kw'>false</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="supports_streaming?-instance_method">
  <h3 class='signature ro'>
    #<strong>supports_streaming?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L33-L35'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='33' data-end='35'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 33</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_supports_streaming?'>supports_streaming?</span>
  <span class='kw'>true</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Method Details</h2>
<section class='method_details first' id="call-instance_method">
  <h3 class='signature  first'>
    #<strong>call</strong>(template, source)  
  </h3>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L63-L92'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='63' data-end='92'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 63</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_call'>call</span>(<span class='id identifier rubyid_template'>template</span><span class='comma'>,</span> <span class='id identifier rubyid_source'><a href="../../Template.html#source-instance_method" title="ActionView::Template#source (method)">source</a></span>)
  <span class='comment'># First, convert to BINARY, so in case the encoding is
</span>  <span class='comment'># wrong, we can still find an encoding tag
</span>  <span class='comment'># (&lt;%# encoding %&gt;) inside the String using a regular
</span>  <span class='comment'># expression
</span>  <span class='id identifier rubyid_template_source'>template_source</span> <span class='op'>=</span> <span class='id identifier rubyid_source'><a href="../../Template.html#source-instance_method" title="ActionView::Template#source (method)">source</a></span>.<span class='id identifier rubyid_b'>b</span>

  <span class='id identifier rubyid_erb'>erb</span> <span class='op'>=</span> <span class='id identifier rubyid_template_source'>template_source</span>.<span class='id identifier rubyid_gsub'>gsub</span>(<span class='const'><a href="#ENCODING_TAG-constant" title="ActionView::Template::Handlers::ERB::ENCODING_TAG (constant)">ENCODING_TAG</a></span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_end'>&quot;</span></span>)
  <span class='id identifier rubyid_encoding'>encoding</span> <span class='op'>=</span> <span class='backref'>$2</span>

  <span class='id identifier rubyid_erb'>erb</span>.<span class='id identifier rubyid_force_encoding'>force_encoding</span> <span class='id identifier rubyid_valid_encoding'>valid_encoding</span>(<span class='id identifier rubyid_source'><a href="../../Template.html#source-instance_method" title="ActionView::Template#source (method)">source</a></span>.<span class='id identifier rubyid_dup'>dup</span><span class='comma'>,</span> <span class='id identifier rubyid_encoding'>encoding</span>)

  <span class='comment'># Always make sure we return a String in the default_internal
</span>  <span class='id identifier rubyid_erb'>erb</span>.<span class='id identifier rubyid_encode!'><a href="../../Template.html#encode!-instance_method" title="ActionView::Template#encode! (method)">encode!</a></span>

  <span class='comment'># Strip trailing newlines from the template if enabled
</span>  <span class='id identifier rubyid_erb'>erb</span>.<span class='id identifier rubyid_chomp!'>chomp!</span> <span class='kw'>if</span> <span class='id identifier rubyid_strip_trailing_newlines'><a href="#strip_trailing_newlines-class_method" title="ActionView::Template::Handlers::ERB.strip_trailing_newlines (method)">strip_trailing_newlines</a></span>

  <span class='id identifier rubyid_options'>options</span> <span class='op'>=</span> {
    <span class='label'>escape:</span> (<span class='kw'>self</span>.<span class='id identifier rubyid_class'>class</span>.<span class='id identifier rubyid_escape_ignore_list'><a href="#escape_ignore_list-class_method" title="ActionView::Template::Handlers::ERB.escape_ignore_list (method)">escape_ignore_list</a></span>.<span class='id identifier rubyid_include?'>include?</span> <span class='id identifier rubyid_template'>template</span>.<span class='id identifier rubyid_type'><a href="../../Template.html#type-instance_method" title="ActionView::Template#type (method)">type</a></span>)<span class='comma'>,</span>
    <span class='label'>trim:</span> (<span class='kw'>self</span>.<span class='id identifier rubyid_class'>class</span>.<span class='id identifier rubyid_erb_trim_mode'><a href="#erb_trim_mode-class_method" title="ActionView::Template::Handlers::ERB.erb_trim_mode (method)">erb_trim_mode</a></span> <span class='op'>==</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>-</span><span class='tstring_end'>&quot;</span></span>)
  }

  <span class='kw'>if</span> <span class='const'><a href="../../../ActionView.html" title="ActionView (module)">ActionView</a></span><span class='op'>::</span><span class='const'><a href="../../Base.html" title="ActionView::Base (class)">Base</a></span>.<span class='id identifier rubyid_annotate_rendered_view_with_filenames'><a href="../../Base.html#annotate_rendered_view_with_filenames-class_method" title="ActionView::Base.annotate_rendered_view_with_filenames (method)">annotate_rendered_view_with_filenames</a></span> <span class='op'>&amp;&amp;</span> <span class='id identifier rubyid_template'>template</span>.<span class='id identifier rubyid_format'><a href="../../Template.html#format-instance_method" title="ActionView::Template#format (method)">format</a></span> <span class='op'>==</span> <span class='symbeg'>:</span><span class='id identifier rubyid_html'>html</span>
    <span class='id identifier rubyid_options'>options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_preamble'>preamble</span>] <span class='op'>=</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>@output_buffer.safe_append=&#39;&lt;!-- BEGIN </span><span class='embexpr_beg'>#{</span><span class='id identifier rubyid_template'>template</span>.<span class='id identifier rubyid_short_identifier'><a href="../../Template.html#short_identifier-instance_method" title="ActionView::Template#short_identifier (method)">short_identifier</a></span><span class='embexpr_end'>}</span><span class='tstring_content'> --&gt;&#39;;</span><span class='tstring_end'>&quot;</span></span>
    <span class='id identifier rubyid_options'>options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_postamble'>postamble</span>] <span class='op'>=</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>@output_buffer.safe_append=&#39;&lt;!-- END </span><span class='embexpr_beg'>#{</span><span class='id identifier rubyid_template'>template</span>.<span class='id identifier rubyid_short_identifier'><a href="../../Template.html#short_identifier-instance_method" title="ActionView::Template#short_identifier (method)">short_identifier</a></span><span class='embexpr_end'>}</span><span class='tstring_content'> --&gt;&#39;;@output_buffer</span><span class='tstring_end'>&quot;</span></span>
  <span class='kw'>end</span>

  <span class='kw'>self</span>.<span class='id identifier rubyid_class'>class</span>.<span class='id identifier rubyid_erb_implementation'><a href="#erb_implementation-class_method" title="ActionView::Template::Handlers::ERB.erb_implementation (method)">erb_implementation</a></span>.<span class='id identifier rubyid_new'><a href="../../Template.html#new-class_method" title="ActionView::Template.new (method)">new</a></span>(<span class='id identifier rubyid_erb'>erb</span><span class='comma'>,</span> <span class='id identifier rubyid_options'>options</span>).<span class='id identifier rubyid_src'>src</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="translate_location-instance_method">
  <h3 class='signature '>
    #<strong>translate_location</strong>(spot, backtrace_location, source)  
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Translate an error location returned by ErrorHighlight to the correct source location inside the template.</p>

  </div>
</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/rails/rails/blob/v7.2.3/actionview/lib/action_view/template/handlers/erb.rb#L43-L61'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='43' data-end='61'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'actionview/lib/action_view/template/handlers/erb.rb', line 43</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_translate_location'>translate_location</span>(<span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span><span class='comma'>,</span> <span class='id identifier rubyid_backtrace_location'>backtrace_location</span><span class='comma'>,</span> <span class='id identifier rubyid_source'><a href="../../Template.html#source-instance_method" title="ActionView::Template#source (method)">source</a></span>)
  <span class='comment'># Tokenize the source line
</span>  <span class='id identifier rubyid_source_lines'>source_lines</span> <span class='op'>=</span> <span class='id identifier rubyid_source'><a href="../../Template.html#source-instance_method" title="ActionView::Template#source (method)">source</a></span>.<span class='id identifier rubyid_lines'>lines</span>
  <span class='kw'>return</span> <span class='kw'>nil</span> <span class='kw'>if</span> <span class='id identifier rubyid_source_lines'>source_lines</span>.<span class='id identifier rubyid_size'>size</span> <span class='op'>&lt;</span> <span class='id identifier rubyid_backtrace_location'>backtrace_location</span>.<span class='id identifier rubyid_lineno'>lineno</span>
  <span class='id identifier rubyid_tokens'>tokens</span> <span class='op'>=</span> <span class='op'>::</span><span class='const'><a href="../../../ERB.html" title="ERB (class)">ERB</a></span><span class='op'>::</span><span class='const'><a href="../../../ERB/Util.html" title="ERB::Util (module)">Util</a></span>.<span class='id identifier rubyid_tokenize'><a href="../../../ERB/Util.html#tokenize-class_method" title="ERB::Util.tokenize (method)">tokenize</a></span>(<span class='id identifier rubyid_source_lines'>source_lines</span>[<span class='id identifier rubyid_backtrace_location'>backtrace_location</span>.<span class='id identifier rubyid_lineno'>lineno</span> <span class='op'>-</span> <span class='int'>1</span>])
  <span class='id identifier rubyid_new_first_column'>new_first_column</span> <span class='op'>=</span> <span class='id identifier rubyid_find_offset'>find_offset</span>(<span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_snippet'>snippet</span>]<span class='comma'>,</span> <span class='id identifier rubyid_tokens'>tokens</span><span class='comma'>,</span> <span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_first_column'>first_column</span>])
  <span class='id identifier rubyid_lineno_delta'>lineno_delta</span> <span class='op'>=</span> <span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_first_lineno'>first_lineno</span>] <span class='op'>-</span> <span class='id identifier rubyid_backtrace_location'>backtrace_location</span>.<span class='id identifier rubyid_lineno'>lineno</span>
  <span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_first_lineno'>first_lineno</span>] <span class='op'>-=</span> <span class='id identifier rubyid_lineno_delta'>lineno_delta</span>
  <span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_last_lineno'>last_lineno</span>] <span class='op'>-=</span> <span class='id identifier rubyid_lineno_delta'>lineno_delta</span>

  <span class='id identifier rubyid_column_delta'>column_delta</span> <span class='op'>=</span> <span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_first_column'>first_column</span>] <span class='op'>-</span> <span class='id identifier rubyid_new_first_column'>new_first_column</span>
  <span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_first_column'>first_column</span>] <span class='op'>-=</span> <span class='id identifier rubyid_column_delta'>column_delta</span>
  <span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_last_column'>last_column</span>] <span class='op'>-=</span> <span class='id identifier rubyid_column_delta'>column_delta</span>
  <span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_script_lines'>script_lines</span>] <span class='op'>=</span> <span class='id identifier rubyid_source_lines'>source_lines</span>

  <span class='id identifier rubyid_spot'><a href="../../Template.html#spot-instance_method" title="ActionView::Template#spot (method)">spot</a></span>
<span class='kw'>rescue</span> <span class='const'>NotImplementedError</span><span class='comma'>,</span> <span class='const'><a href="#LocationParsingError-constant" title="ActionView::Template::Handlers::ERB::LocationParsingError (constant)">LocationParsingError</a></span>
  <span class='kw'>nil</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>