<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen' content='yes'>
<meta name='mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Module: YARD::Templates::Helpers::UMLHelper &mdash; YARD main</title>

<link rel='stylesheet'  type='text/css' href='../../../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "YARD::Templates::Helpers::UMLHelper",
    relpath = '../../../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../../../'>YARD main</a> &raquo; 
      <a href='../../../_index.html#alpha_U'>Index (U)</a> &raquo; 
        <a href="../../../YARD.html" title="YARD (module)">YARD</a> &raquo; 
        <a href="../../Templates.html" title="YARD::Templates (module)">Templates</a> &raquo; 
        <a href="../Helpers.html" title="YARD::Templates::Helpers (module)">Helpers</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>UMLHelper&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../../../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='module'>
<h1>Module: YARD::Templates::Helpers::UMLHelper</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships & Source Files</td></tr>
  </thead>
  <tbody>
    <tr class='single'>
      <td id='t2_defined_in' class='box_2'>Defined in:</td>
      <td class='box_rel'><a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/helpers/uml_helper.rb#L5'>lib/yard/templates/helpers/uml_helper.rb</a>      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='h2_overview'>Overview</h2>
<div id='overview_ds'>
<div class='docstring'>
  <div class='discussion'>
    <p><a href="../Helpers.html" title="YARD::Templates::Helpers (module)"><code>::YARD::Templates::Helpers</code></a> for UML template format</p>

  </div>
</div>
</div>
<h2 class='h2_sum' id='instance_method_summary'>Instance Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#format_path-instance_method" title="#format_path (instance method)">#<strong>format_path</strong>(object)  &#x21d2; String </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Formats the path of an object for Graphviz syntax.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#h-instance_method" title="#h (instance method)">#<strong>h</strong>(text)  &#x21d2; String </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Encodes text in escaped Graphviz syntax.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#tidy-instance_method" title="#tidy (instance method)">#<strong>tidy</strong>(data)  &#x21d2; String </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Tidies data by formatting and indenting text.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#uml_visibility-instance_method" title="#uml_visibility (instance method)">#<strong>uml_visibility</strong>(object)  &#x21d2; String </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Official UML visibility prefix syntax for an object given its visibility.</p></div>
    </div>
  </li>
</ul>
</div>  <!-- instance_method_summary -->
<h2 class='y_details'>Instance Method Details</h2>
<section class='method_details first' id="format_path-instance_method">
  <h3 class='signature  first'>
    #<strong>format_path</strong>(object)  &#x21d2; <a href="../../../String.html" title="String (class)">String</a> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    <p>Formats the path of an object for Graphviz syntax</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>object</span>
    <span class='type'>(<a href="../../CodeObjects/Base.html" title="YARD::CodeObjects::Base (class)">CodeObjects::Base</a>)</span>
&mdash;    <div class='inline'><p>an object to format the path of</p>
</div>
  </li>
</ul>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../../../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'><p>the encoded path</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/helpers/uml_helper.rb#L20-L22'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='20' data-end='22'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/helpers/uml_helper.rb', line 20</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_format_path'>format_path</span>(<span class='id identifier rubyid_object'>object</span>)
  <span class='id identifier rubyid_object'>object</span>.<span class='id identifier rubyid_path'>path</span>.<span class='id identifier rubyid_gsub'>gsub</span>(<span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>::</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>_</span><span class='tstring_end'>&#39;</span></span>)
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="h-instance_method">
  <h3 class='signature '>
    #<strong>h</strong>(text)  &#x21d2; <a href="../../../String.html" title="String (class)">String</a> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    <p>Encodes text in escaped Graphviz syntax</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>text</span>
    <span class='type'>(<a href="../../../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'><p>text to encode</p>
</div>
  </li>
</ul>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../../../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'><p>the encoded text</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/helpers/uml_helper.rb#L27-L29'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='27' data-end='29'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/helpers/uml_helper.rb', line 27</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_h'>h</span>(<span class='id identifier rubyid_text'>text</span>)
  <span class='id identifier rubyid_text'>text</span>.<span class='id identifier rubyid_to_s'>to_s</span>.<span class='id identifier rubyid_gsub'>gsub</span>(<span class='tstring'><span class='regexp_beg'>/</span><span class='tstring_content'>(\W)</span><span class='regexp_end'>/</span></span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>\\\\\1</span><span class='tstring_end'>&#39;</span></span>)
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="tidy-instance_method">
  <h3 class='signature '>
    #<strong>tidy</strong>(data)  &#x21d2; <a href="../../../String.html" title="String (class)">String</a> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    <p>Tidies data by formatting and indenting text</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>data</span>
    <span class='type'>(<a href="../../../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'><p>pre-formatted text</p>
</div>
  </li>
</ul>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../../../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'><p>tidied text.</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/helpers/uml_helper.rb#L34-L44'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='34' data-end='44'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/helpers/uml_helper.rb', line 34</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_tidy'>tidy</span>(<span class='id identifier rubyid_data'>data</span>)
  <span class='id identifier rubyid_indent'>indent</span> <span class='op'>=</span> <span class='int'>0</span>
  <span class='id identifier rubyid_data'>data</span>.<span class='id identifier rubyid_split'>split</span>(<span class='tstring'><span class='regexp_beg'>/</span><span class='tstring_content'>\n</span><span class='regexp_end'>/</span></span>).<span class='id identifier rubyid_map'>map</span> <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_line'>line</span><span class='op'>|</span>
    <span class='id identifier rubyid_line'>line</span>.<span class='id identifier rubyid_gsub!'>gsub!</span>(<span class='tstring'><span class='regexp_beg'>/</span><span class='tstring_content'>^\s*</span><span class='regexp_end'>/</span></span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_end'>&#39;</span></span>)
    <span class='kw'>next</span> <span class='kw'>if</span> <span class='id identifier rubyid_line'>line</span>.<span class='id identifier rubyid_empty?'>empty?</span>
    <span class='id identifier rubyid_indent'>indent</span> <span class='op'>-=</span> <span class='int'>1</span> <span class='kw'>if</span> <span class='id identifier rubyid_line'>line</span> <span class='op'>=~</span> <span class='tstring'><span class='regexp_beg'>/</span><span class='tstring_content'>^\s*\}\s*$</span><span class='regexp_end'>/</span></span>
    <span class='id identifier rubyid_line'>line</span> <span class='op'>=</span> (<span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'> </span><span class='tstring_end'>&#39;</span></span> <span class='op'>*</span> (<span class='id identifier rubyid_indent'>indent</span> <span class='op'>*</span> <span class='int'>2</span>)) <span class='op'>+</span> <span class='id identifier rubyid_line'>line</span>
    <span class='id identifier rubyid_indent'>indent</span> <span class='op'>+=</span> <span class='int'>1</span> <span class='kw'>if</span> <span class='id identifier rubyid_line'>line</span> <span class='op'>=~</span> <span class='tstring'><span class='regexp_beg'>/</span><span class='tstring_content'>\{\s*$</span><span class='regexp_end'>/</span></span>
    <span class='id identifier rubyid_line'>line</span>
  <span class='kw'>end</span>.<span class='id identifier rubyid_compact'>compact</span>.<span class='id identifier rubyid_join'>join</span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>\n</span><span class='tstring_end'>&quot;</span></span>) <span class='op'>+</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>\n</span><span class='tstring_end'>&quot;</span></span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="uml_visibility-instance_method">
  <h3 class='signature '>
    #<strong>uml_visibility</strong>(object)  &#x21d2; <a href="../../../String.html" title="String (class)">String</a> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    <p>Official UML visibility prefix syntax for an object given its visibility</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>object</span>
    <span class='type'>(<a href="../../CodeObjects/Base.html" title="YARD::CodeObjects::Base (class)">CodeObjects::Base</a>)</span>
&mdash;    <div class='inline'><p>the object to retrieve visibility for</p>
</div>
  </li>
</ul>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../../../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'><p>the UML visibility prefix</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/lsegal/yard/blob/main/lib/yard/templates/helpers/uml_helper.rb#L9-L15'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='9' data-end='15'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/yard/templates/helpers/uml_helper.rb', line 9</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_uml_visibility'>uml_visibility</span>(<span class='id identifier rubyid_object'>object</span>)
  <span class='kw'>case</span> <span class='id identifier rubyid_object'>object</span>.<span class='id identifier rubyid_visibility'>visibility</span>
  <span class='kw'>when</span> <span class='symbeg'>:</span><span class='id identifier rubyid_public'>public</span><span class='semicolon'>;</span>    <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>+</span><span class='tstring_end'>&#39;</span></span>
  <span class='kw'>when</span> <span class='symbeg'>:</span><span class='id identifier rubyid_protected'>protected</span><span class='semicolon'>;</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>#</span><span class='tstring_end'>&#39;</span></span>
  <span class='kw'>when</span> <span class='symbeg'>:</span><span class='id identifier rubyid_private'>private</span><span class='semicolon'>;</span>   <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>-</span><span class='tstring_end'>&#39;</span></span>
  <span class='kw'>end</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>