<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen' content='yes'>
<meta name='mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: Layout::AutoTextDefinitions &mdash; SketchUp Ruby API main</title>

<link rel='stylesheet'  type='text/css' href='../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "Layout::AutoTextDefinitions",
    relpath = '../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../'>SketchUp</a> &raquo; 
      <a href='../_index.html#alpha_A'>Index (A)</a> &raquo; 
        <a href="../Layout.html" title="Layout (module)">Layout</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>AutoTextDefinitions&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: Layout::AutoTextDefinitions</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Super Chains via Extension / Inclusion / Inheritance</td></tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Instance Chain:</div>
        <div class='box_22'>
          self,
          Enumerable
        </div>
      </td>
    </tr>
    <tr>
      <td id='t2_inherits' class='box_2'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'>Object</span>
      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='h2_overview'>Overview</h2>
<div id='overview_ds'>
<div class='docstring'>
  <div class='discussion'>
    
<p>The AutoTextDefinitions class is a container class for all <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a>s in a <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a>.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
      <pre class='example code "#{object.source_type}"'><code><span class='comment'># Grab a handle to an existing LayOut document&#39;s auto-text definitions.
</span><span class='id identifier rubyid_doc'>doc</span> <span class='op'>=</span> <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'><a href="Document.html" title="Layout::Document (class)">Document</a></span>.<span class='id identifier rubyid_open'><a href="Document.html#open-class_method" title="Layout::Document.open (method)">open</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>C:/path/to/document.layout</span><span class='tstring_end'>&quot;</span></span>)
<span class='id identifier rubyid_auto_texts'>auto_texts</span> <span class='op'>=</span> <span class='id identifier rubyid_doc'>doc</span>.<span class='id identifier rubyid_auto_text_definitions'>auto_text_definitions</span>

<span class='comment'># From here, we can add auto-text definitions to or remove them from the
</span><span class='comment'># document.
</span><span class='id identifier rubyid_auto_texts'>auto_texts</span>.<span class='id identifier rubyid_add'><a href="#add-instance_method" title="Layout::AutoTextDefinitions#add (method)">add</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>PageNum</span><span class='tstring_end'>&quot;</span></span><span class='comma'>,</span> <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'><a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">AutoTextDefinition</a></span><span class='op'>::</span><span class='const'>TYPE_PAGE_NUM</span>)
<span class='id identifier rubyid_auto_texts'>auto_texts</span>.<span class='id identifier rubyid_remove'><a href="#remove-instance_method" title="Layout::AutoTextDefinitions#remove (method)">remove</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>PageNum</span><span class='tstring_end'>&quot;</span></span>)</code></pre>
  </div>
<p class='tag_title'>Version:</p>
<ul class='version'>
  <li>
    <div class='inline'>
<p>LayOut 2018</p>
</div>
  </li>
</ul>

</div>
</div>
<h2 class='h2_sum' id='instance_method_summary'>Instance Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#[]-instance_method" title="#[] (instance method)">#<strong>[]</strong>(index)  &#x21d2; Layout::AutoTextDefinition </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>The <a href="#[]-instance_method" title="Layout::AutoTextDefinitions#[] (method)">#[]</a> method returns a value from the array of <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a>s.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#add-instance_method" title="#add (instance method)">#<strong>add</strong>(name, type)  &#x21d2; Layout::AutoTextDefinition </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>The <a href="#add-instance_method" title="Layout::AutoTextDefinitions#add (method)">#add</a> method adds an <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> to the <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a>.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#each-instance_method" title="#each (instance method)">#<strong>each</strong> {|auto_text| ... } </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>The <a href="#each-instance_method" title="Layout::AutoTextDefinitions#each (method)">#each</a> method iterates through all of the <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a>s.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#index-instance_method" title="#index (instance method)">#<strong>index</strong>(auto_text)  &#x21d2; Integer<sup>?</sup> </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>The <a href="#index-instance_method" title="Layout::AutoTextDefinitions#index (method)">#index</a> method returns the index of the <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a>, or <code>nil</code> if it doesn’t exist in the <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a>.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#length-instance_method" title="#length (instance method)">#<strong>length</strong>  &#x21d2; Integer </a>
      (also: #size)
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>The <a href="#length-instance_method" title="Layout::AutoTextDefinitions#length (method)">#length</a> method returns the number of <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a>s.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#remove-instance_method" title="#remove (instance method)">#<strong>remove</strong>(definition, convert_tags_to_text = true)  </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>The <a href="#remove-instance_method" title="Layout::AutoTextDefinitions#remove (method)">#remove</a> method removes an <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> from the <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a>.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#size-instance_method" title="#size (instance method)">#<strong>size</strong>  </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Alias for <a href="#length-instance_method" title="Layout::AutoTextDefinitions#length (method)">#length</a>.</p></div>
    </div>
  </li>
</ul>
</div>  <!-- instance_method_summary -->
<h2 class='y_details'>Instance Method Details</h2>
<section class='method_details first' id="[]-instance_method">
  <h3 class='signature  first'>
    <div class='inline-block'>
      <span class='overload'>#<strong>[]</strong>(index)  &#x21d2; <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">Layout::AutoTextDefinition</a> </span>
      <span class='overload'>#<strong>[]</strong>(name)  &#x21d2; <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">Layout::AutoTextDefinition</a> </span>
    </div>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>The <code>#[]</code> method returns a value from the array of <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a>s.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_doc'>doc</span> <span class='op'>=</span> <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'><a href="Document.html" title="Layout::Document (class)">Document</a></span>.<span class='id identifier rubyid_open'><a href="Document.html#open-class_method" title="Layout::Document.open (method)">open</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>C:/path/to/document.layout</span><span class='tstring_end'>&quot;</span></span>)
<span class='id identifier rubyid_auto_texts'>auto_texts</span> <span class='op'>=</span> <span class='id identifier rubyid_doc'>doc</span>.<span class='id identifier rubyid_auto_text_definitions'>auto_text_definitions</span>
<span class='id identifier rubyid_auto_text'>auto_text</span> <span class='op'>=</span> <span class='id identifier rubyid_auto_texts'>auto_texts</span>[<span class='int'>2</span>]</code></pre>
  </div>
  <p class='tag_title'>Overloads:</p>
  <ul class='overload'>

      <li class='overload_item'>
        <span class='signature'>#<strong>[]</strong>(index)  &#x21d2; <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">Layout::AutoTextDefinition</a> </span>
        <div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>index</span>
    <span class='type'>(<code>Integer</code>)</span>
&mdash;    <div class='inline'>
<p>The index of the <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> to return</p>
</div>
  </li>
</ul>

</div>

      </li>

      <li class='overload_item'>
        <span class='signature'>#<strong>[]</strong>(name)  &#x21d2; <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">Layout::AutoTextDefinition</a> </span>
        <div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>name</span>
    <span class='type'>(<a href="../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'>
<p>The name of the <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> to return</p>
</div>
  </li>
</ul>

</div>

      </li>
  </ul>
<p class='tag_title'>Raises:</p>
<ul class='raise'>
  <li>
    <span class='type'>(<code>IndexError</code>)</span>
&mdash;    <div class='inline'>
<p>if index is out of range</p>
</div>
  </li>
</ul>
<p class='tag_title'>Version:</p>
<ul class='version'>
  <li>
    <div class='inline'>
<p>LayOut 2018</p>
</div>
  </li>
</ul>

</div>

</section>

<section class='method_details' id="add-instance_method">
  <h3 class='signature '>
    #<strong>add</strong>(name, type)  &#x21d2; <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">Layout::AutoTextDefinition</a> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>The <code>#add</code> method adds an <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> to the <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a>.</p>

<p>The type can be one of the following values:</p>
<dl class="rdoc-list label-list"><dt><code>Layout::AutoTextDefinition::TYPE_FILE</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_PAGE_NAME</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_PAGE_NUMBER</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_CUSTOM_TEXT</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_DATE_CURRENT</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_DATE_CREATED</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_DATE_MODIFIED</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_DATE_PUBLISHED</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_PAGE_COUNT</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_SEQUENCE</code></dt>
<dd></dd></dl>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_doc'>doc</span> <span class='op'>=</span> <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'><a href="Document.html" title="Layout::Document (class)">Document</a></span>.<span class='id identifier rubyid_open'><a href="Document.html#open-class_method" title="Layout::Document.open (method)">open</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>C:/path/to/document.layout</span><span class='tstring_end'>&quot;</span></span>)
<span class='id identifier rubyid_doc'>doc</span>.<span class='id identifier rubyid_auto_text_definitions'>auto_text_definitions</span>.<span class='id identifier rubyid_add'>add</span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>current date</span><span class='tstring_end'>&quot;</span></span><span class='comma'>,</span>
   <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'><a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">AutoTextDefinition</a></span><span class='op'>::</span><span class='const'><a href="AutoTextDefinition.html#TYPE_DATE_CURRENT-constant" title="Layout::AutoTextDefinition::TYPE_DATE_CURRENT (constant)">TYPE_DATE_CURRENT</a></span>)<span class='semicolon'>;</span></code></pre>
  </div>
<p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>name</span>
    <span class='type'>(<a href="../String.html" title="String (class)">String</a>)</span>
  </li>
  <li>
    <span class='name'>type</span>
    <span class='type'>(<code>Integer</code>)</span>
  </li>
</ul>
<p class='tag_title'>Raises:</p>
<ul class='raise'>
  <li>
    <span class='type'>(<code>ArgumentError</code>)</span>
&mdash;    <div class='inline'>
<p>if type is not a valid auto-text type, or is mandatory.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Version:</p>
<ul class='version'>
  <li>
    <div class='inline'>
<p>LayOut 2018</p>
</div>
  </li>
</ul>

</div>

</section>

<section class='method_details' id="each-instance_method">
  <h3 class='signature '>
    #<strong>each</strong> {|auto_text| ... } 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  <div class="note notetag">
    <strong>Note:</strong>
    <div class='inline'>
<p>Don’t remove content from this collection while iterating over it with <code>#each</code>. This would change the size of the collection and cause elements to be skipped as the indices change. Instead copy the current collection to an array using <code>to_a</code> and then use <code>each</code> on the array, when removing content.</p>
</div>
  </div>


<p>The <code>#each</code> method iterates through all of the <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a>s.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_doc'>doc</span> <span class='op'>=</span> <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'><a href="Document.html" title="Layout::Document (class)">Document</a></span>.<span class='id identifier rubyid_open'><a href="Document.html#open-class_method" title="Layout::Document.open (method)">open</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>C:/path/to/document.layout</span><span class='tstring_end'>&quot;</span></span>)
<span class='id identifier rubyid_auto_texts'>auto_texts</span> <span class='op'>=</span> <span class='id identifier rubyid_doc'>doc</span>.<span class='id identifier rubyid_auto_text_definitions'>auto_text_definitions</span>
<span class='id identifier rubyid_auto_texts'>auto_texts</span>.<span class='id identifier rubyid_each'>each</span> { <span class='op'>|</span><span class='id identifier rubyid_auto_text'>auto_text</span><span class='op'>|</span>
  <span class='id identifier rubyid_puts'>puts</span> <span class='id identifier rubyid_auto_text'>auto_text</span>.<span class='id identifier rubyid_name'>name</span>
}</code></pre>
  </div>
<p class='tag_title'>Yield Parameters:</p>
<ul class='yieldparam'>
  <li>
    <span class='name'>auto_text</span>
    <span class='type'>(<a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">Layout::AutoTextDefinition</a>)</span>
  </li>
</ul>
<p class='tag_title'>Version:</p>
<ul class='version'>
  <li>
    <div class='inline'>
<p>LayOut 2018</p>
</div>
  </li>
</ul>

</div>

</section>

<section class='method_details' id="index-instance_method">
  <h3 class='signature '>
    <div class='inline-block'>
      <span class='overload'>#<strong>index</strong>(auto_text)  &#x21d2; <code>Integer</code><sup>?</sup> </span>
      <span class='overload'>#<strong>index</strong>(name)  &#x21d2; <code>Integer</code><sup>?</sup> </span>
    </div>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>The <code>#index</code> method returns the index of the <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a>, or <code>nil</code> if it doesn’t exist in the <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a>.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_doc'>doc</span> <span class='op'>=</span> <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'><a href="Document.html" title="Layout::Document (class)">Document</a></span>.<span class='id identifier rubyid_open'><a href="Document.html#open-class_method" title="Layout::Document.open (method)">open</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>C:/path/to/document.layout</span><span class='tstring_end'>&quot;</span></span>)
<span class='id identifier rubyid_auto_texts'>auto_texts</span> <span class='op'>=</span> <span class='id identifier rubyid_doc'>doc</span>.<span class='id identifier rubyid_auto_text_definitions'>auto_text_definitions</span>
<span class='id identifier rubyid_index'>index</span> <span class='op'>=</span> <span class='id identifier rubyid_auto_texts'>auto_texts</span>.<span class='id identifier rubyid_index'>index</span>(<span class='id identifier rubyid_definitions'>definitions</span>.<span class='id identifier rubyid_first'>first</span>) <span class='comment'># Returns 0</span></code></pre>
  </div>
  <p class='tag_title'>Overloads:</p>
  <ul class='overload'>

      <li class='overload_item'>
        <span class='signature'>#<strong>index</strong>(auto_text)  &#x21d2; <code>Integer</code><sup>?</sup> </span>
        <div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>auto_text</span>
    <span class='type'>(<a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">Layout::AutoTextDefinition</a>)</span>
  </li>
</ul>

</div>

      </li>

      <li class='overload_item'>
        <span class='signature'>#<strong>index</strong>(name)  &#x21d2; <code>Integer</code><sup>?</sup> </span>
        <div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>name</span>
    <span class='type'>(<a href="../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'>
<p>The name of the <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> to get the index of</p>
</div>
  </li>
</ul>

</div>

      </li>
  </ul>
<p class='tag_title'>Version:</p>
<ul class='version'>
  <li>
    <div class='inline'>
<p>LayOut 2018</p>
</div>
  </li>
</ul>

</div>

</section>

<section class='method_details' id="length-instance_method">
  <h3 class='signature '>
    #<strong>length</strong>  &#x21d2; <code>Integer</code> 
    <span class='aliases'>Also known as: <span class='names'>#size</span></span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>The <code>#length</code> method returns the number of <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a>s.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_doc'>doc</span> <span class='op'>=</span> <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'><a href="Document.html" title="Layout::Document (class)">Document</a></span>.<span class='id identifier rubyid_open'><a href="Document.html#open-class_method" title="Layout::Document.open (method)">open</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>C:/path/to/document.layout</span><span class='tstring_end'>&quot;</span></span>)
<span class='id identifier rubyid_auto_texts'>auto_texts</span> <span class='op'>=</span> <span class='id identifier rubyid_doc'>doc</span>.<span class='id identifier rubyid_auto_text_definitions'>auto_text_definitions</span>
<span class='id identifier rubyid_num_auto_texts'>num_auto_texts</span> <span class='op'>=</span> <span class='id identifier rubyid_auto_texts'>auto_texts</span>.<span class='id identifier rubyid_length'>length</span></code></pre>
  </div>
<p class='tag_title'>Version:</p>
<ul class='version'>
  <li>
    <div class='inline'>
<p>LayOut 2018</p>
</div>
  </li>
</ul>

</div>

</section>

<section class='method_details' id="remove-instance_method">
  <h3 class='signature '>
    <div class='inline-block'>
      <span class='overload'>#<strong>remove</strong>(definition, convert_tags_to_text = true)  </span>
      <span class='overload'>#<strong>remove</strong>(name, convert_tags_to_text = true)  </span>
      <span class='overload'>#<strong>remove</strong>(index, convert_tags_to_text = true)  </span>
    </div>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>The <code>#remove</code> method removes an <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> from the <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a>.</p>

<p>The <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> must be one of the following types:</p>
<dl class="rdoc-list label-list"><dt><code>Layout::AutoTextDefinition::TYPE_FILE</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_PAGE_NAME</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_PAGE_NUMBER</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_CUSTOM_TEXT</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_DATE_CURRENT</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_DATE_CREATED</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_DATE_MODIFIED</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_DATE_PUBLISHED</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_PAGE_COUNT</code></dt>
<dt><code>Layout::AutoTextDefinition::TYPE_SEQUENCE</code></dt>
<dd></dd></dl>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_doc'>doc</span> <span class='op'>=</span> <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'><a href="Document.html" title="Layout::Document (class)">Document</a></span>.<span class='id identifier rubyid_open'><a href="Document.html#open-class_method" title="Layout::Document.open (method)">open</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>C:/path/to/document.layout</span><span class='tstring_end'>&quot;</span></span>)
<span class='id identifier rubyid_auto_texts'>auto_texts</span> <span class='op'>=</span> <span class='id identifier rubyid_doc'>doc</span>.<span class='id identifier rubyid_auto_text_definitions'>auto_text_definitions</span>
<span class='id identifier rubyid_auto_texts'>auto_texts</span>.<span class='id identifier rubyid_remove'>remove</span>(<span class='id identifier rubyid_auto_texts'>auto_texts</span>[<span class='int'>10</span>]<span class='comma'>,</span> <span class='kw'>true</span>)</code></pre>
  </div>
  <p class='tag_title'>Overloads:</p>
  <ul class='overload'>

      <li class='overload_item'>
        <span class='signature'>#<strong>remove</strong>(definition, convert_tags_to_text = true)  </span>
        <div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>definition</span>
    <span class='type'>(<a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)">Layout::AutoTextDefinition</a>)</span>
  </li>
  <li>
    <span class='name'>convert_tags_to_text</span>
    <span class='type'>(<code>Boolean</code>)</span>
    <em class='default'>(defaults to: <tt>true</tt>)</em>
  </li>
</ul>

</div>

      </li>

      <li class='overload_item'>
        <span class='signature'>#<strong>remove</strong>(name, convert_tags_to_text = true)  </span>
        <div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>name</span>
    <span class='type'>(<a href="../String.html" title="String (class)">String</a>)</span>
&mdash;    <div class='inline'>
<p>The name of the <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> to remove</p>
</div>
  </li>
  <li>
    <span class='name'>convert_tags_to_text</span>
    <span class='type'>(<code>Boolean</code>)</span>
    <em class='default'>(defaults to: <tt>true</tt>)</em>
  </li>
</ul>

</div>

      </li>

      <li class='overload_item'>
        <span class='signature'>#<strong>remove</strong>(index, convert_tags_to_text = true)  </span>
        <div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>index</span>
    <span class='type'>(<code>Integer</code>)</span>
&mdash;    <div class='inline'>
<p>The index of the <a href="AutoTextDefinition.html" title="Layout::AutoTextDefinition (class)"><code>AutoTextDefinition</code></a> to remove</p>
</div>
  </li>
  <li>
    <span class='name'>convert_tags_to_text</span>
    <span class='type'>(<code>Boolean</code>)</span>
    <em class='default'>(defaults to: <tt>true</tt>)</em>
  </li>
</ul>

</div>

      </li>
  </ul>
<p class='tag_title'>Raises:</p>
<ul class='raise'>
  <li>
    <span class='type'>(<code>ArgumentError</code>)</span>
&mdash;    <div class='inline'>
<p>if the definition that is being removed is mandatory</p>
</div>
  </li>
</ul>
<p class='tag_title'>Version:</p>
<ul class='version'>
  <li>
    <div class='inline'>
<p>LayOut 2018</p>
</div>
  </li>
</ul>

</div>

</section>

<section class='method_details' id="size-instance_method">
  <h3 class='signature '>
    #<strong>size</strong>  
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Alias for <a href="#length-instance_method" title="Layout::AutoTextDefinitions#length (method)">#length</a>.</p>

  </div>
</div>

</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>