<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen'       content='yes'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: Layout::Ellipse &mdash; SketchUp Ruby API main</title>

<link rel='stylesheet'  type='text/css' href='../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "Layout::Ellipse",
    relpath = '../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../'>SketchUp</a> &raquo; 
      <a href='../_index.html#alpha_E'>Index (E)</a> &raquo; 
        <a href="../Layout.html" title="Layout (module)">Layout</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>Ellipse&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: Layout::Ellipse</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Super Chains via Extension / Inclusion / Inheritance</td></tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Class Chain:</div>
        <div class='box_22'>
          self,
          <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Instance Chain:</div>
        <div class='box_22'>
          self,
          <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a>
        </div>
      </td>
    </tr>
    <tr>
      <td id='t2_inherits' class='box_2 o'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'><a href="Entity.html" title="Layout::Entity (class)">Layout::Entity</a></span>
        <ul class='fullTree'>
          <li>Object</li>
          <li class='next'><a href="Entity.html" title="Layout::Entity (class)">Layout::Entity</a></li>
          <li class='next'>Layout::Ellipse</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='h2_overview'>Overview</h2>
<div id='overview_ds'>
<div class='docstring'>
  <div class='discussion'>
    
<p>A simple elliptical shape entity.</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Version:</p>
<ul class='version'>
  <li>
    <div class='inline'>
<p>LayOut 2018</p>
</div>
  </li>
</ul>

</div>
</div>
<h2 class='h2_sum' id='class_method_summary'>Class Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#new-class_method" title=".new (class method)">.<strong>new</strong>(bounds)  &#x21d2; Layout::Ellipse </a>
    </span>
    <span class='note title constructor'>constructor</span>
    <div class='summary_desc'>
      <div class='inline'><p>The <code>#initialize</code> method creates a new <code>Ellipse</code>.</p></div>
    </div>
  </li>
</ul>
</div>  <!-- class_method_summary -->

<h2 class='h2_sum' id='instance_Attribute_summary'>Instance Attribute Summary</h2>
<div class='div_sum'>

<h3 class='inherited'><a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> - Inherited</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr class='i_ds'>
      <td><a class='i_m rw' href="Entity.html#locked=-instance_method" title="Layout::Entity#locked= (method)">#locked=</a></td>
      <td><div class='inline'><p>The <code>#locked=</code> method sets the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> as locked or unlocked.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m rw' href="Entity.html#locked%3F-instance_method" title="Layout::Entity#locked? (method)">#locked?</a></td>
      <td><div class='inline'><p>The <code>#locked?</code> method returns whether the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> is locked or unlocked.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ro' href="Entity.html#on_shared_layer%3F-instance_method" title="Layout::Entity#on_shared_layer? (method)">#on_shared_layer?</a></td>
      <td><div class='inline'><p>The <code>#on_shared_layer?</code> method returns whether or not the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> is on a shared <a href="Layer.html" title="Layout::Layer (class)"><code>Layer</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m rw' href="Entity.html#style-instance_method" title="Layout::Entity#style (method)">#style</a></td>
      <td><div class='inline'><p>The <code>#style</code> method returns the <a href="Style.html" title="Layout::Style (class)"><code>Style</code></a> of the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m rw' href="Entity.html#style=-instance_method" title="Layout::Entity#style= (method)">#style=</a></td>
      <td><div class='inline'><p>The <code>#style=</code> method sets the <a href="Style.html" title="Layout::Style (class)"><code>Style</code></a> of the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m rw' href="Entity.html#untransformed_bounds-instance_method" title="Layout::Entity#untransformed_bounds (method)">#untransformed_bounds</a></td>
      <td><div class='inline'><p>The <code>#untransformed_bounds</code> method returns the untransformed bounds of the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m rw' href="Entity.html#untransformed_bounds=-instance_method" title="Layout::Entity#untransformed_bounds= (method)">#untransformed_bounds=</a></td>
      <td><div class='inline'><p>The <code>#untransformed_bounds=</code> method sets the untransformed bounds of the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a>.</p></div></td>
    </tr>
  </tbody>
</table></div>
</div>  <!-- instance_attribute_summary -->

<h2 class='h2_sum' id='instance_Method_summary'>Instance Method Summary</h2>
<div class='div_sum'>

<h3 class='inherited'><a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> - Inherited</h3>
<div class='inherited'><table class='inherited'>
  <tbody>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#==-instance_method" title="Layout::Entity#== (method)">#==</a></td>
      <td><div class='inline'><p>The <code>#==</code> method checks to see if the two <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a>s are equal.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#bounds-instance_method" title="Layout::Entity#bounds (method)">#bounds</a></td>
      <td><div class='inline'><p>The <code>#bounds</code> method returns the 2D rectangular bounds of the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#document-instance_method" title="Layout::Entity#document (method)">#document</a></td>
      <td><div class='inline'><p>The <code>#document</code> method returns the <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a> that the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> belongs to, or <code>nil</code> if it is not in a <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#drawing_bounds-instance_method" title="Layout::Entity#drawing_bounds (method)">#drawing_bounds</a></td>
      <td><div class='inline'><p>The <code>#drawing_bounds</code> method returns the 2D rectangular drawing bounds of the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#group-instance_method" title="Layout::Entity#group (method)">#group</a></td>
      <td><div class='inline'><p>The <code>#group</code> method returns the <a href="Group.html" title="Layout::Group (class)"><code>Group</code></a> the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> belongs to, or <code>nil</code> if it is not in a <a href="Group.html" title="Layout::Group (class)"><code>Group</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#layer_instance-instance_method" title="Layout::Entity#layer_instance (method)">#layer_instance</a></td>
      <td><div class='inline'><p>The <code>#layer_instance</code> method returns the <a href="LayerInstance.html" title="Layout::LayerInstance (class)"><code>LayerInstance</code></a> that the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> is on, or <code>nil</code> if it is not associated with a <a href="LayerInstance.html" title="Layout::LayerInstance (class)"><code>LayerInstance</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#move_to_group-instance_method" title="Layout::Entity#move_to_group (method)">#move_to_group</a></td>
      <td><div class='inline'><p>The <code>#move_to_group</code> method moves the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> into a <a href="Group.html" title="Layout::Group (class)"><code>Group</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#move_to_layer-instance_method" title="Layout::Entity#move_to_layer (method)">#move_to_layer</a></td>
      <td><div class='inline'><p>The <code>#move_to_layer</code> method moves the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> to the given <a href="Layer.html" title="Layout::Layer (class)"><code>Layer</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#page-instance_method" title="Layout::Entity#page (method)">#page</a></td>
      <td><div class='inline'><p>The <code>#page</code> method returns the <a href="Page.html" title="Layout::Page (class)"><code>Page</code></a> that the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> belongs to, or <code>nil</code> if it is on a shared <a href="Layer.html" title="Layout::Layer (class)"><code>Layer</code></a> or not in a <a href="Document.html" title="Layout::Document (class)"><code>Document</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#transform!-instance_method" title="Layout::Entity#transform! (method)">#transform!</a></td>
      <td><div class='inline'><p>The <code>#transform!</code> method transforms the <a href="Entity.html" title="Layout::Entity (class)"><code>Entity</code></a> with a given <a href="../Geom/Transformation2d.html" title="Geom::Transformation2d (class)"><code>::Geom::Transformation2d</code></a>.</p></div></td>
    </tr>
    <tr class='i_ds'>
      <td><a class='i_m ' href="Entity.html#transformation-instance_method" title="Layout::Entity#transformation (method)">#transformation</a></td>
      <td><div class='inline'><p>The <code>#transformation</code> method returns the explicit <a href="../Geom/Transformation2d.html" title="Geom::Transformation2d (class)"><code>::Geom::Transformation2d</code></a>.</p></div></td>
    </tr>
  </tbody>
</table></div>
</div>  <!-- instance_method_summary -->
<h2 id='Constructor_Details' class='y_details'>Constructor Details</h2>

  <section class='method_details first' id="new-class_method">
  <h3 class='signature  first'>
    .<strong>new</strong>(bounds)  &#x21d2; <code>Ellipse</code> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>The <code>#initialize</code> method creates a new <code>Ellipse</code>.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_upper_left'>upper_left</span> <span class='op'>=</span> <span class='const'><a href="../Geom.html" title="Geom (module)">Geom</a></span><span class='op'>::</span><span class='const'><a href="../Geom/Point2d.html" title="Geom::Point2d (class)">Point2d</a></span>.<span class='id identifier rubyid_new'><a href="../Geom/Point2d.html#new-class_method" title="Geom::Point2d.new (method)">new</a></span>(<span class='int'>1</span><span class='comma'>,</span> <span class='int'>1</span>)
<span class='id identifier rubyid_lower_right'>lower_right</span> <span class='op'>=</span> <span class='const'><a href="../Geom.html" title="Geom (module)">Geom</a></span><span class='op'>::</span><span class='const'><a href="../Geom/Point2d.html" title="Geom::Point2d (class)">Point2d</a></span>.<span class='id identifier rubyid_new'><a href="../Geom/Point2d.html#new-class_method" title="Geom::Point2d.new (method)">new</a></span>(<span class='int'>2</span><span class='comma'>,</span> <span class='int'>2</span>)
<span class='id identifier rubyid_bounds'>bounds</span> <span class='op'>=</span> <span class='const'><a href="../Geom.html" title="Geom (module)">Geom</a></span><span class='op'>::</span><span class='const'><a href="../Geom/Bounds2d.html" title="Geom::Bounds2d (class)">Bounds2d</a></span>.<span class='id identifier rubyid_new'><a href="../Geom/Bounds2d.html#new-class_method" title="Geom::Bounds2d.new (method)">new</a></span>(<span class='id identifier rubyid_upper_left'>upper_left</span><span class='comma'>,</span> <span class='id identifier rubyid_lower_right'>lower_right</span>)
<span class='id identifier rubyid_ellipse'>ellipse</span> <span class='op'>=</span> <span class='const'><a href="../Layout.html" title="Layout (module)">Layout</a></span><span class='op'>::</span><span class='const'>Ellipse</span>.<span class='id identifier rubyid_new'>new</span>(<span class='id identifier rubyid_bounds'>bounds</span>)</code></pre>
  </div>
<p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>bounds</span>
    <span class='type'>(<a href="../Geom/Bounds2d.html" title="Geom::Bounds2d (class)">Geom::Bounds2d</a>)</span>
  </li>
</ul>
<p class='tag_title'>Raises:</p>
<ul class='raise'>
  <li>
    <span class='type'></span>
    <div class='inline'>
<p>ArgumentError if bounds is zero size</p>
</div>
  </li>
</ul>
<p class='tag_title'>Version:</p>
<ul class='version'>
  <li>
    <div class='inline'>
<p>LayOut 2018</p>
</div>
  </li>
</ul>

</div>

</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>