<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen'       content='yes'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: Mongo::Collection::View::Builder::Aggregation &mdash; Mongo master</title>

<link rel='stylesheet'  type='text/css' href='../../../../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "Mongo::Collection::View::Builder::Aggregation",
    relpath = '../../../../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../../../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../../../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../../../../'>Mongo master</a> &raquo; 
      <a href='../../../../_index.html#alpha_A'>Index (A)</a> &raquo; 
        <a href="../../../../Mongo.html" title="Mongo (module)">Mongo</a> &raquo; 
        <a href="../../../Collection.html" title="Mongo::Collection (class)">Collection</a> &raquo; 
        <a href="../../View.html" title="Mongo::Collection::View (class)">View</a> &raquo; 
        <a href="../Builder.html" title="Mongo::Collection::View::Builder (module)">Builder</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>Aggregation&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../../../../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: Mongo::Collection::View::Builder::Aggregation</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships & Source Files</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Super Chains via Extension / Inclusion / Inheritance</td></tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Class Chain:</div>
        <div class='box_22'>
          self,
          Forwardable
        </div>
      </td>
    </tr>
    <tr>
      <td id='t2_inherits' class='box_2'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'>Object</span>
      </td>
    </tr>
    <tr class='single'>
      <td id='t2_defined_in' class='box_2'>Defined in:</td>
      <td class='box_rel'><a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L26'>lib/mongo/collection/view/builder/aggregation.rb</a>      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='h2_overview'>Overview</h2>
<div id='overview_ds'>
<div class='docstring'>
  <div class='discussion'>
    
<p>Builds an aggregation command specification from the view and options.</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
</div>
<h2 id='t2_cnst' class='h2_sum'>Constant Summary</h2>
<div>
<ul class='constants summary full'>
  <li>
    <span id='MAPPINGS-constant' class='summary_signature'>MAPPINGS =</span>
    <div class='docstring'>
  <div class='discussion'>
    
<p>The mappings from ruby options to the aggregation options.</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
    <a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L32-L44'># File 'lib/mongo/collection/view/builder/aggregation.rb', line 32</a>    <pre class='code ruby'><span class='const'>BSON</span><span class='op'>::</span><span class='const'>Document</span>.<span class='id identifier rubyid_new'><a href="#new-class_method" title="Mongo::Collection::View::Builder::Aggregation.new (method)">new</a></span>(
  <span class='label'>allow_disk_use:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>allowDiskUse</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>bypass_document_validation:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>bypassDocumentValidation</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>explain:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>explain</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>collation:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>collation</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>comment:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>comment</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>hint:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>hint</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>let:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>let</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='comment'># This is intentional; max_await_time_ms is an alias for maxTimeMS
</span>  <span class='comment'># used on getMore commands for change streams.
</span>  <span class='label'>max_await_time_ms:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>maxTimeMS</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>max_time_ms:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>maxTimeMS</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
).<span class='id identifier rubyid_freeze'>freeze</span></pre>
  </li>
</ul>
</div>

<h2 class='h2_sum' id='class_method_summary'>Class Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#new-class_method" title=".new (class method)">.<strong>new</strong>(pipeline, view, options)  &#x21d2; Aggregation </a>
    </span>
    <span class='note title constructor'>constructor</span>
    <div class='summary_desc'>
      <div class='inline'><p>Initialize the builder.</p></div>
    </div>
  </li>
</ul>
</div>  <!-- class_method_summary -->

<h2 class='h2_sum' id='instance_attribute_summary'>Instance Attribute Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature ro'>
      <a href="#options-instance_method" title="#options (instance method)">#<strong>options</strong>  &#x21d2; Hash </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
  <li>
    <span class='summary_signature ro'>
      <a href="#pipeline-instance_method" title="#pipeline (instance method)">#<strong>pipeline</strong>  &#x21d2; Array&lt;Hash&gt; </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
  <li>
    <span class='summary_signature ro'>
      <a href="#view-instance_method" title="#view (instance method)">#<strong>view</strong>  &#x21d2; Collection::View </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
  <li>
    <span class='summary_signature ro priv'>
      <a href="#write%3F-instance_method" title="#write? (instance method)">#<strong>write?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title readonly'>readonly</span>
    <span class='note title private'>private</span>
  </li>
</ul>
</div>  <!-- instance_attribute_summary -->

<h2 class='h2_sum' id='instance_method_summary'>Instance Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#specification-instance_method" title="#specification (instance method)">#<strong>specification</strong>  &#x21d2; Hash </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Get the specification to pass to the aggregation operation.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#aggregation_command-instance_method" title="#aggregation_command (instance method)">#<strong>aggregation_command</strong>  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#batch_size_doc-instance_method" title="#batch_size_doc (instance method)">#<strong>batch_size_doc</strong>  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
</ul>
</div>  <!-- instance_method_summary -->
<h2 id='Constructor_Details' class='y_details'>Constructor Details</h2>

  <section class='method_details first' id="new-class_method">
  <h3 class='signature  first'>
    .<strong>new</strong>(pipeline, view, options)  &#x21d2; <code>Aggregation</code> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Initialize the builder.</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>pipeline</span>
    <span class='type'>(<code>Array</code>&lt;<code>Hash</code>&gt;)</span>
&mdash;    <div class='inline'>
<p>The aggregation pipeline.</p>
</div>
  </li>
  <li>
    <span class='name'>view</span>
    <span class='type'>(<a href="../../View.html" title="Mongo::Collection::View (class)">Collection::View</a>)</span>
&mdash;    <div class='inline'>
<p>The collection view.</p>
</div>
  </li>
  <li>
    <span class='name'>options</span>
    <span class='type'>(<code>Hash</code>)</span>
&mdash;    <div class='inline'>
<p>The map/reduce and read preference options.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L64-L68'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='64' data-end='68'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/aggregation.rb', line 64</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_initialize'>initialize</span>(<span class='id identifier rubyid_pipeline'><a href="#pipeline-instance_method" title="Mongo::Collection::View::Builder::Aggregation#pipeline (method)">pipeline</a></span><span class='comma'>,</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::Aggregation#view (method)">view</a></span><span class='comma'>,</span> <span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::Aggregation#options (method)">options</a></span>)
  <span class='ivar'>@pipeline</span> <span class='op'>=</span> <span class='id identifier rubyid_pipeline'><a href="#pipeline-instance_method" title="Mongo::Collection::View::Builder::Aggregation#pipeline (method)">pipeline</a></span>
  <span class='ivar'>@view</span> <span class='op'>=</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::Aggregation#view (method)">view</a></span>
  <span class='ivar'>@options</span> <span class='op'>=</span> <span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::Aggregation#options (method)">options</a></span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Attribute Details</h2>
<section class='method_details first' id="options-instance_method">
  <h3 class='signature ro first'>
    #<strong>options</strong>  &#x21d2; <code>Hash</code>  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Hash</code>)</span>
&mdash;    <div class='inline'>
<p>options The map/reduce specific options.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L55-L55'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='55' data-end='55'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/aggregation.rb', line 55</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_reader'>attr_reader</span> <span class='symbeg'>:</span><span class='id identifier rubyid_options'>options</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="pipeline-instance_method">
  <h3 class='signature ro'>
    #<strong>pipeline</strong>  &#x21d2; <code>Array</code>&lt;<code>Hash</code>&gt;  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Array</code>&lt;<code>Hash</code>&gt;)</span>
&mdash;    <div class='inline'>
<p>pipeline The pipeline.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L49-L49'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='49' data-end='49'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/aggregation.rb', line 49</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_reader'>attr_reader</span> <span class='symbeg'>:</span><span class='id identifier rubyid_pipeline'>pipeline</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="view-instance_method">
  <h3 class='signature ro'>
    #<strong>view</strong>  &#x21d2; <a href="../../View.html" title="Mongo::Collection::View (class)">Collection::View</a>  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../../View.html" title="Mongo::Collection::View (class)">Collection::View</a>)</span>
&mdash;    <div class='inline'>
<p>view The collection view.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L52-L52'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='52' data-end='52'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/aggregation.rb', line 52</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_reader'>attr_reader</span> <span class='symbeg'>:</span><span class='id identifier rubyid_view'>view</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="write?-instance_method">
  <h3 class='signature ro priv'>
    #<strong>write?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='readonly'>readonly</span>, <span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L94-L99'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='94' data-end='99'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/aggregation.rb', line 94</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_write?'>write?</span>
  <span class='id identifier rubyid_pipeline'><a href="#pipeline-instance_method" title="Mongo::Collection::View::Builder::Aggregation#pipeline (method)">pipeline</a></span>.<span class='id identifier rubyid_any?'>any?</span> <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_operator'>operator</span><span class='op'>|</span>
    <span class='id identifier rubyid_operator'>operator</span>[<span class='symbeg'>:</span><span class='gvar'>$out</span>] <span class='op'>||</span> <span class='id identifier rubyid_operator'>operator</span>[<span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>$out</span><span class='tstring_end'>&#39;</span></span>] <span class='op'>||</span>
    <span class='id identifier rubyid_operator'>operator</span>[<span class='symbeg'>:</span><span class='gvar'>$merge</span>] <span class='op'>||</span> <span class='id identifier rubyid_operator'>operator</span>[<span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>$merge</span><span class='tstring_end'>&#39;</span></span>]
  <span class='kw'>end</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Method Details</h2>
<section class='method_details first' id="aggregation_command-instance_method">
  <h3 class='signature priv first'>
    #<strong>aggregation_command</strong>   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L101-L119'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='101' data-end='119'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/aggregation.rb', line 101</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_aggregation_command'>aggregation_command</span>
  <span class='id identifier rubyid_command'>command</span> <span class='op'>=</span> <span class='const'>BSON</span><span class='op'>::</span><span class='const'>Document</span>.<span class='id identifier rubyid_new'><a href="#new-class_method" title="Mongo::Collection::View::Builder::Aggregation.new (method)">new</a></span>
  <span class='comment'># aggregate must be the first key in the command document
</span>  <span class='kw'>if</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::Aggregation#view (method)">view</a></span>.<span class='id identifier rubyid_is_a?'>is_a?</span>(<span class='const'><a href="../../../Collection.html" title="Mongo::Collection (class)">Collection</a></span><span class='op'>::</span><span class='const'><a href="../../View.html" title="Mongo::Collection::View (class)">View</a></span>)
    <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_aggregate'>aggregate</span>] <span class='op'>=</span> <span class='id identifier rubyid_collection'><a href="../../View.html#collection-instance_method" title="Mongo::Collection::View#collection (method)">collection</a></span>.<span class='id identifier rubyid_name'>name</span>
  <span class='kw'>elsif</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::Aggregation#view (method)">view</a></span>.<span class='id identifier rubyid_is_a?'>is_a?</span>(<span class='const'><a href="../../../Database.html" title="Mongo::Database (class)">Database</a></span><span class='op'>::</span><span class='const'><a href="../../../Database/View.html" title="Mongo::Database::View (class)">View</a></span>)
    <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_aggregate'>aggregate</span>] <span class='op'>=</span> <span class='int'>1</span>
  <span class='kw'>else</span>
    <span class='id identifier rubyid_raise'>raise</span> <span class='const'>ArgumentError</span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>Unknown view class: </span><span class='embexpr_beg'>#{</span><span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::Aggregation#view (method)">view</a></span><span class='embexpr_end'>}</span><span class='tstring_end'>&quot;</span></span>
  <span class='kw'>end</span>
  <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_pipeline'><a href="#pipeline-instance_method" title="Mongo::Collection::View::Builder::Aggregation#pipeline (method)">pipeline</a></span>] <span class='op'>=</span> <span class='id identifier rubyid_pipeline'><a href="#pipeline-instance_method" title="Mongo::Collection::View::Builder::Aggregation#pipeline (method)">pipeline</a></span>
  <span class='kw'>if</span> <span class='id identifier rubyid_read_concern'>read_concern</span> <span class='op'>=</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::Aggregation#view (method)">view</a></span>.<span class='id identifier rubyid_read_concern'>read_concern</span>
    <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_readConcern'>readConcern</span>] <span class='op'>=</span> <span class='const'><a href="../../../Options.html" title="Mongo::Options (module)">Options</a></span><span class='op'>::</span><span class='const'><a href="../../../Options/Mapper.html" title="Mongo::Options::Mapper (module)">Mapper</a></span>.<span class='id identifier rubyid_transform_values_to_strings'><a href="../../../Options/Mapper.html#transform_values_to_strings-instance_method" title="Mongo::Options::Mapper#transform_values_to_strings (method)">transform_values_to_strings</a></span>(
      <span class='id identifier rubyid_read_concern'>read_concern</span>)
  <span class='kw'>end</span>
  <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_cursor'>cursor</span>] <span class='op'>=</span> <span class='id identifier rubyid_batch_size_doc'><a href="#batch_size_doc-instance_method" title="Mongo::Collection::View::Builder::Aggregation#batch_size_doc (method)">batch_size_doc</a></span>
  <span class='id identifier rubyid_command'>command</span>.<span class='id identifier rubyid_merge!'>merge!</span>(<span class='const'><a href="../../../Options.html" title="Mongo::Options (module)">Options</a></span><span class='op'>::</span><span class='const'><a href="../../../Options/Mapper.html" title="Mongo::Options::Mapper (module)">Mapper</a></span>.<span class='id identifier rubyid_transform_documents'><a href="../../../Options/Mapper.html#transform_documents-instance_method" title="Mongo::Options::Mapper#transform_documents (method)">transform_documents</a></span>(<span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::Aggregation#options (method)">options</a></span><span class='comma'>,</span> <span class='const'><a href="#MAPPINGS-constant" title="Mongo::Collection::View::Builder::Aggregation::MAPPINGS (constant)">MAPPINGS</a></span>))
  <span class='id identifier rubyid_command'>command</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="batch_size_doc-instance_method">
  <h3 class='signature priv'>
    #<strong>batch_size_doc</strong>   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L121-L130'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='121' data-end='130'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/aggregation.rb', line 121</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_batch_size_doc'>batch_size_doc</span>
  <span class='id identifier rubyid_value'>value</span> <span class='op'>=</span> <span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::Aggregation#options (method)">options</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_batch_size'>batch_size</span>] <span class='op'>||</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::Aggregation#view (method)">view</a></span>.<span class='id identifier rubyid_batch_size'>batch_size</span>
  <span class='kw'>if</span> <span class='id identifier rubyid_value'>value</span> <span class='op'>==</span> <span class='int'>0</span> <span class='op'>&amp;&amp;</span> <span class='id identifier rubyid_write?'><a href="#write%3F-instance_method" title="Mongo::Collection::View::Builder::Aggregation#write? (method)">write?</a></span>
    {}
  <span class='kw'>elsif</span> <span class='id identifier rubyid_value'>value</span>
    { <span class='symbeg'>:</span><span class='id identifier rubyid_batchSize'>batchSize</span> <span class='op'>=&gt;</span> <span class='id identifier rubyid_value'>value</span> }
  <span class='kw'>else</span>
    {}
  <span class='kw'>end</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="specification-instance_method">
  <h3 class='signature '>
    #<strong>specification</strong>  &#x21d2; <code>Hash</code> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Get the specification to pass to the aggregation operation.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
        <p class='example_title'><div class='inline'>
<p>Get the specification.</p>
</div></p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_builder'>builder</span>.<span class='id identifier rubyid_specification'>specification</span></code></pre>
  </div>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Hash</code>)</span>
&mdash;    <div class='inline'>
<p>The specification.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/aggregation.rb#L78-L90'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='78' data-end='90'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/aggregation.rb', line 78</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_specification'>specification</span>
  <span class='id identifier rubyid_spec'>spec</span> <span class='op'>=</span> {
    <span class='label'>selector:</span> <span class='id identifier rubyid_aggregation_command'><a href="#aggregation_command-instance_method" title="Mongo::Collection::View::Builder::Aggregation#aggregation_command (method)">aggregation_command</a></span><span class='comma'>,</span>
    <span class='label'>db_name:</span> <span class='id identifier rubyid_database'>database</span>.<span class='id identifier rubyid_name'>name</span><span class='comma'>,</span>
    <span class='label'>read:</span> <span class='ivar'>@options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_read_preference'>read_preference</span>] <span class='op'>||</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::Aggregation#view (method)">view</a></span>.<span class='id identifier rubyid_read_preference'>read_preference</span><span class='comma'>,</span>
    <span class='label'>session:</span> <span class='ivar'>@options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_session'>session</span>]<span class='comma'>,</span>
    <span class='label'>collation:</span> <span class='ivar'>@options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_collation'>collation</span>]<span class='comma'>,</span>
  }
  <span class='kw'>if</span> <span class='id identifier rubyid_write?'><a href="#write%3F-instance_method" title="Mongo::Collection::View::Builder::Aggregation#write? (method)">write?</a></span>
    <span class='id identifier rubyid_spec'>spec</span>.<span class='id identifier rubyid_update'>update</span>(<span class='label'>write_concern:</span> <span class='id identifier rubyid_write_concern'><a href="../../View.html#write_concern-instance_method" title="Mongo::Collection::View#write_concern (method)">write_concern</a></span>)
  <span class='kw'>end</span>
  <span class='id identifier rubyid_spec'>spec</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>