<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen'       content='yes'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: Mongo::Collection::View::Builder::FindCommand &mdash; Mongo master</title>

<link rel='stylesheet'  type='text/css' href='../../../../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "Mongo::Collection::View::Builder::FindCommand",
    relpath = '../../../../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../../../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../../../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../../../../'>Mongo master</a> &raquo; 
      <a href='../../../../_index.html#alpha_F'>Index (F)</a> &raquo; 
        <a href="../../../../Mongo.html" title="Mongo (module)">Mongo</a> &raquo; 
        <a href="../../../Collection.html" title="Mongo::Collection (class)">Collection</a> &raquo; 
        <a href="../../View.html" title="Mongo::Collection::View (class)">View</a> &raquo; 
        <a href="../Builder.html" title="Mongo::Collection::View::Builder (module)">Builder</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>FindCommand&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../../../../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: Mongo::Collection::View::Builder::FindCommand</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships & Source Files</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Super Chains via Extension / Inclusion / Inheritance</td></tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Class Chain:</div>
        <div class='box_22'>
          self,
          Forwardable
        </div>
      </td>
    </tr>
    <tr>
      <td id='t2_inherits' class='box_2'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'>Object</span>
      </td>
    </tr>
    <tr class='single'>
      <td id='t2_defined_in' class='box_2'>Defined in:</td>
      <td class='box_rel'><a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/find_command.rb#L23'>lib/mongo/collection/view/builder/find_command.rb</a>      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='h2_overview'>Overview</h2>
<div id='overview_ds'>
<div class='docstring'>
  <div class='discussion'>
    
<p>Builds a find command specification from options.</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
</div>
<h2 id='t2_cnst' class='h2_sum'>Constant Summary</h2>
<div>
<ul class='constants summary full'>
  <li>
    <span id='MAPPINGS-constant' class='summary_signature'>MAPPINGS =</span>
    <div class='docstring'>
  <div class='discussion'>
    
<p>The mappings from ruby options to the find command.</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
    <a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/find_command.rb#L29-L53'># File 'lib/mongo/collection/view/builder/find_command.rb', line 29</a>    <pre class='code ruby'><span class='const'>BSON</span><span class='op'>::</span><span class='const'>Document</span>.<span class='id identifier rubyid_new'><a href="#new-class_method" title="Mongo::Collection::View::Builder::FindCommand.new (method)">new</a></span>(
  <span class='label'>sort:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>sort</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>projection:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>projection</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>hint:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>hint</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>skip:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>skip</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>limit:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>limit</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>batch_size:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>batchSize</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>single_batch:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>singleBatch</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>comment:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>comment</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>max_scan:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>maxScan</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>max_time_ms:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>maxTimeMS</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>max_value:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>max</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>min_value:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>min</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>return_key:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>returnKey</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>show_disk_loc:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>showRecordId</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>snapshot:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>snapshot</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>tailable:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>tailable</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>tailable_cursor:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>tailable</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>oplog_replay:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>oplogReplay</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>no_cursor_timeout:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>noCursorTimeout</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>await_data:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>awaitData</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>allow_partial_results:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>allowPartialResults</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>allow_disk_use:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>allowDiskUse</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>collation:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>collation</span><span class='tstring_end'>&#39;</span></span>
).<span class='id identifier rubyid_freeze'>freeze</span></pre>
  </li>
</ul>
</div>

<h2 class='h2_sum' id='class_method_summary'>Class Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#new-class_method" title=".new (class method)">.<strong>new</strong>(view, session)  &#x21d2; FindCommand </a>
    </span>
    <span class='note title constructor'>constructor</span>
    <div class='summary_desc'>
      <div class='inline'><p>Create the find command builder.</p></div>
    </div>
  </li>
</ul>
</div>  <!-- class_method_summary -->

<h2 class='h2_sum' id='instance_method_summary'>Instance Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#explain_specification-instance_method" title="#explain_specification (instance method)">#<strong>explain_specification</strong>  &#x21d2; Hash </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Get the specification for an explain command that wraps the find command.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature '>
      <a href="#specification-instance_method" title="#specification (instance method)">#<strong>specification</strong>  &#x21d2; Hash </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Get the specification to pass to the find command operation.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#convert_flags-instance_method" title="#convert_flags (instance method)">#<strong>convert_flags</strong>(options)  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#convert_limit_and_batch_size-instance_method" title="#convert_limit_and_batch_size (instance method)">#<strong>convert_limit_and_batch_size</strong>(command)  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#find_command-instance_method" title="#find_command (instance method)">#<strong>find_command</strong>  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#log_warn-instance_method" title="#log_warn (instance method)">#<strong>log_warn</strong>(*args)  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
</ul>
</div>  <!-- instance_method_summary -->
<h2 id='Constructor_Details' class='y_details'>Constructor Details</h2>

  <section class='method_details first' id="new-class_method">
  <h3 class='signature  first'>
    .<strong>new</strong>(view, session)  &#x21d2; <code>FindCommand</code> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Create the find command builder.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
        <p class='example_title'><div class='inline'>
<p>Create the find command builder.</p>
</div></p>
      <pre class='example code ruby'><code><span class='const'>FindCommandBuilder</span>.<span class='id identifier rubyid_new'>new</span>(<span class='id identifier rubyid_view'><a href="../../View.html#view-instance_method" title="Mongo::Collection::View#view (method)">view</a></span>)</code></pre>
  </div>
<p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>view</span>
    <span class='type'>(<a href="../../View.html" title="Mongo::Collection::View (class)">Collection::View</a>)</span>
&mdash;    <div class='inline'>
<p>The collection view.</p>
</div>
  </li>
  <li>
    <span class='name'>session</span>
    <span class='type'>(<a href="../../../Session.html" title="Mongo::Session (class)">Session</a>)</span>
&mdash;    <div class='inline'>
<p>The session.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.2</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/find_command.rb#L64-L67'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='64' data-end='67'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/find_command.rb', line 64</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_initialize'>initialize</span>(<span class='id identifier rubyid_view'><a href="../../View.html#view-instance_method" title="Mongo::Collection::View#view (method)">view</a></span><span class='comma'>,</span> <span class='id identifier rubyid_session'>session</span>)
  <span class='ivar'>@view</span> <span class='op'>=</span> <span class='id identifier rubyid_view'><a href="../../View.html#view-instance_method" title="Mongo::Collection::View#view (method)">view</a></span>
  <span class='ivar'>@session</span> <span class='op'>=</span> <span class='id identifier rubyid_session'>session</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Method Details</h2>
<section class='method_details first' id="convert_flags-instance_method">
  <h3 class='signature priv first'>
    #<strong>convert_flags</strong>(options)   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/find_command.rb#L154-L161'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='154' data-end='161'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/find_command.rb', line 154</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_convert_flags'>convert_flags</span>(<span class='id identifier rubyid_options'>options</span>)
  <span class='kw'>return</span> <span class='id identifier rubyid_options'>options</span> <span class='kw'>if</span> <span class='id identifier rubyid_options'>options</span>.<span class='id identifier rubyid_empty?'>empty?</span>
  <span class='id identifier rubyid_opts'>opts</span> <span class='op'>=</span> <span class='id identifier rubyid_options'>options</span>.<span class='id identifier rubyid_dup'>dup</span>
  <span class='id identifier rubyid_opts'>opts</span>.<span class='id identifier rubyid_delete'>delete</span>(<span class='symbeg'>:</span><span class='id identifier rubyid_cursor_type'>cursor_type</span>)
  <span class='const'><a href="Flags.html" title="Mongo::Collection::View::Builder::Flags (module)">Flags</a></span>.<span class='id identifier rubyid_map_flags'><a href="Flags.html#map_flags-instance_method" title="Mongo::Collection::View::Builder::Flags#map_flags (method)">map_flags</a></span>(<span class='id identifier rubyid_options'>options</span>).<span class='id identifier rubyid_reduce'>reduce</span>(<span class='id identifier rubyid_opts'>opts</span>) <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_o'>o</span><span class='comma'>,</span> <span class='id identifier rubyid_key'>key</span><span class='op'>|</span>
    <span class='id identifier rubyid_o'>o</span>.<span class='id identifier rubyid_merge!'>merge!</span>(<span class='id identifier rubyid_key'>key</span> <span class='op'>=&gt;</span> <span class='kw'>true</span>)
  <span class='kw'>end</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="convert_limit_and_batch_size-instance_method">
  <h3 class='signature priv'>
    #<strong>convert_limit_and_batch_size</strong>(command)   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/find_command.rb#L132-L152'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='132' data-end='152'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/find_command.rb', line 132</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_convert_limit_and_batch_size'>convert_limit_and_batch_size</span>(<span class='id identifier rubyid_command'>command</span>)
  <span class='kw'>if</span> <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_limit'>limit</span>] <span class='op'>&amp;&amp;</span> <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_limit'>limit</span>] <span class='op'>&lt;</span> <span class='int'>0</span> <span class='op'>&amp;&amp;</span>
      <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_batchSize'>batchSize</span>] <span class='op'>&amp;&amp;</span> <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_batchSize'>batchSize</span>] <span class='op'>&lt;</span> <span class='int'>0</span>

    <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_limit'>limit</span>] <span class='op'>=</span> <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_limit'>limit</span>].<span class='id identifier rubyid_abs'>abs</span>
    <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_batchSize'>batchSize</span>] <span class='op'>=</span> <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_limit'>limit</span>].<span class='id identifier rubyid_abs'>abs</span>
    <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_singleBatch'>singleBatch</span>] <span class='op'>=</span> <span class='kw'>true</span>

  <span class='kw'>else</span>
    [<span class='symbeg'>:</span><span class='id identifier rubyid_limit'>limit</span><span class='comma'>,</span> <span class='symbeg'>:</span><span class='id identifier rubyid_batchSize'>batchSize</span>].<span class='id identifier rubyid_each'>each</span> <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_opt'>opt</span><span class='op'>|</span>
      <span class='kw'>if</span> <span class='id identifier rubyid_command'>command</span>[<span class='id identifier rubyid_opt'>opt</span>]
        <span class='kw'>if</span> <span class='id identifier rubyid_command'>command</span>[<span class='id identifier rubyid_opt'>opt</span>] <span class='op'>&lt;</span> <span class='int'>0</span>
          <span class='id identifier rubyid_command'>command</span>[<span class='id identifier rubyid_opt'>opt</span>] <span class='op'>=</span> <span class='id identifier rubyid_command'>command</span>[<span class='id identifier rubyid_opt'>opt</span>].<span class='id identifier rubyid_abs'>abs</span>
          <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_singleBatch'>singleBatch</span>] <span class='op'>=</span> <span class='kw'>true</span>
        <span class='kw'>elsif</span> <span class='id identifier rubyid_command'>command</span>[<span class='id identifier rubyid_opt'>opt</span>] <span class='op'>==</span> <span class='int'>0</span>
          <span class='id identifier rubyid_command'>command</span>.<span class='id identifier rubyid_delete'>delete</span>(<span class='id identifier rubyid_opt'>opt</span>)
        <span class='kw'>end</span>
      <span class='kw'>end</span>
    <span class='kw'>end</span>
  <span class='kw'>end</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="explain_specification-instance_method">
  <h3 class='signature '>
    #<strong>explain_specification</strong>  &#x21d2; <code>Hash</code> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Get the specification for an explain command that wraps the find command.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
        <p class='example_title'><div class='inline'>
<p>Get the explain spec.</p>
</div></p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_builder'>builder</span>.<span class='id identifier rubyid_explain_specification'>explain_specification</span></code></pre>
  </div>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Hash</code>)</span>
&mdash;    <div class='inline'>
<p>The specification.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/find_command.rb#L97-L110'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='97' data-end='110'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/find_command.rb', line 97</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_explain_specification'>explain_specification</span>
  {
    <span class='label'>selector:</span> {
      <span class='label'>explain:</span> <span class='id identifier rubyid_find_command'><a href="#find_command-instance_method" title="Mongo::Collection::View::Builder::FindCommand#find_command (method)">find_command</a></span><span class='comma'>,</span>
    }<span class='comma'>,</span>
    <span class='label'>db_name:</span> <span class='id identifier rubyid_database'>database</span>.<span class='id identifier rubyid_name'>name</span><span class='comma'>,</span>
    <span class='label'>read:</span> <span class='id identifier rubyid_read'>read</span><span class='comma'>,</span>
    <span class='label'>session:</span> <span class='ivar'>@session</span><span class='comma'>,</span>
    <span class='comment'># We should always have options{:explain] set if we are explaining.
</span>    <span class='comment'># The explain field is not sent to the server, it will be
</span>    <span class='comment'># processed in the operation layer.
</span>    <span class='label'>explain:</span> <span class='id identifier rubyid_options'>options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_explain'>explain</span>]<span class='comma'>,</span>
  }
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="find_command-instance_method">
  <h3 class='signature priv'>
    #<strong>find_command</strong>   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/find_command.rb#L114-L130'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='114' data-end='130'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/find_command.rb', line 114</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_find_command'>find_command</span>
  <span class='id identifier rubyid_document'>document</span> <span class='op'>=</span> <span class='const'>BSON</span><span class='op'>::</span><span class='const'>Document</span>.<span class='id identifier rubyid_new'><a href="#new-class_method" title="Mongo::Collection::View::Builder::FindCommand.new (method)">new</a></span>(
    <span class='label'>find:</span> <span class='id identifier rubyid_collection'><a href="../../View.html#collection-instance_method" title="Mongo::Collection::View#collection (method)">collection</a></span>.<span class='id identifier rubyid_name'>name</span><span class='comma'>,</span>
    <span class='label'>filter:</span> <span class='id identifier rubyid_filter'><a href="../../View.html#filter-instance_method" title="Mongo::Collection::View#filter (method)">filter</a></span><span class='comma'>,</span>
  )
  <span class='kw'>if</span> <span class='id identifier rubyid_collection'><a href="../../View.html#collection-instance_method" title="Mongo::Collection::View#collection (method)">collection</a></span>.<span class='id identifier rubyid_read_concern'>read_concern</span>
    <span class='id identifier rubyid_document'>document</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_readConcern'>readConcern</span>] <span class='op'>=</span> <span class='const'><a href="../../../Options.html" title="Mongo::Options (module)">Options</a></span><span class='op'>::</span><span class='const'><a href="../../../Options/Mapper.html" title="Mongo::Options::Mapper (module)">Mapper</a></span>.<span class='id identifier rubyid_transform_values_to_strings'><a href="../../../Options/Mapper.html#transform_values_to_strings-instance_method" title="Mongo::Options::Mapper#transform_values_to_strings (method)">transform_values_to_strings</a></span>(
      <span class='id identifier rubyid_collection'><a href="../../View.html#collection-instance_method" title="Mongo::Collection::View#collection (method)">collection</a></span>.<span class='id identifier rubyid_read_concern'>read_concern</span>)
  <span class='kw'>end</span>
  <span class='id identifier rubyid_command'>command</span> <span class='op'>=</span> <span class='const'><a href="../../../Options.html" title="Mongo::Options (module)">Options</a></span><span class='op'>::</span><span class='const'><a href="../../../Options/Mapper.html" title="Mongo::Options::Mapper (module)">Mapper</a></span>.<span class='id identifier rubyid_transform_documents'><a href="../../../Options/Mapper.html#transform_documents-instance_method" title="Mongo::Options::Mapper#transform_documents (method)">transform_documents</a></span>(
    <span class='id identifier rubyid_convert_flags'><a href="#convert_flags-instance_method" title="Mongo::Collection::View::Builder::FindCommand#convert_flags (method)">convert_flags</a></span>(<span class='id identifier rubyid_options'>options</span>)<span class='comma'>,</span> <span class='const'><a href="#MAPPINGS-constant" title="Mongo::Collection::View::Builder::FindCommand::MAPPINGS (constant)">MAPPINGS</a></span><span class='comma'>,</span> <span class='id identifier rubyid_document'>document</span>)
  <span class='kw'>if</span> <span class='id identifier rubyid_command'>command</span>[<span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>oplogReplay</span><span class='tstring_end'>&#39;</span></span>]
    <span class='id identifier rubyid_log_warn'><a href="#log_warn-instance_method" title="Mongo::Collection::View::Builder::FindCommand#log_warn (method)">log_warn</a></span>(<span class='tstring'><span class='tstring_beg'>&quot;</span><span class='tstring_content'>oplogReplay is deprecated and ignored by MongoDB 4.4 and later</span><span class='tstring_end'>&quot;</span></span>)
  <span class='kw'>end</span>
  <span class='id identifier rubyid_convert_limit_and_batch_size'><a href="#convert_limit_and_batch_size-instance_method" title="Mongo::Collection::View::Builder::FindCommand#convert_limit_and_batch_size (method)">convert_limit_and_batch_size</a></span>(<span class='id identifier rubyid_command'>command</span>)
  <span class='id identifier rubyid_command'>command</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="log_warn-instance_method">
  <h3 class='signature priv'>
    #<strong>log_warn</strong>(*args)   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/find_command.rb#L163-L165'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='163' data-end='165'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/find_command.rb', line 163</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_log_warn'>log_warn</span>(<span class='op'>*</span><span class='id identifier rubyid_args'>args</span>)
  <span class='id identifier rubyid_database'>database</span>.<span class='id identifier rubyid_client'>client</span>.<span class='id identifier rubyid_log_warn'>log_warn</span>(<span class='op'>*</span><span class='id identifier rubyid_args'>args</span>)
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="specification-instance_method">
  <h3 class='signature '>
    #<strong>specification</strong>  &#x21d2; <code>Hash</code> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Get the specification to pass to the find command operation.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
        <p class='example_title'><div class='inline'>
<p>Get the specification.</p>
</div></p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_builder'>builder</span>.<span class='id identifier rubyid_specification'>specification</span></code></pre>
  </div>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Hash</code>)</span>
&mdash;    <div class='inline'>
<p>The specification.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/find_command.rb#L79-L86'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='79' data-end='86'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/find_command.rb', line 79</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_specification'>specification</span>
  {
    <span class='label'>selector:</span> <span class='id identifier rubyid_find_command'><a href="#find_command-instance_method" title="Mongo::Collection::View::Builder::FindCommand#find_command (method)">find_command</a></span><span class='comma'>,</span>
    <span class='label'>db_name:</span> <span class='id identifier rubyid_database'>database</span>.<span class='id identifier rubyid_name'>name</span><span class='comma'>,</span>
    <span class='label'>read:</span> <span class='id identifier rubyid_read'>read</span><span class='comma'>,</span>
    <span class='label'>session:</span> <span class='ivar'>@session</span><span class='comma'>,</span>
  }
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>