<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen' content='yes'>
<meta name='mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: Mongo::Collection::View::Builder::MapReduce &mdash; Mongo master</title>

<link rel='stylesheet'  type='text/css' href='../../../../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "Mongo::Collection::View::Builder::MapReduce",
    relpath = '../../../../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../../../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../../../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../../../../'>Mongo master</a> &raquo; 
      <a href='../../../../_index.html#alpha_M'>Index (M)</a> &raquo; 
        <a href="../../../../Mongo.html" title="Mongo (module)">Mongo</a> &raquo; 
        <a href="../../../Collection.html" title="Mongo::Collection (class)">Collection</a> &raquo; 
        <a href="../../View.html" title="Mongo::Collection::View (class)">View</a> &raquo; 
        <a href="../Builder.html" title="Mongo::Collection::View::Builder (module)">Builder</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>MapReduce&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../../../../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: Mongo::Collection::View::Builder::MapReduce</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships & Source Files</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Super Chains via Extension / Inclusion / Inheritance</td></tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Class Chain:</div>
        <div class='box_22'>
          self,
          Forwardable
        </div>
      </td>
    </tr>
    <tr>
      <td id='t2_inherits' class='box_2'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'>Object</span>
      </td>
    </tr>
    <tr class='single'>
      <td id='t2_defined_in' class='box_2'>Defined in:</td>
      <td class='box_rel'><a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L26'>lib/mongo/collection/view/builder/map_reduce.rb</a>      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='h2_overview'>Overview</h2>
<div id='overview_ds'>
<div class='docstring'>
  <div class='discussion'>
    
<p>Builds a map/reduce specification from the view and options.</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
</div>
<h2 id='t2_cnst' class='h2_sum'>Constant Summary</h2>
<div>
<ul class='constants summary full'>
  <li>
    <span id='MAPPINGS-constant' class='summary_signature'>MAPPINGS =</span>
    <div class='docstring'>
  <div class='discussion'>
    
<p>The mappings from ruby options to the map/reduce options.</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
    <a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L32-L40'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 32</a>    <pre class='code ruby'><span class='const'>BSON</span><span class='op'>::</span><span class='const'>Document</span>.<span class='id identifier rubyid_new'><a href="#new-class_method" title="Mongo::Collection::View::Builder::MapReduce.new (method)">new</a></span>(
  <span class='label'>finalize:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>finalize</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>js_mode:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>jsMode</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>out:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>out</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>scope:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>scope</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>verbose:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>verbose</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>bypass_document_validation:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>bypassDocumentValidation</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
  <span class='label'>collation:</span> <span class='tstring'><span class='tstring_beg'>&#39;</span><span class='tstring_content'>collation</span><span class='tstring_end'>&#39;</span></span><span class='comma'>,</span>
).<span class='id identifier rubyid_freeze'>freeze</span></pre>
  </li>
</ul>
</div>

<h2 class='h2_sum' id='class_method_summary'>Class Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#new-class_method" title=".new (class method)">.<strong>new</strong>(map, reduce, view, options)  &#x21d2; MapReduce </a>
    </span>
    <span class='note title constructor'>constructor</span>
    <div class='summary_desc'>
      <div class='inline'><p>Initialize the builder.</p></div>
    </div>
  </li>
</ul>
</div>  <!-- class_method_summary -->

<h2 class='h2_sum' id='instance_attribute_summary'>Instance Attribute Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature ro'>
      <a href="#map-instance_method" title="#map (instance method)">#<strong>map</strong>  &#x21d2; String </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
  <li>
    <span class='summary_signature ro'>
      <a href="#options-instance_method" title="#options (instance method)">#<strong>options</strong>  &#x21d2; Hash </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
  <li>
    <span class='summary_signature ro'>
      <a href="#reduce-instance_method" title="#reduce (instance method)">#<strong>reduce</strong>  &#x21d2; String </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
  <li>
    <span class='summary_signature ro'>
      <a href="#view-instance_method" title="#view (instance method)">#<strong>view</strong>  &#x21d2; Collection::View </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
</ul>
</div>  <!-- instance_attribute_summary -->

<h2 class='h2_sum' id='instance_method_summary'>Instance Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#specification-instance_method" title="#specification (instance method)">#<strong>specification</strong>  &#x21d2; Hash </a>
    </span>
    <div class='summary_desc'>
      <div class='inline'><p>Get the specification to pass to the map/reduce operation.</p></div>
    </div>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#map_reduce_command-instance_method" title="#map_reduce_command (instance method)">#<strong>map_reduce_command</strong>  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#view_options-instance_method" title="#view_options (instance method)">#<strong>view_options</strong>  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#write%3F-instance_method" title="#write? (instance method)">#<strong>write?</strong>(spec)  &#x21d2; Boolean </a>
    </span>
    <span class='note title private'>private</span>
  </li>
</ul>
</div>  <!-- instance_method_summary -->
<h2 id='Constructor_Details' class='y_details'>Constructor Details</h2>

  <section class='method_details first' id="new-class_method">
  <h3 class='signature  first'>
    .<strong>new</strong>(map, reduce, view, options)  &#x21d2; <code>MapReduce</code> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Initialize the builder.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
        <p class='example_title'><div class='inline'>
<p>Initialize the builder.</p>
</div></p>
      <pre class='example code ruby'><code><span class='const'>MapReduce</span>.<span class='id identifier rubyid_new'>new</span>(<span class='id identifier rubyid_map'><a href="#map-instance_method" title="Mongo::Collection::View::Builder::MapReduce#map (method)">map</a></span><span class='comma'>,</span> <span class='id identifier rubyid_reduce'><a href="#reduce-instance_method" title="Mongo::Collection::View::Builder::MapReduce#reduce (method)">reduce</a></span><span class='comma'>,</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::MapReduce#view (method)">view</a></span><span class='comma'>,</span> <span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::MapReduce#options (method)">options</a></span>)</code></pre>
  </div>
<p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>map</span>
    <span class='type'>(<code>String</code>)</span>
&mdash;    <div class='inline'>
<p>The map function.</p>
</div>
  </li>
  <li>
    <span class='name'>reduce</span>
    <span class='type'>(<code>String</code>)</span>
&mdash;    <div class='inline'>
<p>The reduce function.</p>
</div>
  </li>
  <li>
    <span class='name'>view</span>
    <span class='type'>(<a href="../../View.html" title="Mongo::Collection::View (class)">Collection::View</a>)</span>
&mdash;    <div class='inline'>
<p>The collection view.</p>
</div>
  </li>
  <li>
    <span class='name'>options</span>
    <span class='type'>(<code>Hash</code>)</span>
&mdash;    <div class='inline'>
<p>The map/reduce options.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L67-L72'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='67' data-end='72'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 67</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_initialize'>initialize</span>(<span class='id identifier rubyid_map'><a href="#map-instance_method" title="Mongo::Collection::View::Builder::MapReduce#map (method)">map</a></span><span class='comma'>,</span> <span class='id identifier rubyid_reduce'><a href="#reduce-instance_method" title="Mongo::Collection::View::Builder::MapReduce#reduce (method)">reduce</a></span><span class='comma'>,</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::MapReduce#view (method)">view</a></span><span class='comma'>,</span> <span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::MapReduce#options (method)">options</a></span>)
  <span class='ivar'>@map</span> <span class='op'>=</span> <span class='id identifier rubyid_map'><a href="#map-instance_method" title="Mongo::Collection::View::Builder::MapReduce#map (method)">map</a></span>
  <span class='ivar'>@reduce</span> <span class='op'>=</span> <span class='id identifier rubyid_reduce'><a href="#reduce-instance_method" title="Mongo::Collection::View::Builder::MapReduce#reduce (method)">reduce</a></span>
  <span class='ivar'>@view</span> <span class='op'>=</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::MapReduce#view (method)">view</a></span>
  <span class='ivar'>@options</span> <span class='op'>=</span> <span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::MapReduce#options (method)">options</a></span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Attribute Details</h2>
<section class='method_details first' id="map-instance_method">
  <h3 class='signature ro first'>
    #<strong>map</strong>  &#x21d2; <code>String</code>  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>String</code>)</span>
&mdash;    <div class='inline'>
<p>map The map function.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L45-L45'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='45' data-end='45'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 45</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_reader'>attr_reader</span> <span class='symbeg'>:</span><span class='id identifier rubyid_map'>map</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="options-instance_method">
  <h3 class='signature ro'>
    #<strong>options</strong>  &#x21d2; <code>Hash</code>  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Hash</code>)</span>
&mdash;    <div class='inline'>
<p>options The map/reduce specific options.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L54-L54'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='54' data-end='54'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 54</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_reader'>attr_reader</span> <span class='symbeg'>:</span><span class='id identifier rubyid_options'>options</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="reduce-instance_method">
  <h3 class='signature ro'>
    #<strong>reduce</strong>  &#x21d2; <code>String</code>  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>String</code>)</span>
&mdash;    <div class='inline'>
<p>reduce The reduce function.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L48-L48'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='48' data-end='48'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 48</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_reader'>attr_reader</span> <span class='symbeg'>:</span><span class='id identifier rubyid_reduce'>reduce</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="view-instance_method">
  <h3 class='signature ro'>
    #<strong>view</strong>  &#x21d2; <a href="../../View.html" title="Mongo::Collection::View (class)">Collection::View</a>  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<a href="../../View.html" title="Mongo::Collection::View (class)">Collection::View</a>)</span>
&mdash;    <div class='inline'>
<p>view The collection view.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L51-L51'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='51' data-end='51'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 51</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_reader'>attr_reader</span> <span class='symbeg'>:</span><span class='id identifier rubyid_view'>view</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Method Details</h2>
<section class='method_details first' id="map_reduce_command-instance_method">
  <h3 class='signature priv first'>
    #<strong>map_reduce_command</strong>   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L103-L128'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='103' data-end='128'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 103</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_map_reduce_command'>map_reduce_command</span>
  <span class='id identifier rubyid_command'>command</span> <span class='op'>=</span> <span class='const'>BSON</span><span class='op'>::</span><span class='const'>Document</span>.<span class='id identifier rubyid_new'><a href="#new-class_method" title="Mongo::Collection::View::Builder::MapReduce.new (method)">new</a></span>(
    <span class='symbeg'>:</span><span class='id identifier rubyid_mapReduce'>mapReduce</span> <span class='op'>=&gt;</span> <span class='id identifier rubyid_collection'><a href="../../View.html#collection-instance_method" title="Mongo::Collection::View#collection (method)">collection</a></span>.<span class='id identifier rubyid_name'>name</span><span class='comma'>,</span>
    <span class='symbeg'>:</span><span class='id identifier rubyid_map'><a href="#map-instance_method" title="Mongo::Collection::View::Builder::MapReduce#map (method)">map</a></span> <span class='op'>=&gt;</span> <span class='id identifier rubyid_map'><a href="#map-instance_method" title="Mongo::Collection::View::Builder::MapReduce#map (method)">map</a></span><span class='comma'>,</span>
    <span class='symbeg'>:</span><span class='id identifier rubyid_reduce'><a href="#reduce-instance_method" title="Mongo::Collection::View::Builder::MapReduce#reduce (method)">reduce</a></span> <span class='op'>=&gt;</span> <span class='id identifier rubyid_reduce'><a href="#reduce-instance_method" title="Mongo::Collection::View::Builder::MapReduce#reduce (method)">reduce</a></span><span class='comma'>,</span>
    <span class='symbeg'>:</span><span class='id identifier rubyid_query'>query</span> <span class='op'>=&gt;</span> <span class='id identifier rubyid_filter'><a href="../../View.html#filter-instance_method" title="Mongo::Collection::View#filter (method)">filter</a></span><span class='comma'>,</span>
    <span class='symbeg'>:</span><span class='id identifier rubyid_out'>out</span> <span class='op'>=&gt;</span> { <span class='label'>inline:</span> <span class='int'>1</span> }<span class='comma'>,</span>
  )
  <span class='comment'># Shouldn&#39;t this use self.read ?
</span>  <span class='kw'>if</span> <span class='id identifier rubyid_collection'><a href="../../View.html#collection-instance_method" title="Mongo::Collection::View#collection (method)">collection</a></span>.<span class='id identifier rubyid_read_concern'>read_concern</span>
    <span class='id identifier rubyid_command'>command</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_readConcern'>readConcern</span>] <span class='op'>=</span> <span class='const'><a href="../../../Options.html" title="Mongo::Options (module)">Options</a></span><span class='op'>::</span><span class='const'><a href="../../../Options/Mapper.html" title="Mongo::Options::Mapper (module)">Mapper</a></span>.<span class='id identifier rubyid_transform_values_to_strings'><a href="../../../Options/Mapper.html#transform_values_to_strings-instance_method" title="Mongo::Options::Mapper#transform_values_to_strings (method)">transform_values_to_strings</a></span>(
      <span class='id identifier rubyid_collection'><a href="../../View.html#collection-instance_method" title="Mongo::Collection::View#collection (method)">collection</a></span>.<span class='id identifier rubyid_read_concern'>read_concern</span>)
  <span class='kw'>end</span>
  <span class='id identifier rubyid_command'>command</span>.<span class='id identifier rubyid_update'>update</span>(<span class='id identifier rubyid_view_options'><a href="#view_options-instance_method" title="Mongo::Collection::View::Builder::MapReduce#view_options (method)">view_options</a></span>)
  <span class='id identifier rubyid_command'>command</span>.<span class='id identifier rubyid_update'>update</span>(<span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::MapReduce#options (method)">options</a></span>.<span class='id identifier rubyid_slice'>slice</span>(<span class='symbeg'>:</span><span class='id identifier rubyid_collation'>collation</span>))

  <span class='comment'># Read preference isn&#39;t simply passed in the command payload
</span>  <span class='comment'># (it may need to be converted to wire protocol flags).
</span>  <span class='comment'># Ideally it should be removed here, however due to Mongoid 7
</span>  <span class='comment'># using this method and requiring :read to be returned from it,
</span>  <span class='comment'># we cannot do this just yet - see RUBY-2932.
</span>  <span class='comment'>#command.delete(:read)
</span>
  <span class='id identifier rubyid_command'>command</span>.<span class='id identifier rubyid_merge!'>merge!</span>(<span class='const'><a href="../../../Options.html" title="Mongo::Options (module)">Options</a></span><span class='op'>::</span><span class='const'><a href="../../../Options/Mapper.html" title="Mongo::Options::Mapper (module)">Mapper</a></span>.<span class='id identifier rubyid_transform_documents'><a href="../../../Options/Mapper.html#transform_documents-instance_method" title="Mongo::Options::Mapper#transform_documents (method)">transform_documents</a></span>(<span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::MapReduce#options (method)">options</a></span><span class='comma'>,</span> <span class='const'><a href="#MAPPINGS-constant" title="Mongo::Collection::View::Builder::MapReduce::MAPPINGS (constant)">MAPPINGS</a></span>))
  <span class='id identifier rubyid_command'>command</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="specification-instance_method">
  <h3 class='signature '>
    #<strong>specification</strong>  &#x21d2; <code>Hash</code> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Get the specification to pass to the map/reduce operation.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
        <p class='example_title'><div class='inline'>
<p>Get the specification.</p>
</div></p>
      <pre class='example code ruby'><code><span class='id identifier rubyid_builder'>builder</span>.<span class='id identifier rubyid_specification'>specification</span></code></pre>
  </div>
<p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>Hash</code>)</span>
&mdash;    <div class='inline'>
<p>The specification.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L82-L92'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='82' data-end='92'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 82</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_specification'>specification</span>
  <span class='id identifier rubyid_spec'>spec</span> <span class='op'>=</span> {
    <span class='label'>selector:</span> <span class='id identifier rubyid_map_reduce_command'><a href="#map_reduce_command-instance_method" title="Mongo::Collection::View::Builder::MapReduce#map_reduce_command (method)">map_reduce_command</a></span><span class='comma'>,</span>
    <span class='label'>db_name:</span> <span class='id identifier rubyid_database'>database</span>.<span class='id identifier rubyid_name'>name</span><span class='comma'>,</span>
    <span class='comment'># Note that selector just above may also have a read preference
</span>    <span class='comment'># specified, per the #map_reduce_command method below.
</span>    <span class='label'>read:</span> <span class='id identifier rubyid_read'>read</span><span class='comma'>,</span>
    <span class='label'>session:</span> <span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::MapReduce#options (method)">options</a></span>[<span class='symbeg'>:</span><span class='id identifier rubyid_session'>session</span>]
  }
  <span class='id identifier rubyid_write?'><a href="#write%3F-instance_method" title="Mongo::Collection::View::Builder::MapReduce#write? (method)">write?</a></span>(<span class='id identifier rubyid_spec'>spec</span>) <span class='op'>?</span> <span class='id identifier rubyid_spec'>spec</span>.<span class='id identifier rubyid_merge!'>merge!</span>(<span class='label'>write_concern:</span> <span class='id identifier rubyid_write_concern'><a href="../../View.html#write_concern-instance_method" title="Mongo::Collection::View#write_concern (method)">write_concern</a></span>) <span class='op'>:</span> <span class='id identifier rubyid_spec'>spec</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="view_options-instance_method">
  <h3 class='signature priv'>
    #<strong>view_options</strong>   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L130-L134'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='130' data-end='134'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 130</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_view_options'>view_options</span>
  <span class='ivar'>@view_options</span> <span class='op'>||=</span> (<span class='id identifier rubyid_opts'>opts</span> <span class='op'>=</span> <span class='id identifier rubyid_view'><a href="#view-instance_method" title="Mongo::Collection::View::Builder::MapReduce#view (method)">view</a></span>.<span class='id identifier rubyid_options'><a href="#options-instance_method" title="Mongo::Collection::View::Builder::MapReduce#options (method)">options</a></span>.<span class='id identifier rubyid_dup'>dup</span>
                     <span class='id identifier rubyid_opts'>opts</span>.<span class='id identifier rubyid_delete'>delete</span>(<span class='symbeg'>:</span><span class='id identifier rubyid_session'>session</span>)
                     <span class='id identifier rubyid_opts'>opts</span>)
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="write?-instance_method">
  <h3 class='signature priv'>
    #<strong>write?</strong>(spec)  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/map_reduce.rb#L96-L101'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='96' data-end='101'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/map_reduce.rb', line 96</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_write?'>write?</span>(<span class='id identifier rubyid_spec'>spec</span>)
  <span class='kw'>if</span> <span class='id identifier rubyid_out'>out</span> <span class='op'>=</span> <span class='id identifier rubyid_spec'>spec</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_selector'><a href="../../View.html#selector-instance_method" title="Mongo::Collection::View#selector (method)">selector</a></span>][<span class='symbeg'>:</span><span class='id identifier rubyid_out'>out</span>]
    <span class='id identifier rubyid_out'>out</span>.<span class='id identifier rubyid_is_a?'>is_a?</span>(<span class='const'>String</span>) <span class='op'>||</span>
      (<span class='id identifier rubyid_out'>out</span>.<span class='id identifier rubyid_respond_to?'>respond_to?</span>(<span class='symbeg'>:</span><span class='id identifier rubyid_keys'>keys</span>) <span class='op'>&amp;&amp;</span> <span class='id identifier rubyid_out'>out</span>.<span class='id identifier rubyid_keys'>keys</span>.<span class='id identifier rubyid_first'>first</span>.<span class='id identifier rubyid_to_s'>to_s</span>.<span class='id identifier rubyid_downcase'>downcase</span> <span class='op'>!=</span> <span class='const'><a href="../../View.html" title="Mongo::Collection::View (class)">View</a></span><span class='op'>::</span><span class='const'><a href="../MapReduce.html" title="Mongo::Collection::View::MapReduce (class)">MapReduce</a></span><span class='op'>::</span><span class='const'><a href="../MapReduce.html#INLINE-constant" title="Mongo::Collection::View::MapReduce::INLINE (constant)">INLINE</a></span>)
  <span class='kw'>end</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>