<!DOCTYPE html>
<html>
<head>

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
<meta name='apple-touch-fullscreen'       content='yes'>
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='rgba(228,228,228,1.0)'>

<title>Class: Mongo::Collection::View::Builder::OpQuery &mdash; Mongo master</title>

<link rel='stylesheet'  type='text/css' href='../../../../../css/y_fonts.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/highlight.github.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_style.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_list.css' />
<link rel='stylesheet'  type='text/css' href='../../../../../css/y_color.css' />

<script type='text/javascript'>
  var pathId = "Mongo::Collection::View::Builder::OpQuery",
    relpath = '../../../../';

  var t2Info = {
    CSEP: '.',
    ISEP: '#',
    NSEP: '::'
  };
</script>

<script type='text/javascript' charset='utf-8' src='../../../../../js/highlight.pack.js'></script>
<script type='text/javascript' charset='utf-8' src='../../../../../js/y_app.js'></script>

</head>
<body>
<svg id='y_wait' class viewBox='0 0 90 90'></svg>
<div id='settings' class='hidden'></div>
<div id='y_list' class='d h'>
  <header id='list_header'></header>
  <nav id= 'list_nav' class='y_nav l_nav'>
    <ul id='list_items'></ul>
  </nav>
</div>
<div id='y_toc' class='f h'>
  <header id='toc_header'></header>
  <nav id= 'toc_nav' class='y_nav t_nav'>
  <ol id='toc_items'></ol>
  </nav>
</div>
<div id='y_main' tabindex='-1'>
  <header id='y_header'>
    <div id='y_menu'>
      <a id='home_no_xhr' href='/'>Home</a> &raquo; 
      <a href='../../../../'>Mongo master</a> &raquo; 
      <a href='../../../../_index.html#alpha_O'>Index (O)</a> &raquo; 
        <a href="../../../../Mongo.html" title="Mongo (module)">Mongo</a> &raquo; 
        <a href="../../../Collection.html" title="Mongo::Collection (class)">Collection</a> &raquo; 
        <a href="../../View.html" title="Mongo::Collection::View (class)">View</a> &raquo; 
        <a href="../Builder.html" title="Mongo::Collection::View::Builder (module)">Builder</a> &raquo; 
      <span class='title'><a id='t2_doc_top' href='#'>OpQuery&nbsp;&#x25B2;</a></span>
    </div>

    <a id='list_href' href="../../../../class_list.html"></a>
    <div id='y_measure_em' class='y_measure'></div>
    <div id='y_measure_vh' class='y_measure'></div>
    <span id='y_measure_50pre' class='y_measure'><code>123456789_123456789_123456789_123456789_123456789_</code></span>
  </header>
<div id='content' class='class'>
<h1>Class: Mongo::Collection::View::Builder::OpQuery</h1>
<div id='t2_rel_sf_div'>
<table id='t2_rel_sf' class='y_box'>
  <thead>
    <tr><td id='t2_relations' colspan='2'>Relationships & Source Files</td></tr>
  </thead>
  <tbody>
    <tr><td class='box_h' colspan='2'>Super Chains via Extension / Inclusion / Inheritance</td></tr>
    <tr>
      <td colspan='2'>
        <div class='box_2'>Class Chain:</div>
        <div class='box_22'>
          self,
          Forwardable
        </div>
      </td>
    </tr>
    <tr>
      <td id='t2_inherits' class='box_2'>Inherits:</td>
      <td class='box_rel'>
        <span class='inheritName'>Object</span>
      </td>
    </tr>
    <tr class='single'>
      <td id='t2_defined_in' class='box_2'>Defined in:</td>
      <td class='box_rel'><a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/op_query.rb#L23'>lib/mongo/collection/view/builder/op_query.rb</a>      </td>
    </tr>
  </tbody>
</table>
</div>
<h2 id='h2_overview'>Overview</h2>
<div id='overview_ds'>
<div class='docstring'>
  <div class='discussion'>
    
<p>Builds a legacy OP_QUERY specification from options.</p>

  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
</div>
<h2 class='h2_sum' id='class_method_summary'>Class Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#new-class_method" title=".new (class method)">.<strong>new</strong>(view)  &#x21d2; OpQuery </a>
    </span>
    <span class='note title constructor'>constructor</span>
    <div class='summary_desc'>
      <div class='inline'><p>Create the new legacy query builder.</p></div>
    </div>
  </li>
</ul>
</div>  <!-- class_method_summary -->

<h2 class='h2_sum' id='instance_attribute_summary'>Instance Attribute Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature ro'>
      <a href="#modifiers-instance_method" title="#modifiers (instance method)">#<strong>modifiers</strong>  &#x21d2; BSON::Document </a>
    </span>
    <span class='note title readonly'>readonly</span>
  </li>
  <li>
    <span class='summary_signature ro priv'>
      <a href="#requires_special_filter%3F-instance_method" title="#requires_special_filter? (instance method)">#<strong>requires_special_filter?</strong>  &#x21d2; Boolean </a>
    </span>
    <span class='note title readonly'>readonly</span>
    <span class='note title private'>private</span>
  </li>
</ul>
</div>  <!-- instance_attribute_summary -->

<h2 class='h2_sum' id='instance_method_summary'>Instance Method Summary</h2>
<div class='div_sum'>
<ul class='summary full'>
  <li>
    <span class='summary_signature '>
      <a href="#specification-instance_method" title="#specification (instance method)">#<strong>specification</strong>  </a>
    </span>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#query_options-instance_method" title="#query_options (instance method)">#<strong>query_options</strong>  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#read_pref_formatted-instance_method" title="#read_pref_formatted (instance method)">#<strong>read_pref_formatted</strong>  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
  <li>
    <span class='summary_signature priv'>
      <a href="#special_filter-instance_method" title="#special_filter (instance method)">#<strong>special_filter</strong>  </a>
    </span>
    <span class='note title private'>private</span>
  </li>
</ul>
</div>  <!-- instance_method_summary -->
<h2 id='Constructor_Details' class='y_details'>Constructor Details</h2>

  <section class='method_details first' id="new-class_method">
  <h3 class='signature  first'>
    .<strong>new</strong>(view)  &#x21d2; <code>OpQuery</code> 
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
<p>Create the new legacy query builder.</p>

  </div>
</div>
<div class='tags'>
    <div class='examples'>
    <p class='tag_title'>Examples:</p>
        <p class='example_title'><div class='inline'>
<p>Create the query builder.</p>
</div></p>
      <pre class='example code ruby'><code><span class='const'>QueryBuilder</span>.<span class='id identifier rubyid_new'>new</span>(<span class='id identifier rubyid_view'><a href="../../View.html#view-instance_method" title="Mongo::Collection::View#view (method)">view</a></span>)</code></pre>
  </div>
<p class='tag_title'>Parameters:</p>
<ul class='param'>
  <li>
    <span class='name'>view</span>
    <span class='type'>(<a href="../../View.html" title="Mongo::Collection::View (class)">Collection::View</a>)</span>
&mdash;    <div class='inline'>
<p>The collection view.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.2</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/op_query.rb#L39-L42'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='39' data-end='42'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/op_query.rb', line 39</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_initialize'>initialize</span>(<span class='id identifier rubyid_view'><a href="../../View.html#view-instance_method" title="Mongo::Collection::View#view (method)">view</a></span>)
  <span class='ivar'>@view</span> <span class='op'>=</span> <span class='id identifier rubyid_view'><a href="../../View.html#view-instance_method" title="Mongo::Collection::View#view (method)">view</a></span>
  <span class='ivar'>@modifiers</span> <span class='op'>=</span> <span class='const'><a href="Modifiers.html" title="Mongo::Collection::View::Builder::Modifiers (module)">Modifiers</a></span>.<span class='id identifier rubyid_map_server_modifiers'><a href="Modifiers.html#map_server_modifiers-class_method" title="Mongo::Collection::View::Builder::Modifiers.map_server_modifiers (method)">map_server_modifiers</a></span>(<span class='id identifier rubyid_options'>options</span>)
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Attribute Details</h2>
<section class='method_details first' id="modifiers-instance_method">
  <h3 class='signature ro first'>
    #<strong>modifiers</strong>  &#x21d2; <code>BSON::Document</code>  <span class="extras">(<span class='readonly'>readonly</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Returns:</p>
<ul class='return'>
  <li>
    <span class='type'>(<code>BSON::Document</code>)</span>
&mdash;    <div class='inline'>
<p>modifiers The server modifiers.</p>
</div>
  </li>
</ul>
<p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/op_query.rb#L29-L29'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='29' data-end='29'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/op_query.rb', line 29</span></pre>
<pre class='code ruby'>

<span class='id identifier rubyid_attr_reader'>attr_reader</span> <span class='symbeg'>:</span><span class='id identifier rubyid_modifiers'>modifiers</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="requires_special_filter?-instance_method">
  <h3 class='signature ro priv'>
    #<strong>requires_special_filter?</strong>  &#x21d2; <code>Boolean</code>  <span class="extras">(<span class='readonly'>readonly</span>, <span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/op_query.rb#L66-L68'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='66' data-end='68'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/op_query.rb', line 66</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_requires_special_filter?'>requires_special_filter?</span>
  <span class='op'>!</span><span class='id identifier rubyid_modifiers'><a href="#modifiers-instance_method" title="Mongo::Collection::View::Builder::OpQuery#modifiers (method)">modifiers</a></span>.<span class='id identifier rubyid_empty?'>empty?</span> <span class='op'>||</span> <span class='id identifier rubyid_cluster'>cluster</span>.<span class='id identifier rubyid_sharded?'>sharded?</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<h2 class='y_details'>Instance Method Details</h2>
<section class='method_details first' id="query_options-instance_method">
  <h3 class='signature priv first'>
    #<strong>query_options</strong>   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/op_query.rb#L56-L64'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='56' data-end='64'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/op_query.rb', line 56</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_query_options'>query_options</span>
  <span class='const'>BSON</span><span class='op'>::</span><span class='const'>Document</span>.<span class='id identifier rubyid_new'><a href="#new-class_method" title="Mongo::Collection::View::Builder::OpQuery.new (method)">new</a></span>(
    <span class='label'>project:</span> <span class='id identifier rubyid_options'>options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_projection'>projection</span>]<span class='comma'>,</span>
    <span class='label'>skip:</span> <span class='id identifier rubyid_options'>options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_skip'>skip</span>]<span class='comma'>,</span>
    <span class='label'>limit:</span> <span class='id identifier rubyid_options'>options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_limit'>limit</span>]<span class='comma'>,</span>
    <span class='label'>flags:</span> <span class='const'><a href="Flags.html" title="Mongo::Collection::View::Builder::Flags (module)">Flags</a></span>.<span class='id identifier rubyid_map_flags'><a href="Flags.html#map_flags-instance_method" title="Mongo::Collection::View::Builder::Flags#map_flags (method)">map_flags</a></span>(<span class='id identifier rubyid_options'>options</span>)<span class='comma'>,</span>
    <span class='label'>batch_size:</span> <span class='id identifier rubyid_options'>options</span>[<span class='symbeg'>:</span><span class='id identifier rubyid_batch_size'>batch_size</span>]
  )
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="read_pref_formatted-instance_method">
  <h3 class='signature priv'>
    #<strong>read_pref_formatted</strong>   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/op_query.rb#L70-L80'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='70' data-end='80'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/op_query.rb', line 70</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_read_pref_formatted'>read_pref_formatted</span>
  <span class='ivar'>@read_formatted</span> <span class='op'>||=</span> <span class='kw'>begin</span>
    <span class='kw'>if</span> <span class='id identifier rubyid_read'>read</span>
      <span class='id identifier rubyid_read_pref'>read_pref</span> <span class='op'>=</span> <span class='const'><a href="../../../ServerSelector.html" title="Mongo::ServerSelector (module)">ServerSelector</a></span>.<span class='id identifier rubyid_get'><a href="../../../ServerSelector.html#get-instance_method" title="Mongo::ServerSelector#get (method)">get</a></span>(<span class='id identifier rubyid_read'>read</span>).<span class='id identifier rubyid_to_mongos'>to_mongos</span>
      <span class='const'><a href="../../../../Mongo.html" title="Mongo (module)">Mongo</a></span><span class='op'>::</span><span class='const'><a href="../../../Lint.html" title="Mongo::Lint (module)">Lint</a></span>.<span class='id identifier rubyid_validate_camel_case_read_preference'><a href="../../../Lint.html#validate_camel_case_read_preference-class_method" title="Mongo::Lint.validate_camel_case_read_preference (method)">validate_camel_case_read_preference</a></span>(<span class='id identifier rubyid_read_pref'>read_pref</span>)
      <span class='id identifier rubyid_read_pref'>read_pref</span>
    <span class='kw'>else</span>
      <span class='kw'>nil</span>
    <span class='kw'>end</span>
  <span class='kw'>end</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="special_filter-instance_method">
  <h3 class='signature priv'>
    #<strong>special_filter</strong>   <span class="extras">(<span class='priv'>private</span>)</span>
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/op_query.rb#L82-L86'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='82' data-end='86'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/op_query.rb', line 82</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_special_filter'>special_filter</span>
  <span class='id identifier rubyid_sel'>sel</span> <span class='op'>=</span> <span class='const'>BSON</span><span class='op'>::</span><span class='const'>Document</span>.<span class='id identifier rubyid_new'><a href="#new-class_method" title="Mongo::Collection::View::Builder::OpQuery.new (method)">new</a></span>(<span class='symbeg'>:</span><span class='gvar'>$query</span> <span class='op'>=&gt;</span> <span class='id identifier rubyid_filter'><a href="../../View.html#filter-instance_method" title="Mongo::Collection::View#filter (method)">filter</a></span>).<span class='id identifier rubyid_merge!'>merge!</span>(<span class='id identifier rubyid_modifiers'><a href="#modifiers-instance_method" title="Mongo::Collection::View::Builder::OpQuery#modifiers (method)">modifiers</a></span>)
  <span class='id identifier rubyid_sel'>sel</span>[<span class='symbeg'>:</span><span class='gvar'>$readPreference</span>] <span class='op'>=</span> <span class='id identifier rubyid_read_pref_formatted'><a href="#read_pref_formatted-instance_method" title="Mongo::Collection::View::Builder::OpQuery#read_pref_formatted (method)">read_pref_formatted</a></span> <span class='kw'>unless</span> <span class='id identifier rubyid_read_pref_formatted'><a href="#read_pref_formatted-instance_method" title="Mongo::Collection::View::Builder::OpQuery#read_pref_formatted (method)">read_pref_formatted</a></span>.<span class='id identifier rubyid_nil?'>nil?</span>
  <span class='id identifier rubyid_sel'>sel</span>
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>

<section class='method_details' id="specification-instance_method">
  <h3 class='signature '>
    #<strong>specification</strong>  
  </h3>
<div class='docstring'>
  <div class='discussion'>
    
  </div>
</div>
<div class='tags'>
  <p class='tag_title'>Since:</p>
<ul class='since'>
  <li>
    <div class='inline'>
<p>2.2.0</p>
</div>
  </li>
</ul>

</div>
  <span class='link_repo'>[&#8202;<a class='repo' href='https://github.com/mongodb/mongo-ruby-driver/blob/master/lib/mongo/collection/view/builder/op_query.rb#L44-L52'>GitHub</a>&#8202;]</span>
<div class='source_code h'>
  <pre class='lines_num' data-start='44' data-end='52'></pre>
  <div class='lines_code'>
<pre><span class='info file'># File 'lib/mongo/collection/view/builder/op_query.rb', line 44</span></pre>
<pre class='code ruby'>

<span class='kw'>def</span> <span class='id identifier rubyid_specification'>specification</span>
  {
    <span class='symbeg'>:</span><span class='id identifier rubyid_selector'><a href="../../View.html#selector-instance_method" title="Mongo::Collection::View#selector (method)">selector</a></span>  <span class='op'>=&gt;</span> <span class='id identifier rubyid_requires_special_filter?'><a href="#requires_special_filter%3F-instance_method" title="Mongo::Collection::View::Builder::OpQuery#requires_special_filter? (method)">requires_special_filter?</a></span> <span class='op'>?</span> <span class='id identifier rubyid_special_filter'><a href="#special_filter-instance_method" title="Mongo::Collection::View::Builder::OpQuery#special_filter (method)">special_filter</a></span> <span class='op'>:</span> <span class='id identifier rubyid_filter'><a href="../../View.html#filter-instance_method" title="Mongo::Collection::View#filter (method)">filter</a></span><span class='comma'>,</span>
    <span class='symbeg'>:</span><span class='id identifier rubyid_read'>read</span>      <span class='op'>=&gt;</span> <span class='id identifier rubyid_read'>read</span><span class='comma'>,</span>
    <span class='symbeg'>:</span><span class='id identifier rubyid_options'>options</span>   <span class='op'>=&gt;</span> <span class='id identifier rubyid_query_options'><a href="#query_options-instance_method" title="Mongo::Collection::View::Builder::OpQuery#query_options (method)">query_options</a></span><span class='comma'>,</span>
    <span class='symbeg'>:</span><span class='id identifier rubyid_db_name'>db_name</span>   <span class='op'>=&gt;</span> <span class='id identifier rubyid_database'>database</span>.<span class='id identifier rubyid_name'>name</span><span class='comma'>,</span>
    <span class='symbeg'>:</span><span class='id identifier rubyid_coll_name'>coll_name</span> <span class='op'>=&gt;</span> <span class='id identifier rubyid_collection'><a href="../../View.html#collection-instance_method" title="Mongo::Collection::View#collection (method)">collection</a></span>.<span class='id identifier rubyid_name'>name</span>
  }
<span class='kw'>end</span>
</pre>
  </div>
</div>
</section>


<div id='footer'></div>
</div> <!-- content  -->
</div> <!-- y_main   -->
</body>
</html>